/ locals: text
#flagged_image_popup
  .image_container
  .right_side
    .image_name
    %hr
    .user_info_wrapper
      .user_photo
      .user_info
        .first_line
          By Cameron.moll
        .second_line
          .user_name
            Cameron Moll
          .items_number
            583 Items
     %hr
     .flag_user_wrapper
       .flag_info
         Flagged 02/21/12 by <a href="#">usernamehere</a>
       .flag_type
     %hr
     .flag_description
       Specific description will be put here
     %hr
     .button_area
       .button.reinstate.left
       .button.remove.left
       .button.cancel.right
