/ local values: user_id, url, data_empty
- if !empty && current_user?(user_id)
  %a.edit-pane.right{ :href => "#{ url }" }
    .icon.edit.left
    .text.black.font12.left Edit
- elsif !empty
  .actions-panel.right
    %a.list.text.black.bold.font10.right{ :href => "#{ url }" } + VIEW ALL
