- content_for :left_content do
  = render :partial => 'user_profile', :locals => { :user => @user }

.profile-wrapper
  #counters.right{:data => {'current-user' => "#{is_current_user(@user.id)}"}}
    = render :partial => 'counters', :locals => { :photos => @images.total_entries,
      :galleries => @galleries.total_entries, :likes => @liked_images.total_entries,
      :followers => @followers.total_entries, :following => @followed_users.total_entries }

  #container.right
    = render :partial => 'main_page'
