#admin_menu{
	background: url('/assets/admin_header_bg.png');
	width:959px;                              
	height:40px;
	padding-left:1px;
	margin-top:10px;
	margin-bottom:25px;
}

#admin_menu li{
	float:left;
	padding-top:1px
}

#admin_menu li div{
	background: url('/assets/admin_header_cell_bg.png') no-repeat;
	background-position:right top;
	height:26px;
	text-align:center;
	padding-top:13px;
}

#admin_menu li div.first_item{
	-webkit-border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

#admin_menu li div.selected{
	background-color:white;
}

#admin_menu li div a{
	margin-left:22px;
	margin-right:22px;
	color:#868686;
	font-weight:normal;
}

#admin_menu li div.selected a{
	font-weight:bold;
	color:black;
}

.admin{
  .title{font-size: 16px;}
  
  .title-bar{
    vertical-align: middle;
    margin-bottom: 15px;
    
    .left{width: 55%;}
    .right{width: 45%;}
    
    #search-options{
      float: right;
      margin-right: 25px;
      .ui-selectmenu{
        height: 20px;
        .ui-selectmenu-status{padding-top: 0.405em;}
      }
    }
    #search-box{width: auto;}
  }
  
  .content{
    .user-container{
      width: 312px;
      height: 67px;
      background-color: #EAEAEA;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
      
      .profile-link{display: inline-block;}
      .user-info{padding-left: 15px; padding-top: 15px;}
      .username{font-size: 18pt; padding-bottom: 5px;}
      .numbers{
        color: #4D4D4D; 
        font-size: 11.5px;
        span.separator{margin: 0 2px}
      }
      a{font-weight: normal;}
    }
    
    .user-container.no-margin-right{margin-right: 0;}
    .pagination{text-align: right; padding-top: 15px;}
  }
}

.admin_title {
	color:black;
	font-size:16px;
	font-weight:bold;
}

/* FLAGGED IMAGES */
.header {
	width:100%;
	float:left;
}
.right_area {
	float:right;
	height: 25px;
	color:#606060;
	
}

#flagged_image_type-button{
	margin-left:5px;
	margin-right:10px;
}

.left_area {
	float:left;
}

.list_flagged_images{
	width:100%;
	margin-top:10px;
	float:left;
}

/* BUTTON */
.button {
    margin-right: 5px;
    height: 27px;
    &.remove_all {
      background: url('/assets/remove_all_button.png') no-repeat;
      width: 81px;
	  height: 21px;
  }
    &.reinstate_all {
      background: url('/assets/reinstate_all_button.png') no-repeat;
      width: 89px;
	  height: 21px
  }
   &.contact_all{
      background: url('/assets/contact_all_button.png') no-repeat;
      width: 81px;
	  height: 21px
  }
    &.reinstate {
      background: url('/assets/reinstate_button.png') no-repeat;
      width: 60px;
	  height: 18px;
  }
    &.remove {
      background: url('/assets/remove_button.png') no-repeat;
      width: 53px;
	  height: 18px;
  }
}


/* FLAGGED IMAGE CELL */
.flagged_image_last_element .flagged_image_container{
   margin-right: 0px;
}

.flagged_image_container{ 
  width:155px;
  margin-right: 6px;
  margin-top: 10px;
  float:left;
}
.flagged_image_container .info_line{
  padding-left:10px;
  margin-top: 5px;
  font:11px;
}
.flagged_image_container .wordwrap{
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.flagged_image_container .image_frame{
	width:155px;
	height:155px;
	background: black;
}
 .flagged_image_container .button_area{
	width:100%;
	margin-top: 10px;
	height:20px;
}
.flagged_image_container .image_name{
	font-weight:bold;
	color:black;
 }
.flagged_image_container .author{

 }
.flagged_image_container .flagged_time{
   color: #606060;
}
.flagged_image_container .type{
	color: #606060;
}
.flagged_image_container .description{
   color: #b3b3b3;
   font-style:italic;
   height: 60px;
   width:155px;
   overflow:hidden;
   border:none;
   background:none;
}




