/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.main {
  .banner {
    color: #FFFFFF !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    .info {
      word-wrap: break-word;
      text-align: left;
      line-height: 24.4px;
      font-size: 16px;
    }
  }
  &.the-app {
    height: 475px;
    .banner {
      background: url("/assets/bg-banner-the-app.png") repeat-x scroll center left transparent;
      height: 530px;
      .left {
        width: 500px;
        margin-top: 120px;
        ul {
          margin-top: 7px;
          li {
            padding: 1px 0;
          }
        }
        .check {
          background: url("/assets/banner-check.png") no-repeat scroll center left transparent;
          height: 20px;
          padding-left: 18px;
        }
        .info {
          height: 152px;
          margin: 30px 0;
        }
      }
      .right {
        background: url("/assets/img-banner-devices-the-app.png") no-repeat scroll center left transparent;
        height: 418px;
        width: 431px;
        margin-top: 90px;
      }
    }
  }
  &.spotlight {
    height: 386px;
    .banner {
      background: url("/assets/bg-banner-spotlight.png") repeat-x scroll center left transparent;
      height: 441px;
      .left {
        width: 435px;
        margin-top: 115px;
        .info {
          margin: 20px 0;
        }
      }
      .right {
        background: url("/assets/img-banner-devices-spotlight.png") no-repeat scroll center left transparent;
        height: 316px;
        width: 525px;
        margin-top: 104px;
      }
    }
  }
}

#right {
  width: 234px;
}

#banner {
  .main {
    .left {
      .logo {
        background: url("/assets/logo-uplo-banner.png") no-repeat scroll center left transparent;
        width: 157px;
        height: 44px;
        margin-bottom: 10px;
      }
    }
  }

  .sub {
    background: url("/assets/bg-sub-banner.png") repeat-x scroll center left transparent;
    height: 149px;
    .wrapper {
      height: 140px;
    }
    .devider {
      padding: 20px 34px;
    }
    .info {
      width: 273px;
      word-wrap: break-word;
      text-align: justify;
      font-size: 12px;
      margin: 20px 0;
      line-height: 22px;
      .header {
        font-weight: bold;
        font-size: 14px;
        .main {
          font-size: 24px;
        }
      }
      .text {
        line-height: 18px;
        margin-top: 7px;
      }
    }
  }
}
