/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.cart-details {
  font-size: 11.5px;
  line-height: 22px;
  .cell {
    width: 100px;
    text-align: right;
    margin-top: 50px;
    &.preview {
      width: 360px;
      margin: 0;
      text-align: left;
    }
  }
  .line {
      height: 100px;
      padding: 10px 0;
      border-bottom: 1px $fuzzy-text solid;
      .preview {
        img {
          width: 100px;
          height: 100px;
        }
        a:link {
          font-weight: normal;
        }
        .edit {
          background: url("/assets/icon-edit.jpg") no-repeat scroll 0 0 transparent;
          height: 9px;
          width: 9px;
          margin-top: 6px;
        }
        .name{
          color: $bold-text;
          font-weight: bold;
          width: 250px;
          word-wrap: break-word;
          padding-left: 10px;
          margin-top: 50px;
        }
      }
  }
  .header {
    padding: 5px 0;
    border-bottom: 1px $fuzzy-text solid;
    color: $bold-text;
    font-weight: bold;
    height: 20px;
    .cell {
      margin: 0;
    }
  }
  .footer {
    .summary {
      font-weight: bold;
      font-size: 13.5px;
    }
    .cell {
      margin-top: 0;
    }
  }
}

.actions {
  font-size: 13.5px;
  .shopping a {
    color: $bold-text;
    font-weight: normal;
    text-decoration: underline;
  }
  .checkout {
    background: url("/assets/btn-checkout.jpg") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 137px;
    margin-top: 10px;
  }
}

.option {
  margin-bottom: 10px;
  .header {
    color: $bold-text;
    font-size: 13px;
    font-weight: bold;
    // background: url("/assets/option-header-bg.png") repeat-x scroll 0 0 transparent;
  }
}

.add-to-cart {
  background: url("/assets/btn-add-to-cart.jpg") no-repeat scroll 0 0 transparent;
  height: 27px;
  width: 91px;
}