/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzier-color: #EEEEEE;
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;

/*==================================================================================*/
/* IDs */
/*==================================================================================*/
#order-details {
  .round-box {
    width: 298px;
    padding: 0;
  }
  .item {
    width: 125px;
    line-height: 22px;
    padding: 5px 10px;
    input[type='radio'] {
      margin: 0;
      padding: 0;
      vertical-align: middle
    }
    label {
      vertical-align: middle;
      float: none;
      margin: 0;
    }
  }
}

#order-shippings {
  #billing-address {
    #billing_ship_to_billing {
      margin: 8px 5px 0 0;
    }
  }
  #shipping-address {
    height: auto;
    min-height: 155px;
    .edit {
      width: 281px;
      font-size: 11.5px;
      background-color: #EEEEEE;
      border: 1px solid #CBCBCB;
      padding: 15px 10px;
      a {
        text-decoration: underline;
        font-weight: normal;
      };
    }
  }
  .submit {
    background: url('/assets/btn-place-order.jpg') no-repeat;
    width: 94px;
    height: 28px;
  }
}

#order-summary {
  .solid-block {
    background-color: #EEEEEE;
    padding: 10px;
    margin-top: 5px;
    font-size: 13.5px;
    .no-background {
      background-color: white;
    }
  }
}

#cvv-explanation {
  font-size: 11.5px;
  font-weight: normal;
  text-decoration: underline;
}

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.cart-details {
  font-size: 11.5px;
  line-height: 22px;
  .cell {
    width: 100px;
    text-align: center;
    margin-top: 50px;
    &.preview {
      width: 360px;
      margin: 0;
      text-align: left;
    }
    &.subtotal {
      text-align: right;
    }
  }
  .line {
      height: 100px;
      padding: 10px 0;
      border-bottom: 1px $fuzzy-text solid;
      .preview {
        img {
          width: 100px;
          height: 100px;
        }
        a:link {
          font-weight: normal;
        }
        .edit {
          background: url("/assets/icon-edit.jpg") no-repeat scroll 0 0 transparent;
          height: 9px;
          width: 9px;
          margin-top: 6px;
        }
        .name{
          color: $bold-text;
          font-weight: bold;
          width: 250px;
          word-wrap: break-word;
          padding-left: 10px;
          margin-top: 50px;
        }
      }
  }
  .header {
    padding: 5px 0;
    border-bottom: 1px $fuzzy-text solid;
    color: $bold-text;
    font-weight: bold;
    height: 20px;
    .cell {
      margin: 0;
    }
  }
  .footer {
    .summary {
      font-weight: bold;
      font-size: 13.5px;
      color: $bold-text;
    }
    .subtotal {
      width: 140px;
    }
    .cell {
      margin-top: 0;
    }
  }
}

.actions {
  font-size: 13.5px;
  line-height: 22px;
  .shopping a {
    color: $bold-text;
    font-weight: normal;
    text-decoration: underline;
  }
  .checkout {
    background: url("/assets/btn-checkout.jpg") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 137px;
    margin-top: 10px;
  }
}

.option {
  margin-bottom: 10px;
  .header {
    color: $bold-text;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 10px;
    background: url("/assets/option-header-bg.png") repeat-x scroll 0 0 transparent;
    border: {
      top-left-radius: 5px;
      top-right-radius: 5px;
    }

  }
  .line {
    border-top: 1px solid $fuzzy-text;
    width: 298px;
  }
}

.add-to-cart {
  background: url("/assets/btn-add-to-cart.jpg") no-repeat scroll 0 0 transparent;
  height: 27px;
  width: 91px;
}

.order_summary{
  padding-right: 25px;
  width: 303px;
  font-size: 13.5px;
  input {
    width: 200px;
  }
  .header{
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    color: $bold-text;
    .italic {
      font-size: 12px;
      color: $normal-text;
      font-weight: normal;
      line-height: 20px;
    }
  }
  .inputs{
    width: 100%;
    .info {
      padding-bottom: 5px;
      height: 30px;
      label {
        width: 120px;
        margin: 9px 0;
      }
      input {
        width: 169px;
        font-size: 13.5px;
      }
      select {
        width: 183px !important;
        height: 30px;
        padding: 3px 1px;
      }
      &.expiration-date {
        select {
          width: 87px !important;
        }
        #card_expires_on_2i {
          margin-right: 9px;
        }
      }
    }
    .simple_form {
      label {
        width: 110px;
      }
      input[type=text], input[type=email], input[type=password] {
        width: 176px;
      }
    }
  }
  .actions{
    float:left;
  }
}

.block {
  width: 100%;
  padding: 10px 0;
  .text {
    padding: 3px 5px;
    width: 273px;
    .bold, &.bold {
      font-weight: bold;
    }
  }
}
.summary {
  padding-bottom: 10px;
  .text {
    height: 20px;
    padding-right: 5px;
    .bold {
      font-weight: bold;
      color: $bold-text;
    }
    .right {
      width: 120px;
      text-align: right;
    }
  }
  &.grand-total {
    font-size: 17px;
    margin: 5px 0;
  }
}