.images-wrapper {
  margin-left: 0px !important;
}
.image-container {
  height: auto !important;
  padding: 20px !important;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #FFFE7C;
    background-color: #FEFDC3;
    border-radius: 20px;
  }
}

.entry{
  .preview{
    height: 180px;
    text-align: center;
    width: 180px;
    margin-bottom: 5px;
  }
  .name {
    color: #4B4B4B;
    overflow: hidden;
    padding: 0 2px;
    float: left;
    font-weight: normal;
  }

  .price{
    .likes {
      color: #4B4B4B;
      font-style: italic;
      font-size: 14px;
    }

    font-weight: bold;
    float: right;
    padding: 0 2px;
  }
}
