/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;
$small-image-size: 48px;
$thumb-image-size: 150px;
$medium-image-size: 640px;

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.image-container{
  display: inline-block;
  float: left;
  height: auto;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  img {
    display: inline-block;
  }
  &.thumb {
    width: $thumb-image-size;
    height: $thumb-image-size;
    padding: 0.3em;
  }
  &.small {
    width: $small-image-size;
    height: $small-image-size;
    padding: 6.25px;
  }
}

.image-thumb {
  width: $thumb-image-size;
  height: $thumb-image-size;
}

.image {
  &.small {
    width: $small-image-size;
    height: $small-image-size;
  }
  &.thumb {
    width: $thumb-image-size;
    height: $thumb-image-size;
  }
  &.medium {
    width: $medium-image-size;
    img {
      width: $medium-image-size;
      height: $medium-image-size;
    }
  }
}

.entry{
  .preview{
    text-align: center;
    margin-bottom: 5px;
  }
  .name {
    color: #4B4B4B;
    overflow: hidden;
    padding: 0 2px;
    float: left;
    font-weight: normal;
  }

  .price{
    .likes {
      color: #4B4B4B;
      font-style: italic;
      font-size: 14px;
    }

    font-weight: bold;
    float: right;
    padding: 0 2px;
  }
}
