/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;
$small-image-size: 75px;
$thumb-image-size: 155px;
$medium-image-size: 640px;
$image-space: 0.113em;
$color-black: #111111;

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.gallery-container {
  margin: $image-space $image-space 10px $image-space;
  background-color: #FFFFFF;
  border-bottom: 1px solid $fuzzy-text;
  .image-container {
    margin: 0 0 10px 0 !important;
    border: 1px solid $fuzzy-text;
    line-height: 153px;
    // background-color: $color-black;
  }
  .gallery-info {
    font-size: 12px;
    padding: 0.113em 10px;
    margin-bottom: 10px;
  }
  .text.bold {
    font-weight: bold;
  }
  .text {
    line-height: 18px;
  }
}
.image-container {
  display: inline-block;
  float: left;
  height: auto;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  img {
    display: inline-block;
  }
  &.thumb {
    width: $thumb-image-size;
    height: $thumb-image-size;
    margin: $image-space;
  }
  &.small {
    width: $small-image-size;
    height: $small-image-size;
    margin: $image-space;
  }
  &.medium {
    width: $medium-image-size;
    max-height: $medium-image-size;
  }
}

.image-thumb {
  width: $thumb-image-size;
  height: $thumb-image-size;
}

.image {
  text-align: center;
  vertical-align: middle;
  &.small {
    width: $small-image-size;
    height: $small-image-size;
  }
  &.thumb {
    max-width: $thumb-image-size;
    max-height: $thumb-image-size;
  }
  &.medium {
    max-width: $medium-image-size;
    max-height: $medium-image-size;
    img {
      max-width: $medium-image-size;
      max-height: $medium-image-size;
    }
  }
}

.entry {
  .preview {
    text-align: center;
    margin-bottom: 5px;
  }
  .name {
    color: #4B4B4B;
    overflow: hidden;
    padding: 0 2px;
    float: left;
    font-weight: normal;
  }

  .price{
    .likes {
      color: #4B4B4B;
      font-style: italic;
      font-size: 14px;
    }

    font-weight: bold;
    float: right;
    padding: 0 2px;
  }
}

.sections {
  width: 640px;
  position: relative;
  .actions {
    width: 100%;
    margin: 10px 0;
    font-size: 13.5px;
    color: $fuzzy-text;
    .left {
      line-height: 27px;
      .times {
        font-weight: bold;
      }
      .icon {
        height: 13px;
        width: 13px;
        margin: 7px 3px 0 0;
      }
      .like {
        margin-right: 20px;
        .icon {
          background: url('/assets/icon-like.jpg') no-repeat;
        }
      }
      .comment .icon {
        background: url('/assets/icon-comment.jpg') no-repeat;
      }
    }
    .right {
      .button {
        margin-left: 5px;
        height: 27px;
        &.comment {
          background: url('/assets/btn-comment.jpg') no-repeat;
          width: 98px;
        }
        &.like, &.dislike {
          background: url('/assets/btn-like.jpg') no-repeat;
          width: 65px;
        }
        &.order {
          background: url('/assets/btn-order.jpg') no-repeat;
          width: 80px;
        }
        &.share {
          background: url('/assets/btn-share.png') no-repeat;
          width: 77px;
        }
      }
    }
  }
}

#spotlight-images {
  width: 710px;
  .image-container.thumb {
    width: 172px;
    img {
      width: 172px;
    }
  }
}
#new-gallery {
  background: url('/assets/btn-add-gallery.png') no-repeat;
  width: 127px;
  height: 23px;
}
