/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;
$smallest-image-size: 66px;
$smaller-image-size: 67px;
$small-image-size: 68px;
$thumb-image-size: 155px;
$medium-image-size: 638px;
$small-avatar-size: 24px;
$medium-avatar-size: 48px;
$large-avatar-size: 67px;
$extra-large-avatar-size: 96px;
$image-space: 3px;
$color-black: #111111;
$color-gray: #606060;
$color-light-gray: #a1a1a1;

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.avatar {
  &.small {
    width: $small-avatar-size;
    height: $small-avatar-size;
  }
  &.medium {
    width: $medium-avatar-size;
    height: $medium-avatar-size;
  }
  &.large {
    width: $large-avatar-size;
    height: $large-avatar-size;
  }
  &.extra {
    width: $extra-large-avatar-size;
    height: $extra-large-avatar-size;
  }
}

.user-section {
  .avatar {
    &.small {
      margin-right: 8px;
    }
    &.medium {
      margin-right: 10px;
    }
  }
}
.gallery-container {
  margin: $image-space $image-space 12px $image-space;
  background-color: #FFFFFF;
  border-bottom: 1px solid $fuzzy-text;
  .image-container {
    margin: 0 !important;
    line-height: 153px;
    // background-color: $color-black;
  }
  .gallery-info {
    padding: 10px 10px 20px;
  }
}
.images-wrapper {
  margin-top: 10px;
}

.image-container-wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container {
  display: inline-block;
  float: left;
  // border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  img {
    display: inline-block;
  }
  &.thumb {
    width: $thumb-image-size;
    height: $thumb-image-size;
    margin: $image-space;
    &.profile {
      width: 101px;
      height: 101px;
    }
  }
  &.smaller {
    width: $smaller-image-size;
    height: $smaller-image-size;
    margin: $image-space;
  }
  &.small {
    width: $small-image-size;
    height: $small-image-size;
    margin: $image-space;
  }
  &.medium {
    width: $medium-image-size;
    max-width: $medium-image-size;
    border: 1px solid $color-light-gray;
    float: none;
    padding: 5px;
  }
}

.image-thumb {
  width: $thumb-image-size;
  height: $thumb-image-size;
}

.image {
  text-align: center;
  vertical-align: middle;
  &.smallest {
    width: $smallest-image-size;
    height: $smallest-image-size;
  }
  &.smaller {
    width: $smaller-image-size;
    height: $smaller-image-size;
  }
  &.small {
    width: $small-image-size;
    height: $small-image-size;
  }
  &.thumb {
    width: $thumb-image-size;
    height: $thumb-image-size;
    &.profile {
      width: 101px;
      height: 101px;
    }
  }
  &.medium {
    max-width: $medium-image-size;
    max-height: $medium-image-size;
    img {
      max-width: $medium-image-size;
      max-height: $medium-image-size;
    }
  }
}

.entry {
  .preview {
    text-align: center;
    margin-bottom: 5px;
  }
  .name {
    color: #4B4B4B;
    overflow: hidden;
    padding: 0 2px;
    float: left;
    font-weight: normal;
  }

  .price{
    .likes {
      color: #4B4B4B;
      font-style: italic;
      font-size: 14px;
    }

    font-weight: bold;
    float: right;
    padding: 0 2px;
  }
}

.sections {
  width: 640px;
  position: relative;
  .actions {
    width: 100%;
    margin: 10px 0;
    font-size: 13.5px;
    color: $fuzzy-text;
    .left {
      line-height: 27px;
      .label { margin-left: 5px; }
      .icon {
        height: 13px;
        width: 13px;
        margin: 7px 3px 0 0;
      }
      .like {
        margin-right: 20px;
        .icon {
          background: url('/assets/icon-like.jpg') no-repeat;
        }
      }
      .comment .icon {
        background: url('/assets/icon-comment.jpg') no-repeat;
      }
    }
    .right {
      .button {
        margin-left: 5px;
        height: 27px;
        &.comment {
          background: url('/assets/btn-comment.jpg') no-repeat;
          width: 98px;
        }
        &.flag {
          background: url('/assets/btn-flag-photo.png') no-repeat;
          width: 62px;
        }
        &.like {
          background: url('/assets/btn-like.jpg') no-repeat;
          width: 65px;
        }
        &.dislike {
          background: url('/assets/btn-dislike.png') no-repeat;
          width: 65px;
        }
        &.order {
          background: url('/assets/btn-order.jpg') no-repeat;
          width: 80px;
        }
        &.share {
          background: url('/assets/btn-share.png') no-repeat;
          width: 77px;
        }
      }
    }
  }
}

/*==================================================================================*/
/* IDs */
/*==================================================================================*/
#spotlight-images {
  width: 714px;
  margin-bottom: 10px;
  .image-container.thumb, .image.thumb {
    width: 174px;
    height: 154px;
  }
}
#recent-images {
  margin-bottom: 10px;
  .image-container.small, .image.small {
    width: 74px;
    height: 74px;
  }
}
#new-gallery {
  background: url('/assets/btn-add-gallery.png') no-repeat;
  width: 127px;
  height: 23px;
}

#user-section {
  .info {
    margin-left: 1px;
    width: 224px;
    .info-pane {
      width: 100%;
      height: $large-avatar-size;
      background-color: #ebebeb;
      .name {
        margin-bottom: 5px;
      }
    }
  }
}


#comments-section {
  .info-panel {
    width: 582px;
    .comment { margin-top: 3px; }
  }
}

#flag_form{
	width: 352px;
}

#flag_form #selection_container input[type="radio"]{
	vertical-align: middle
}

#flag_form #selection_container span{
	padding-left:6px;
	padding-right:16px;
	vertical-align: text-top;
	line-height: 11px;
}
