.DS_Store
.bundle
config/database.yml
config/gae_cdn.yml
log
*.log
tmp/**/*
coverage
public/cache
public/system
public/images/users
public/temp_data
public/stylesheets/newrelic
tags
*~
rerun.txt
cache
gems
*.swp
*.tmproj
.idea
.sass-cache/
