<p>Greetings! ,</p>
<p>YOU have become a part of UPLO!</p>
<p>A few things to know as we get started together in building the UPLO community</p>

<p>- You are one of the first people to test drive UPLO.  Being one of the first means you get to help shape and build our community.  Be sure to view other people’s work, comment, like, share.  The more you do this, the richer your experience will be whether or not you are purchasing art, or selling your work to others via your own networks.  It also means we need your help with feedback (we love and listen to every comment) and appreciate your patience with the inevitable BUGS.</p>
  
<p>- Curate!  UPLO is in its very early stages, as one of the early users, you will help shape the content that is UPLO’d, make sure you UPLO your best work.  But also remember, you can keep galleries private for just you and a select, invited crowd too. </p>
<p>-  When UPLO’ing imagery, take advantage of the keyword and description tagging, it well help get your work discovered.  Also for now, UPLO will accept JPEG’s only and the larger the file, the larger we can sell it in print for you. Just be sure to take off all pre-existing borders, unless you want them included, for example a “rough border” is acceptable.</p>

<p>- Trust the product. UPLO will endeavor to fix any bugs as quickly as possible, but know that every order placed is guaranteed to be executed with the industries highest standards, and be promptly shipped regardless of any site issues.  And of course, the Copyright to your work will also stay with you! </p>

<%= link_to "Alright, what are you waiting for, click here get started now!", intro_url %>
<p>Thanks for joining and enjoy UPLO’ing!</p>
<p>- Patrick and the UPLO Team</p>
