// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large-font{ 
  font-weight: bold;
  font-size: 16px;
}

#placeholder-image-link{
  color: #0040FF;
}

.not-found{
  text-align: center;
}