/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
$fuzzy-text: #CBCBCB;
$normal-text: #5A5A5A;
$bold-text: #000000;
$smallest-image-size: 66px;
$smaller-image-size: 67px;
$small-image-size: 68px;
$thumb-image-size: 155px;
$medium-image-size: 638px;
$small-avatar-size: 24px;
$medium-avatar-size: 48px;
$large-avatar-size: 67px;
$extra-large-avatar-size: 96px;
$image-space: 3px;
$color-black: #111111;
$color-gray: #606060;
$color-light-gray: #a1a1a1;

.images {

  .popup .button{margin-right: 5px;}

  .avatar {
    &.small {
      width: $small-avatar-size;
      height: $small-avatar-size;
    }
    &.medium {
      width: $medium-avatar-size;
      height: $medium-avatar-size;
    }
    &.large {
      width: $large-avatar-size;
      height: $large-avatar-size;
    }
    &.extra {
      width: $extra-large-avatar-size;
      height: $extra-large-avatar-size;
    }
  }

  .user-section {
    .avatar {
      &.small {
        margin-right: 8px;
      }
      &.medium {
        margin-right: 10px;
      }
    }
  }

  .gallery-container {
    margin: $image-space $image-space 12px $image-space;
    background-color: #FFFFFF;
    border-bottom: 1px solid $fuzzy-text;
    .image-container {
      margin: 0 !important;
      line-height: 153px;
      // background-color: $color-black;
    }
    .gallery-info {
      padding: 10px 10px 20px;
    }
  }

  .images-wrapper {
    margin-top: 10px;
  }

  .image-container-wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .image-container {
    display: inline-block;
    float: left;
    // border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    position: relative;
    img {
      display: inline-block;
    }
    &.thumb {
      width: $thumb-image-size;
      height: $thumb-image-size;
      margin: $image-space;
      &.profile {
        width: 101px;
        height: 101px;
      }
    }
    &.smaller {
      width: $smaller-image-size;
      height: $smaller-image-size;
      margin: $image-space;
    }
    &.small {
      width: $small-image-size;
      height: $small-image-size;
      margin: $image-space;
    }
    &.medium {
      width: $medium-image-size;
      max-width: $medium-image-size;
      border: 1px solid $color-light-gray;
      float: none;
      line-height: 490px;
    }

    &.promote-container{
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 5;
    }

    &.no-border{
      border: none !important;
    }

    .promote-button{
      background: image-url('promote-spotlight-light.png') no-repeat;
      width: 133px;
      height: 26px;

      &.disabled{display: none !important;}
    }
  }

  .image-thumb {
    width: $thumb-image-size;
    height: $thumb-image-size;
  }

  .image {
    text-align: center;
    vertical-align: middle;
    &.smallest {
      width: $smallest-image-size;
      height: $smallest-image-size;
    }
    &.smaller {
      width: $smaller-image-size;
      height: $smaller-image-size;
    }
    &.small {
      width: $small-image-size;
      height: $small-image-size;
    }
    &.thumb {
      width: $thumb-image-size;
      height: $thumb-image-size;
      &.profile {
        width: 101px;
        height: 101px;
      }
    }
    &.medium {
      max-width: $medium-image-size;
      max-height: $medium-image-size;
      img {
        max-width: $medium-image-size;
        max-height: $medium-image-size;
      }
    }
  }

  .entry {
    .preview {
      text-align: center;
      margin-bottom: 5px;
    }
    .name {
      color: #4B4B4B;
      overflow: hidden;
      padding: 0 2px;
      float: left;
      font-weight: normal;
    }

    .price{
      .likes {
        color: #4B4B4B;
        font-style: italic;
        font-size: 14px;
      }

      font-weight: bold;
      float: right;
      padding: 0 2px;
    }
  }

  .sections {
    width: 640px;
    position: relative;
    .actions {
      width: 100%;
      margin: 10px 0;
      font-size: 13.5px;
      color: $fuzzy-text;
      .left {
        line-height: 27px;
        .label { margin-left: 5px; }
        .icon {
          height: 13px;
          width: 13px;
          margin: 7px 3px 0 0;
        }
        .like {
          margin-right: 20px;
          .icon {
            background: image-url('icon-like.jpg') no-repeat;
          }
          .icon-red {
            background: image-url('icon-like-red.jpg') no-repeat;
          }
        }
        .comment .icon {
          background: image-url('icon-comment.jpg') no-repeat;
        }
      }
      .right {
        .button {
          margin-left: 5px;
          height: 27px;
          &.comment {
            background: image-url('btn-comment.jpg') no-repeat;
            width: 98px;
          }
          &.flag {
            background: image-url('btn-flag-photo.png') no-repeat;
            width: 62px;
          }
          &.like {
            background: image-url('btn-like.jpg') no-repeat;
            width: 65px;
          }
          &.dislike {
            background: image-url('btn-dislike.png') no-repeat;
            width: 65px;
          }
          &.order {
            background: image-url('btn-order.jpg') no-repeat;
            width: 80px;
          }
          &.share {
            background: image-url('btn-share.png') no-repeat;
            width: 77px;
          }
        }
      }
    }
  }

  #spotlight-images {
    width: 714px;
    margin-bottom: 10px;
    .image-container.thumb, .image.thumb {
      width: 174px;
      height: 154px;
    }
  }

  #recent-images {
    margin-bottom: 10px;
    .image-container.small, .image.small {
      width: 74px;
      height: 74px;
    }
  }

  #new-gallery {
    background: image-url('btn-add-gallery.png') no-repeat;
    width: 127px;
    height: 23px;
  }

  #user-section {
    .info {
      margin-left: 1px;
      width: 224px;
      .info-pane {
        width: 100%;
        height: $large-avatar-size;
        background-color: #ebebeb;
        .name {
          margin-bottom: 5px;
        }
      }
    }
  }

  #comments-section {
    .info-panel {
      width: 582px;
      .comment { margin-top: 3px; }
    }
  }

  #flag_form {
    width: 340px;
    .main-panel { width: 300px; }
    .message { margin-bottom: 15px; }
  }

  #flag_form #selection_container{
  }

  #flag_form #selection_container input[type="radio"]{
    height:auto;
    margin:0;
    padding:0;
  }

  #flag_form #selection_container label{
    padding-right:16px;
  }

}

#plexi-preview{
  background: image-url('img-frames/plexipreview.jpeg') no-repeat;
  width: 600px;
  height: 600px;
}

#canvas-preview{
  height: 327px;
  width: 336px;
  position: relative;
  overflow: hidden;
}
#canvas-preview:after {
  content:url(img-frames/perspective_mask.png);
	position:absolute;
	top:0;
	left:0;
}
#plexi-actual-image{
  margin: 60px 65px 100px 160px;
  max-width: 300px;
  max-height: 250px;
  box-shadow: 2px 2px 5px #ccc;
  transform: skew(200deg);
}
#canvas-actual-image{
  height: 327px;
  width: 336px;
}