.main.spotlight
  .banner
    .wrapper
      .left
        .logo
        .text.white.bold.font32 Broadcast Your Photos
        .info
          Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        .buttons
          %a{:href => "#", :alt => "Download"}
            = image_tag("/assets/banner-button-download.png")
          %a{:href => "#", :alt => "Learn more", :style => "padding-left: 20px;"}
            = image_tag("/assets/banner-button-learn-more.png")
      .right

.sub
  .wrapper
    .info.left    
      .text.black.bold.font24 Upload.
      .description.text.black.bold.font14 More ways to get your photos online.
      .text.gray.font12.line18
        Multiple ways to upload your photos to UPLO - through the web, your mobile device, email or your favorite photo applications.

    .devider.left
      = image_tag("/assets/banner-divider.png")

    .info.left
      .text.black.bold.font24 Discover.
      .description.text.black.bold.font14 See what's going on in your world.
      .text.gray.font12.line18
        Keep up with your friends and share your stories with comments and notes. Add rich information like tags, locations, and people.

    .devider.left
      = image_tag("/assets/banner-divider.png")

    .info.left
      .text.black.bold.font24 Share.
      .description.text.black.bold.font14 Your photos are everywhere you are.
      .text.gray.font12.line18
        Upload your photos once to UPLO, then easily and safely share them through Facebook, Twitter, email, blogs, and more.