.main.spotlight
  .banner
    .wrapper
      .left
        .logo
        .text.white.bold.font32 From Camera to Frame.
        .info
          UPLO is a print and framing service both online and on the go that enables you to organize your personal photos and buy or sell your photography as printed art—anytime, anywhere.
        .buttons
          =link_to image_tag("banner-button-download.png"), "#"
          =link_to image_tag("banner-button-learn-more.png"), "/intro", {:style => "padding-left: 20px;"}
      .right


.sub
  .wrapper
    .info.left
      .text.black.bold.font24 Buy.
      .description.text.black.bold.font14 Choose from millions of images.
      .text.gray.font12.line18
        Order framed or unframed prints of your own photography, or choose from millions of other images to purchase.

    .devider.left
      = image_tag("banner-divider.png")

    .info.left
      .text.black.bold.font24 Sell.
      .description.text.black.bold.font14 Upload photos and name your price.
      .text.gray.font12.line18
        Simply create galleries of photos to sell and name your own price. You earn a commission for every print sold while building your fan base.

    .devider.left
      = image_tag("banner-divider.png")

    .info.left
      .text.black.bold.font24 Share.
      .description.text.black.bold.font14 Choose to share publicly or privately.
      .text.gray.font12.line18
        Don’t want to share your photos with the world? No problem. Password-protect your galleries to keep images private or share them with a select few.