.main.spotlight
  .banner
    .wrapper
      .follow-us
        %span
          Follow Us
        %ul
          %li
            =link_to image_tag("icon-facebook-dark.png", :alt => "Facebook"), "http://facebook.com/uploapp"
          %li
            =link_to image_tag("icon-twitter-dark.png", :alt => "Twitter"), "http://twitter.com/UPLOapp"
          %li
            =link_to image_tag("icon-wordpress-dark.png", :alt => "Wordpress"), "http://www.uploblog.com/"

      .left
        .logo
        .text.white.bold.font32 From Camera to Frame<sup style="font-size:12px;vertical-align: top;">&trade;</sup>
        .info
          UPLO is a print and framing service both online and on the go that enables you to organize your personal photos and buy or sell your photography as printed art—anytime, anywhere.
        .buttons
          =link_to image_tag("banner-button-download.png"), "https://itunes.apple.com/us/app/uplo/id576329463?ls=1&mt=8"
          =link_to image_tag("banner-button-learn-more.png"), "/iphone_app", {:style => "padding-left: 20px;"}
      .right


.sub
  .wrapper
    .info.left
      .text.black.bold.font24.info-header
        Buy.
      .text.gray.font14.line18
        Collect and hang pristinely printed art prints from your favorite photographers.

    .devider.left
      = image_tag("banner-divider.png")

    .info.left
      .text.black.bold.font24.info-header
        Sell.
      .text.gray.font14.line18
        UPLO and expose your work to masses of eager buyers and collectors.

    .devider.left
      = image_tag("banner-divider.png")

    .info.left
      .text.black.bold.font24.info-header
        Print.
      .text.gray.font14.line18
        UPLO and print your work for private use or as a fine art printing service.

