.spotlight
  .upper.banner
    .wrapper
      .left
        .logo
        .info
          Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        .buttons
          %a{:href => "#", :alt => "Download"}
            = image_tag("/assets/banner-button-download.png")
          %a{:href => "#", :alt => "Learn more", :style => "padding-left: 20px;"}
            = image_tag("/assets/banner-button-learn-more.png")
      .right

  .lower
    .wrapper
      .info.left
        .header
          .main Upload.
          More ways to get your photos online.
        .text
          Multiple ways to upload your photos to UPLO - through the web, your mobile device, email or your favorite photo applications.

      .devider.left
        = image_tag("/assets/banner-divider.jpg")

      .info.left
        .header
          .main Discover.
          See what's going on in your world.
        .text
          Keep us with your friends and share your stories with comments and notes. Add rich information like tags, locations, and people.

      .devider.left
        = image_tag("/assets/banner-divider.jpg")

      .info.left
        .header
          .main Share.
          Your photos are everywhere you are.
        .text
          Upload your photos once to UPLO, then easily and safely share them through Facebook, Twitter, email, blogs, and more.