.main.the-app
  .banner
    .wrapper
      .left
        .header.text.white.bold.font32
          Buy, sell, and share photos,<br> all from your mobile device.
        .info
          The UPLO app provides a simple and secure printing service,<br> allowing you to buy and sell your mobile photos as printed art, all from the convenience of your mobile device.
          %ul.text.font14
            %li.check Purchase your own photos or choose from millions of others to print.
            %li.check Upload photos, name your price, & earn a commission on every print sold.
            %li.check Share with your followers or with a private, hand-selected group.

        .buttons
          =link_to image_tag("banner-button-download-big.png"), "#"
      .right


