.the-app.banner
  .wrapper
    .left
      .header
        Lorem Ipsum
      .info
        Lorem Ipsum
        %ul
          %li.check Lorem ipsum..
          %li.check Lorem ipsum..
          %li.check Lorem ipsum..

      .buttons
        %a{:href => "#", :alt => "Download"}
          = image_tag("/assets/banner-button-download.png")
    .right
