.the-app.banner
  .wrapper
    .left
      .header
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit
      .info
        Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        %ul
          %li.check Lorem Ipsum & Dolor incididunt.
          %li.check Sit Amet Consectetur Adipiscing.
          %li.check Elit Sed Do Eiusmod tempor.

      .buttons
        %a{:href => "#", :alt => "Download"}
          = image_tag("/assets/banner-button-download-big.png")
    .right
