!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Greetings!
    %p
      You've been invited to join UPLO.
    - unless @inv.message.blank?
      %p Message:
      = @inv.message
    %p
      %span Click
      %a{:href => "#{ url_for(:action=>"new", :controller=>"users/registrations", :token => @inv.token, :only_path => false)}"} this link
      %span to sign up for a free UPLO account.
    %p
      Best regards!
