!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear,
    %p
      You have an invitation from UPLO.
    %p
      %span Click this
      %a{:href => "#{ url_for(:action=>"new", :controller=>"users/registrations", :token => @inv.token, :only_path => false)}"} link
      %span to register an UPLO account.
    %p
      Best regards.
