/ locals: text
.selection_container{:style => "width:auto"}
  %div
    =radio_button("post", "category", "rails", :style=>"vertical-align: middle")
    %span{:style=>"padding-left:6px; padding-right:16px"} Terms of Use Violation
    =radio_button("post", "category", "rails", :style=>"vertical-align: middle")
    %span{:style=>"padding-left:6px; padding-right:16px"} Copyright
    =radio_button("post", "category", "rails", :style=>"vertical-align: middle")
    %span{:style=>"padding-left:6px; padding-right:16px"} Nudity