/ local value: notification, title, id
- id = '' if id.nil?
- title = '' if title.nil?
- notification = '' if notification.nil?

- if flash[:processing_photo]
  .flash{:class => "content"}
    .box{:class => "box-notice"}= flash[:processing_photo]
    - flash.delete :processing_photo

- if @notification_visible
  .flash{:style => (flash.count > 0) ? "" : "display:none"}
    .notification-container.fixed-right
      .notification.right
        .header.left
          .left
          .title.text.black.bold.font12.left{:style => "font-size:12px"}
            UPLO Notification
          #notification_close.right
        .container.left
          .main-panel.left.messages
            - flash.each do |key, value|
              .icon_notification.left
              .left.message.wordwrap= value

- else
  - flash_class = "content"
  - style = ""
  - if flash.blank?
    - flash_class = ""
    - style = "display: none"
    
  .flash{:class => flash_class, :style => style}
    - flash.each do |key, value|
      .box{:class => "box-#{key}"}= value
    
    / Show the box template
    .notification-container.hidden.fixed-right
      .notification.right
        .header.left
          .left
          .title.text.black.bold.font12.left{:style => "font-size:12px"}
            UPLO Notification
          #notification_close.right
        .container.left
          .main-panel.left.messages
          
- content_for :js do
  = javascript_tag do
    :erb
      $(document).ready(function(){
       $("#notification_close").click(function(){
         $('#flash').stop(true, true).fadeOut('fast');
        });
      });

