#search-box.right
  %form.search-form{ :action => action, :method => 'get', :controller => "home"}
    .container
      %input#search-keyword.text.light-gray.font11.line12{:type => "text", :name => "query",
                            :value => params[:query], :title => I18n.t("common.search_hint") }
      .search-icon.right

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      $('form.search-form').inputHintOverlay(0, 8);

      $(".search-icon").click(function(){
        $(".search-form").submit();
      });

      $(".search-form").submit(function(){
        var not_support = ["^", "*", "_"];
        var val = $("#search-keyword").attr('value');
        for(var i=0; i<not_support.length; i++){
          if(val.indexOf(not_support[i]) > -1){
            alert("Search can't be performed with these characters: ^, *, _");
            return false;
          }
        }
      });
    });
  </script>
