= javascript_include_tag("lib/jquery.inline_label.min.js")

#search-box
  %form.search-form{ :action => "/browse", :method => 'get'}
    .search-container
      .search-icon
      %input#search-textbox{:type => "text", :name => "query", :class => "text", 
                            :value => params[:query], :title => I18n.t("common.search_hint")}
      .search-right-padding

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      $("#search-textbox").inline_label({use_title: true});
      $("#search-textbox").focusin(function(){
        $(".search-container").addClass("focus");
      });
      
      $("#search-textbox").focusout(function(){
        $(".search-container").removeClass("focus");
      });
      
      $(".search-icon").click(function(){
        $(".search-form").submit();
      });
    });
  </script>
