<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name = "viewport" content = "user-scalable = no">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="/assets/lib/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            navigation:{
                buttonOptions:{
                    enabled:false
                              }
                       },
            title: {
                text: '<br/>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                lineWidth:2,
                categories: [
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Jan</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Feb</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Mar</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Apr</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">May</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Jun</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Jul</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Aug</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Sep</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Oct</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Nov</span>',
                    '<br/><span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">Dec</span>'
                ]
            },
            yAxis: {
                min: 0,
                tickWidth: 1,
                labels: {
                      style: {
                         color: 'black',
                         fontWeight: 'bold',
                         font: '30px Helvetica, Verdana, sans-serif'
                            }
                        },
                title: {
                    text: '<span style="font-size:30px; font-family:Helvetica; color:black;">Sales By Month</span>'
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'right',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {

                    return ''+
                        this.x +'<span style="font-size:30px; font-family:Helvetica; color:black;font-weight:bold;">: '+ this.y +' sales</span>';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0,
                    borderWidth: 0,
                    color:'#fc7700'
                }
            },
                series: [ {
                name: 'Sales',
                data: [148.9, 168.8, 179.3, 151.4, 197.0, 248.3, 199.0, 179.6, 152.4, 165.2, 119.3, 131.2]

            }]
        });
    });

});
		</script>
	</head>
	<body>

    <script src="/assets/lib/column_charts/highcharts.js"></script>
    <script src="/assets/lib/column_charts/exporting.js"></script>

    <div id="container" style="min-width: 400px; height: 460px; margin: 0 auto" ></div>

	</body>
</html>
