!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@user.fullname},
    %p
      Your payment was completed sucessfully. Please wait for the product shipping to your address.
    %p
      Thanks and best regards.
