%p
  Welcome #{@user[:email]}!
%p
  Thank You for joining the UPLO community, your hub for image sharing and ordering printed art.
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', 'http://google.com' #confirmation_url(@user, :confirmation_token => @user.confirmation_token)