<style type="text/css">
	h1, h2, h3, p {
		line-height: 16px; padding: 10px 0;
	}
	h1 { font-size: 18px; }
	h2 { font-size: 16px; }
	h3 { font-size: 14px; }
</style>
<h1>PAYMENT POLICY</h1>
<h2>Payment Options</h2>
<h3>Credit Cards</h3>
<p>
	You may pay for your orders with major credit cards issued in the United States of America. Currently, we accept Visa®, American Express® and Discover® Card.
</p>
<p>
	Generally, credit and debit cards are not charged until we either ship the item(s) to you or confirm availability (at which time you will be charged only for the goods we have actually shipped along with any applicable taxes or shipping charges). However, we may pre-authorize your order amount with your credit or debit card issuer at the time you place the order. If you ordered a special delivery item, you will be charged once a delivery time is confirmed.
</p>
<p>
	At checkout, please carefully provide your exact name, billing address and telephone number that is on your credit card statement. Any incorrect information can cause a delay in processing your order. We also may need to verify the billing address and credit card owner for orders that have a delivery address that is different from the billing address and for large orders. This will require you to send us a copy of your credit card statement, valid ID and a photocopy of the credit card.
</p>
<h3>Checks &amp; Money Orders</h3>
<p>
	We accept personal checks, company checks and money orders. When using these methods of payment, simply add the items you would like to order into your shopping cart and print out the shopping cart with the itemized list of Products and Order Total. Please include a copy of your itemized shopping cart printout and contact phone number with your payment. Money Orders for $500 or greater may be held up to 2 weeks to complete the authentication process; then the order will be shipped. We suggest you transmit the funds via Western Union to avoid delay in processing your order.
</p>
<p>Send Checks or Money Orders to:</p>
<p>
	UPLO, LLC
	<br/>
	140 West 30 <sup>th</sup>
	Street, Suite 4W
	<br/>
	New York, New York 10001
</p>
<h2>Commissions</h2>
<p>
	Commissions shall be payable solely via PayPal. Commissions shall be payable within 45 days after the product is ordered. Commissions shall be determined on the following basis. If a product is purchased at the sales tier 1 a commission of 30% shall be payable to Merchant. If a product is purchased at the sales tier 2 a commission of 35% shall be payable to Merchant. If a product is purchased at the sales tier 3 a commission of 40% shall be payable to Merchant. If a product is purchased at the sales tier 4 a commission of 50% shall be payable to Merchant.
</p>
<h2>Sales Tax Policy</h2>
<p>
	We collect Sales Tax in New York on the total amount of your order, based on New York city and state rates.
</p>
<p>
	UPLO, LLC is based in New York and as an online retailer with a physical business presence in a particular state, such as business offices or distribution warehouses; we are required to collect sales tax for customers in New York Purchases from all other states than New York will not be subject to sales tax; however, consumers who live in a state that collect sales tax are technically required to pay the tax directly to the state even when an internet retailer doesn't collect it. This is referred to as "use" tax rather than sales tax. If you're a tax-exempt entity, you can take advantage of tax-exempt status for applicable purchases made at UPLO, LLC by contacting Customer Service at <%= mail_to "contactus@uplo.com" %>.
</p>
<h2>Promotional Codes</h2>
<p>
	Promotional Codes used on Digital Coupons are debited at the time the order is places. Digital Coupons will automatically be redeemed to your purchase total, up to the total purchase amount. Digital Coupons must be used prior to their noted expiration date and within a single transaction. Coupons cannot be replaced if lost, deleted or if you cancel or return your purchase. In the event of a reduction in price below the coupon value, the excess value of the coupon will not be refunded.
	<h2>Credit Card Security</h2>
	<p>
		The UPLO, LLC Security Guarantee protects you while you shop at the UPLO, LLC Web-Store, so you never have to worry about credit card safety. We guarantee that every transaction you make at the UPLO, LLC Web-Store will be safe. This means you pay nothing if unauthorized charges are made to your credit card as a result of shopping at the UPLO, LLC Web-Store. Our servers use Secure Sockets Layer (SSL), an encryption technology that works with Chrome, Firefox, Internet Explorer, AOL and Apple's Safari Web browsers. This ensures that only the UPLO, LLC Web-Store can read your personal information. We reveal only the last four digits of your credit card numbers when confirming an order. We will, however, transmit the entire credit card number to the appropriate credit card company during order processing.
	</p>
	<p>
		UPLO, LLC has also obtained a digital certificate from GoDaddy, a leading provider of internet trust services. When you enter a secured portion of our site, an image of a closed lock or a solid key should appear in the bottom bar of your browser window. If you click on this image, a small popup window displaying site-security information will appear. This certificate guarantees that your personal information is being transmitted in a secure (encrypted) form to UPLO, LLC Web server, not an unknown or unauthorized server.
	</p>
	<p>
		Ultimately, your personal information is protected by the password you created when you registered for an account at uplo.com or through the UPLO iPhone application. Please keep this password confidential. No representative of UPLO, LLC will ever ask you for your password. The confidentiality of your password is your responsibility to protect.
	</p>
	<h2>Returns</h2>
	<p>
		Items may be returned within 30 days for a full refund minus in the following circumstances. If the item was purchased from the private gallery the item is non-refundable unless the item is damaged. If the item is undamaged, was purchased from the public gallery and is unframed a restocking fee of 20% of the purchase price will be charged. Said restocking fee shall not exceed $40.00. If the item is undamaged, was purchased from the public gallery and is framed a restocking fee of 30% of the purchase price will be charged. Said restocking fee shall not exceed $50.00. In all instances an item may only be returned if the item is not damaged and is returned in its original packaging. Purchaser is responsible for inspecting the item upon delivery and must report any damage within 5 days of its receipt.
	</p>
