:erb
	<html xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:w="urn:schemas-microsoft-com:office:word"
	xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
	xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">

	<head>
	<meta http-equiv=Content-Type content="text/html; charset=macintosh">
	<meta name=ProgId content=Word.Document>
	<meta name=Generator content="Microsoft Word 14">
	<meta name=Originator content="Microsoft Word 14">
	<link rel=File-List href="Privacy%20Policy_files/filelist.xml">
	<!--[if gte mso 9]><xml>
	 <o:DocumentProperties>
	  <o:Author>jason braunstein</o:Author>
	  <o:Template>Normal</o:Template>
	  <o:LastAuthor>vnicon</o:LastAuthor>
	  <o:Revision>2</o:Revision>
	  <o:TotalTime>1</o:TotalTime>
	  <o:LastPrinted>2012-04-04T20:27:00Z</o:LastPrinted>
	  <o:Created>2012-08-14T10:42:00Z</o:Created>
	  <o:LastSaved>2012-08-14T10:42:00Z</o:LastSaved>
	  <o:Pages>2</o:Pages>
	  <o:Words>2282</o:Words>
	  <o:Characters>13014</o:Characters>
	  <o:Company>Microsoft</o:Company>
	  <o:Lines>108</o:Lines>
	  <o:Paragraphs>30</o:Paragraphs>
	  <o:CharactersWithSpaces>15266</o:CharactersWithSpaces>
	  <o:Version>14.0</o:Version>
	 </o:DocumentProperties>
	</xml><![endif]-->
	<link rel=themeData href="Privacy%20Policy_files/themedata.xml">
	<!--[if gte mso 9]><xml>
	 <w:WordDocument>
	  <w:SpellingState>Clean</w:SpellingState>
	  <w:GrammarState>Clean</w:GrammarState>
	  <w:TrackMoves/>
	  <w:TrackFormatting/>
	  <w:AutoHyphenation/>
	  <w:PunctuationKerning/>
	  <w:ValidateAgainstSchemas/>
	  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
	  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
	  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
	  <w:DoNotPromoteQF/>
	  <w:LidThemeOther>EN-US</w:LidThemeOther>
	  <w:LidThemeAsian>JA</w:LidThemeAsian>
	  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
	  <w:Compatibility>
	   <w:BreakWrappedTables/>
	   <w:SnapToGridInCell/>
	   <w:WrapTextWithPunct/>
	   <w:UseAsianBreakRules/>
	   <w:DontGrowAutofit/>
	   <w:SplitPgBreakAndParaMark/>
	   <w:UseFELayout/>
	  </w:Compatibility>
	  <m:mathPr>
	   <m:mathFont m:val="Cambria Math"/>
	   <m:brkBin m:val="before"/>
	   <m:brkBinSub m:val="&#45;-"/>
	   <m:smallFrac m:val="off"/>
	   <m:dispDef/>
	   <m:lMargin m:val="0"/>
	   <m:rMargin m:val="0"/>
	   <m:defJc m:val="centerGroup"/>
	   <m:wrapIndent m:val="1440"/>
	   <m:intLim m:val="subSup"/>
	   <m:naryLim m:val="undOvr"/>
	  </m:mathPr></w:WordDocument>
	</xml><![endif]--><!--[if gte mso 9]><xml>
	 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
	  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
	  LatentStyleCount="276">
	  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
	  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
	  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
	  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
	  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
	  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
	  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
	  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
	  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
	  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
	  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Table Grid"/>
	  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
	  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List Accent 1"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
	  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
	  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
	  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
	  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List Accent 2"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List Accent 3"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List Accent 4"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List Accent 5"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
	  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
	  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light List Accent 6"/>
	  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
	  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
	  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
	  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
	  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
	  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
	  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
	  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
	  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
	  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
	  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
	  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
	   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
	  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
	  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
	  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
	  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
	  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
	   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
	  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
	  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
	 </w:LatentStyles>
	</xml><![endif]-->
	<style>
	<!--
	 /* Font Definitions */
	@font-face
		{font-family:Arial;
		panose-1:2 11 6 4 2 2 2 2 2 4;
		mso-font-charset:0;
		mso-generic-font-family:auto;
		mso-font-pitch:variable;
		mso-font-signature:3 0 0 0 1 0;}
	@font-face
		{font-family:"Courier New";
		panose-1:2 7 3 9 2 2 5 2 4 4;
		mso-font-charset:0;
		mso-generic-font-family:auto;
		mso-font-pitch:variable;
		mso-font-signature:3 0 0 0 1 0;}
	@font-face
		{font-family:Wingdings;
		panose-1:5 0 0 0 0 0 0 0 0 0;
		mso-font-charset:2;
		mso-generic-font-family:auto;
		mso-font-pitch:variable;
		mso-font-signature:0 268435456 0 0 -2147483648 0;}
	@font-face
		{font-family:Mangal;
		panose-1:0 0 0 0 0 0 0 0 0 0;
		mso-font-charset:1;
		mso-generic-font-family:roman;
		mso-font-format:other;
		mso-font-pitch:variable;
		mso-font-signature:8192 0 0 0 0 0;}
	@font-face
		{font-family:Mangal;
		panose-1:0 0 0 0 0 0 0 0 0 0;
		mso-font-charset:1;
		mso-generic-font-family:roman;
		mso-font-format:other;
		mso-font-pitch:variable;
		mso-font-signature:8192 0 0 0 0 0;}
	@font-face
		{font-family:Calibri;
		panose-1:2 15 5 2 2 2 4 3 2 4;
		mso-font-charset:0;
		mso-generic-font-family:auto;
		mso-font-pitch:variable;
		mso-font-signature:3 0 0 0 1 0;}
	@font-face
		{font-family:"Arial Unicode MS";
		panose-1:2 11 6 4 2 2 2 2 2 4;
		mso-font-charset:128;
		mso-generic-font-family:swiss;
		mso-font-pitch:variable;
		mso-font-signature:-134238209 -371195905 63 0 4129279 0;}
	@font-face
		{font-family:OpenSymbol;
		mso-font-charset:0;
		mso-generic-font-family:auto;
		mso-font-pitch:auto;
		mso-font-signature:0 0 0 0 0 0;}
	@font-face
		{font-family:Tahoma;
		panose-1:2 11 6 4 3 5 4 4 2 4;
		mso-font-charset:0;
		mso-generic-font-family:swiss;
		mso-font-pitch:variable;
		mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
	 /* Style Definitions */
	p.MsoNormal, li.MsoNormal, div.MsoNormal
		{mso-style-unhide:no;
		mso-style-parent:"";
		margin:0in;
		margin-bottom:.0001pt;
		mso-pagination:none;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	h2
		{mso-style-unhide:no;
		mso-style-parent:Heading;
		mso-style-next:"Text body";
		margin-top:12.0pt;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:none;
		page-break-after:avoid;
		mso-outline-level:2;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:18.0pt;
		font-family:"Times New Roman";
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	h3
		{mso-style-unhide:no;
		mso-style-parent:Heading;
		mso-style-next:"Text body";
		margin-top:12.0pt;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:none;
		page-break-after:avoid;
		mso-outline-level:3;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:14.0pt;
		font-family:"Times New Roman";
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	h4
		{mso-style-unhide:no;
		mso-style-parent:Heading;
		mso-style-next:"Text body";
		margin-top:12.0pt;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:none;
		page-break-after:avoid;
		mso-outline-level:4;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	p.MsoCaption, li.MsoCaption, div.MsoCaption
		{mso-style-unhide:no;
		mso-style-parent:Standard;
		margin-top:6.0pt;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:no-line-numbers;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;
		font-style:italic;}
	p.MsoList, li.MsoList, div.MsoList
		{mso-style-unhide:no;
		mso-style-parent:"Text body";
		margin-top:0in;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:none;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	span.MsoHyperlink
		{mso-style-unhide:no;
		color:#3385D6;
		text-decoration:none;
		text-underline:none;
		text-decoration:none;
		text-line-through:none;}
	span.MsoHyperlinkFollowed
		{mso-style-noshow:yes;
		mso-style-priority:99;
		color:purple;
		mso-themecolor:followedhyperlink;
		text-decoration:underline;
		text-underline:single;}
	p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
		{mso-style-unhide:no;
		margin:0in;
		margin-bottom:.0001pt;
		mso-pagination:none;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:8.0pt;
		mso-bidi-font-size:7.0pt;
		font-family:"Tahoma","sans-serif";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
		{mso-style-unhide:no;
		mso-style-parent:"";
		margin:0in;
		margin-bottom:.0001pt;
		mso-pagination:widow-orphan;
		text-autospace:ideograph-other;
		font-size:11.0pt;
		font-family:Calibri;
		mso-fareast-font-family:Calibri;
		mso-bidi-font-family:"Times New Roman";}
	p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
		{mso-style-unhide:no;
		margin-top:0in;
		margin-right:0in;
		margin-bottom:10.0pt;
		margin-left:.5in;
		line-height:115%;
		mso-pagination:widow-orphan;
		text-autospace:ideograph-other;
		font-size:11.0pt;
		font-family:Calibri;
		mso-fareast-font-family:Calibri;
		mso-bidi-font-family:"Times New Roman";}
	p.Standard, li.Standard, div.Standard
		{mso-style-name:Standard;
		mso-style-unhide:no;
		mso-style-parent:"";
		margin:0in;
		margin-bottom:.0001pt;
		mso-pagination:none;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	p.Heading, li.Heading, div.Heading
		{mso-style-name:Heading;
		mso-style-unhide:no;
		mso-style-parent:Standard;
		mso-style-next:"Text body";
		margin-top:12.0pt;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:none;
		page-break-after:avoid;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:14.0pt;
		font-family:Arial;
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	p.Textbody, li.Textbody, div.Textbody
		{mso-style-name:"Text body";
		mso-style-unhide:no;
		mso-style-parent:Standard;
		margin-top:0in;
		margin-right:0in;
		margin-bottom:6.0pt;
		margin-left:0in;
		mso-pagination:none;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	p.Index, li.Index, div.Index
		{mso-style-name:Index;
		mso-style-unhide:no;
		mso-style-parent:Standard;
		margin:0in;
		margin-bottom:.0001pt;
		mso-pagination:no-line-numbers;
		mso-hyphenate:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	span.Internetlink
		{mso-style-name:"Internet link";
		mso-style-unhide:no;
		mso-style-parent:"";
		color:navy;
		text-decoration:underline;
		text-underline:single;}
	span.BulletSymbols
		{mso-style-name:"Bullet Symbols";
		mso-style-unhide:no;
		mso-style-parent:"";
		font-family:OpenSymbol;
		mso-ascii-font-family:OpenSymbol;
		mso-fareast-font-family:OpenSymbol;
		mso-hansi-font-family:OpenSymbol;
		mso-bidi-font-family:OpenSymbol;}
	span.NumberingSymbols
		{mso-style-name:"Numbering Symbols";
		mso-style-unhide:no;
		mso-style-parent:"";}
	span.BalloonTextChar
		{mso-style-name:"Balloon Text Char";
		mso-style-unhide:no;
		mso-ansi-font-size:8.0pt;
		mso-bidi-font-size:7.0pt;
		font-family:"Tahoma","sans-serif";
		mso-ascii-font-family:Tahoma;
		mso-hansi-font-family:Tahoma;}
	span.SpellE
		{mso-style-name:"";
		mso-spl-e:yes;}
	span.GramE
		{mso-style-name:"";
		mso-gram-e:yes;}
	.MsoChpDefault
		{mso-style-type:export-only;
		mso-default-props:yes;
		mso-fareast-font-family:"Arial Unicode MS";
		mso-bidi-font-family:Mangal;
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	.MsoPapDefault
		{mso-style-type:export-only;
		mso-pagination:none;
		text-autospace:ideograph-other;}
	 /* Page Definitions */
	@page
		{mso-footnote-separator:url(":Privacy Policy_files:header.htm") fs;
		mso-footnote-continuation-separator:url(":Privacy Policy_files:header.htm") fcs;
		mso-endnote-separator:url(":Privacy Policy_files:header.htm") es;
		mso-endnote-continuation-separator:url(":Privacy Policy_files:header.htm") ecs;}
	@page WordSection1
		{size:8.5in 11.0in;
		margin:56.7pt 56.7pt 56.7pt 56.7pt;
		mso-header-margin:.5in;
		mso-footer-margin:.5in;
		mso-paper-source:0;}
	div.WordSection1
		{page:WordSection1;}
	 /* List Definitions */
	@list l0
		{mso-list-id:710615358;
		mso-list-template-ids:-300901374;}
	@list l0:level1
		{mso-level-number-format:alpha-upper;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		text-indent:-.25in;
		mso-ansi-font-weight:bold;}
	@list l0:level2
		{mso-level-number-format:alpha-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		text-indent:-.25in;}
	@list l0:level3
		{mso-level-number-format:roman-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:right;
		text-indent:-9.0pt;}
	@list l0:level4
		{mso-level-tab-stop:none;
		mso-level-number-position:left;
		text-indent:-.25in;}
	@list l0:level5
		{mso-level-number-format:alpha-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		text-indent:-.25in;}
	@list l0:level6
		{mso-level-number-format:roman-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:right;
		text-indent:-9.0pt;}
	@list l0:level7
		{mso-level-tab-stop:none;
		mso-level-number-position:left;
		text-indent:-.25in;}
	@list l0:level8
		{mso-level-number-format:alpha-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		text-indent:-.25in;}
	@list l0:level9
		{mso-level-number-format:roman-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:right;
		text-indent:-9.0pt;}
	@list l1
		{mso-list-id:1840730848;
		mso-list-template-ids:1093597218;}
	@list l1:level1
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:\F0B7;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:.75in;
		text-indent:-.25in;
		mso-ascii-font-family:Symbol;
		mso-hansi-font-family:Symbol;}
	@list l1:level2
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:o;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:1.25in;
		text-indent:-.25in;
		mso-ascii-font-family:"Courier New";
		mso-hansi-font-family:"Courier New";
		mso-bidi-font-family:"Courier New";}
	@list l1:level3
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:\F0A7;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:1.75in;
		text-indent:-.25in;
		mso-ascii-font-family:Wingdings;
		mso-hansi-font-family:Wingdings;}
	@list l1:level4
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:\F0B7;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:2.25in;
		text-indent:-.25in;
		mso-ascii-font-family:Symbol;
		mso-hansi-font-family:Symbol;}
	@list l1:level5
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:o;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:2.75in;
		text-indent:-.25in;
		mso-ascii-font-family:"Courier New";
		mso-hansi-font-family:"Courier New";
		mso-bidi-font-family:"Courier New";}
	@list l1:level6
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:\F0A7;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:3.25in;
		text-indent:-.25in;
		mso-ascii-font-family:Wingdings;
		mso-hansi-font-family:Wingdings;}
	@list l1:level7
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:\F0B7;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:3.75in;
		text-indent:-.25in;
		mso-ascii-font-family:Symbol;
		mso-hansi-font-family:Symbol;}
	@list l1:level8
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:o;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:4.25in;
		text-indent:-.25in;
		mso-ascii-font-family:"Courier New";
		mso-hansi-font-family:"Courier New";
		mso-bidi-font-family:"Courier New";}
	@list l1:level9
		{mso-level-start-at:0;
		mso-level-number-format:bullet;
		mso-level-text:\F0A7;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:4.75in;
		text-indent:-.25in;
		mso-ascii-font-family:Wingdings;
		mso-hansi-font-family:Wingdings;}
	@list l2
		{mso-list-id:2002544891;
		mso-list-template-ids:1486363096;}
	@list l2:level1
		{mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:.25in;
		text-indent:-.25in;
		mso-ansi-font-size:12.0pt;
		mso-bidi-font-size:12.0pt;
		mso-ascii-font-family:"Times New Roman";
		mso-hansi-font-family:"Times New Roman";
		mso-bidi-font-family:"Times New Roman";
		mso-ansi-font-weight:bold;}
	@list l2:level2
		{mso-level-number-format:alpha-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:.75in;
		text-indent:-.25in;}
	@list l2:level3
		{mso-level-number-format:roman-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:right;
		margin-left:1.25in;
		text-indent:-9.0pt;}
	@list l2:level4
		{mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:1.75in;
		text-indent:-.25in;}
	@list l2:level5
		{mso-level-number-format:alpha-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:2.25in;
		text-indent:-.25in;}
	@list l2:level6
		{mso-level-number-format:roman-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:right;
		margin-left:2.75in;
		text-indent:-9.0pt;}
	@list l2:level7
		{mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:3.25in;
		text-indent:-.25in;}
	@list l2:level8
		{mso-level-number-format:alpha-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:left;
		margin-left:3.75in;
		text-indent:-.25in;}
	@list l2:level9
		{mso-level-number-format:roman-lower;
		mso-level-tab-stop:none;
		mso-level-number-position:right;
		margin-left:4.25in;
		text-indent:-9.0pt;}
	ol
		{margin-bottom:0in;}
	ul
		{margin-bottom:0in;}
	-->
	</style>
	<!--[if gte mso 10]>
	<style>
	 /* Style Definitions */
	table.MsoNormalTable
		{mso-style-name:"Table Normal";
		mso-tstyle-rowband-size:0;
		mso-tstyle-colband-size:0;
		mso-style-noshow:yes;
		mso-style-priority:99;
		mso-style-parent:"";
		mso-padding-alt:0in 5.4pt 0in 5.4pt;
		mso-para-margin:0in;
		mso-para-margin-bottom:.0001pt;
		mso-pagination:none;
		text-autospace:ideograph-other;
		font-size:12.0pt;
		font-family:"Times New Roman";
		mso-font-kerning:1.5pt;
		mso-fareast-language:ZH-CN;
		mso-bidi-language:HI;}
	</style>
	<![endif]--><!--[if gte mso 9]><xml>
	 <o:shapedefaults v:ext="edit" spidmax="1027"/>
	</xml><![endif]--><!--[if gte mso 9]><xml>
	 <o:shapelayout v:ext="edit">
	  <o:idmap v:ext="edit" data="1"/>
	 </o:shapelayout></xml><![endif]-->
	</head>

	<body lang=EN-US link="#3385D6" vlink=purple style='tab-interval:35.45pt'>

	<div class=WordSection1>

	<h2><span class=SpellE><span style='font-size:12.0pt;mso-bidi-font-family:"Times New Roman";
	color:black;background:white;mso-bidi-font-weight:normal'>Uplo</span></span><span
	style='font-size:12.0pt;mso-bidi-font-family:"Times New Roman";color:black;
	background:white;mso-bidi-font-weight:normal'> Privacy Policy<o:p></o:p></span></h2>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-fareast-font-family:
	"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-fareast-font-family:
	"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-fareast-font-family:
	"Times New Roman"'>UPLO LLC ("<span class=SpellE>Uplo</span>" "we" or "us") is
	the owner and operator of the </span><a href="http://www.uplo.com"><span
	style='mso-fareast-font-family:"Times New Roman"'>www.uplo.com</span></a><span
	style='mso-fareast-font-family:"Times New Roman"'> website (</span>the "Site"),
	<span style='mso-fareast-font-family:"Times New Roman"'>and the provider of all
	services available on, through or in connection with the Site,</span><span
	style='mso-bidi-font-family:"Times New Roman"'> as well as the related mobile
	application, e-mail notifications, newsletters and any other services provided
	by us (collectively, the "Services"). </span><span class=SpellE><span
	style='mso-fareast-font-family:"Times New Roman"'>Uplo</span></span><span
	style='mso-fareast-font-family:"Times New Roman"'> respects your privacy, and
	we created t</span>his privacy policy ("the Privacy Policy") to explain how we
	collect, use and disclose your information when you access the Site and use the
	Services. <span style='mso-fareast-font-family:"Times New Roman"'>The Privacy
	Policy is only applicable to our Site and our Services and not to any other
	website, service or online platform. Capitalized terms that are not defined in
	this Privacy Policy have the meaning given them in our Terms of Service.</span><b
	style='mso-bidi-font-weight:normal'> BY ACESSING THE SITE, UTILIZING ANY OF THE
	SERVICES AND/OR REGISTERING WITH US, YOU SIGNIFY THAT YOU </b><b
	style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:"Times New Roman"'>HAVE
	READ, UNDERSTOOD AND AGREE TO BE BOUND BY</span></b><span style='mso-fareast-font-family:
	"Times New Roman"'> </span><b style='mso-bidi-font-weight:normal'>THIS PRIVACY
	POLICY, INCLUDING OUR TERMS OF SERVICE,</b> <b style='mso-bidi-font-weight:
	normal'>WHICH ARE INCORPORATED HEREIN BY REFERENCE.</b></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<h2 style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
	margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><span
	style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
	"Times New Roman";color:black;mso-bidi-font-weight:normal'><span
	style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:12.0pt;mso-bidi-font-family:
	"Times New Roman";color:black;background:white;mso-bidi-font-weight:normal'>The
	Privacy Policy, Our Site and Services<o:p></o:p></span></h2>

	<h2 style='margin:0in;margin-bottom:.0001pt;text-align:justify;text-justify:
	inter-ideograph'><span style='font-size:12.0pt;mso-bidi-font-family:"Times New Roman";
	color:#89B878;background:white;font-weight:normal'><o:p>&nbsp;</o:p></span></h2>

	<h2 style='margin:0in;margin-bottom:.0001pt;text-align:justify;text-justify:
	inter-ideograph;text-indent:.25in'><span style='font-size:12.0pt;mso-bidi-font-family:
	"Times New Roman";color:black;background:white;font-weight:normal'>The
	information we learn from our Users helps us personalize and continually
	improve your social, as well as your purchasing experience at <span
	class=SpellE>Uplo</span>.&nbsp;</span><span style='font-size:12.0pt;mso-fareast-font-family:
	"Times New Roman";font-weight:normal;mso-bidi-font-weight:bold'>To become a
	User, you are required to register with us and create a username and password
	as well as provide certain information personally identifying you, which may
	include your name</span><span style='font-size:12.0pt;mso-bidi-font-family:
	"Times New Roman";color:black;background:white;font-weight:normal'>, email
	address, profile picture and information which you voluntarily provide to the
	Site, </span><span style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman";
	font-weight:normal;mso-bidi-font-weight:bold'>and in connection with your use
	of any Paid Services, you will be required to provide a valid credit card
	number, associated billing address and related payment information </span><span
	style='font-size:12.0pt;mso-bidi-font-family:"Times New Roman";color:black;
	background:white;font-weight:normal'>(collectively, "Personal Information"), as
	well as other information that does not identify you ("Non-Personal
	Information"). </span><span style='font-size:12.0pt;mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>You are solely responsible for keeping your
	username and password confidential and not sharing it with others and we
	disclaim any liability arising from your failure to do so.</span></h2>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><b style='mso-bidi-font-weight:normal'><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'><o:p>&nbsp;</o:p></span></b></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l0 level1 lfo2'><![if !supportLists]><b
	style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman"'><span style='mso-list:Ignore'>A.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b
	style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Personal Information</span></b></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span class=SpellE><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>Uplo</span></span><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>
	offers you choices regarding the collection, use, and sharing of your Personal
	Information. &nbsp;You can choose not to provide us with certain information,
	but that may result in you being unable to use certain features of <span
	class=SpellE>Uplo</span>. <o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-fareast-font-family:
	"Times New Roman"'>You are responsible for ensuring the accuracy of all
	Personal Information you submit to <span class=SpellE>Uplo</span>. Inaccurate
	information will affect the quality of your experience with the Services and
	our ability to contact you regarding your Paid Services and as otherwise
	described in this Privacy Policy. <o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-fareast-font-family:
	"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>We collect and store all
	Personal Information you submit to us voluntarily through creating or editing
	your User account and uploading or posting Content through the Site or
	Services. <o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>We reserve the right to monitor
	actions by Users on <span class=SpellE>Uplo</span>, including without
	limitation: uploading Content, commenting on other Users' Content, the purchase
	or sale of User Content and the updating or sharing of Personal Information.
	You agree that any information disclosed to other Users may become public
	information and you should exercise caution when deciding to disclose any
	Personal Information.</span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:#666666;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.5in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l0 level1 lfo2'><![if !supportLists]><b
	style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";color:black'><span style='mso-list:Ignore'>B.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b
	style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Non-Personal Information<o:p></o:p></span></b></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:#666666;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><u><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>Cookies
	and Other Technologies</span></u></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>We
	may utilize cookies and other technologies, such as, web beacons (also known as
	"clear gifs" and "pixel tags") to recognize you, customize your experience, and
	serve advertisements. Cookies are very small files placed on your computer, and
	they allow us to count the number of visitors to <span class=SpellE>Uplo</span>
	and distinguish repeat visitors from new visitors. They also allow us to save
	User preferences and track User trends. We do not link cookies or web beacons
	to any Personal Information. We may also enable advertisers and ad servers to
	promote Third Party products and/or services by placing advertisements on <span
	class=SpellE>Uplo</span>. These advertisers and ad servers may use cookies
	and/or web beacons to monitor information related to <span class=GramE>served</span>
	advertisements. These </span><span lang=EN style='mso-bidi-font-family:"Times New Roman";
	color:#222222;mso-ansi-language:EN'>cookies allow the ad server to recognize
	your computer each time they send you an online advertisement to compile
	information about you or others who use your computer. This information allows
	ad networks to, among other things, deliver targeted advertisements that they
	believe will be of most interest to you. This Privacy Policy covers the use of
	cookies by Uplo and does not cover the use of cookies by any advertisers.</span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><u><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>Information
	Collected Automatically</span></u><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'> </span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><u><span
	style='mso-bidi-font-family:"Times New Roman"'><o:p><span style='text-decoration:
	 none'>&nbsp;</span></o:p></span></u></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman"'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
	style='color:black;background:white'>We automatically receive and collect
	information such as your IP address, the URLs of websites you arrive at <span
	class=SpellE>Uplo</span> from or leave <span class=SpellE>Uplo</span> to go to,
	your type of browser and language, access times, the content of any undeleted
	cookies that your browser previously accepted from us, your operating system,
	your mobile provider, your mobile device, and your ISP. We may use such information
	to better understand how <span class=SpellE>Uplo</span> visitors use the Site,
	to analyze trends, administer the website, prevent fraud, and gather broad
	demographic information.</span></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><span
	style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span><span
	style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Email
	Communications</u></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><span
	style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>We
	may use your email for both transactional (<em><span style='font-style:normal;
	mso-bidi-font-style:italic'>e.g.</span></em>, order confirmation) and
	promotional (<em><span style='font-style:normal;mso-bidi-font-style:italic'>e.g.</span></em>,
	newsletters, new product offerings, special discounts, special offers by Third
	Parties) purposes. Email messages we send you may contain code that enables our
	database to track your usage of the emails we send you, such usage includes
	whether the email was opened and what links (if any) were clicked. &nbsp;If you
	send an email to us, or fill out our "Feedback" form, we will collect your
	email address and the full content of your email, including attached files, and
	other information you provide. We may use and display your full name and email
	address when you send an email notification to a friend through <span
	class=SpellE>Uplo</span> or the Social Network from which you have connected to
	<span class=SpellE>Uplo</span> (such as in an invitation, or when sharing your
	content). Additionally, we may use your email address to notify you of a
	personal message or of notifications from a Social Network or other websites
	with whom you have registered to receive such notifications.</span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><b style='mso-bidi-font-weight:normal'><span
	style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></b></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><b style='mso-bidi-font-weight:
	normal'><span style='mso-bidi-font-family:"Times New Roman";color:black;
	background:white'>You may indicate your preference to "Opt Out" of receiving promotional
	communication</span></b><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>s <b style='mso-bidi-font-weight:normal'>by
	following the unsubscribe instructions provided in the promotional email you
	receive or by contacting us directly at [</b></span><a
	href="mailto:contact@Fananza.com"><b style='mso-bidi-font-weight:normal'><span
	style='mso-bidi-font-family:"Times New Roman";background:white'>contact@Uplo.com</span></b></a><span
	class=MsoHyperlink><b style='mso-bidi-font-weight:normal'><span
	style='mso-bidi-font-family:"Times New Roman";background:white'>]</span></b></span><b
	style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>.</span></b><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'> You acknowledge that it may
	take up to 10 days for us to process an opt-out request.&nbsp; However, we
	reserve the right to send you certain service announcements and administrative
	messages, without offering you an opportunity to opt out. In the case of an
	important message from us regarding your Services, we reserve the right to
	contact you by telephone or text message provided you have submitted such
	telephone and/or wireless number to us. You may opt out of such calls by
	updating your account preferences or removing such numbers from your Personal
	Information.</span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><span class=SpellE><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>Uplo</span></span><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>
	and its Users agree to remain in full compliance with the requirements of the
	U.S. CAN-SPAM Act.&nbsp;Spamming is explicitly prohibited it by our&nbsp;</span><a
	href="http://www.zuuzs.com/about/terms/"><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>Terms of Service</span></a><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>.
	If you would like to report an incident of spamming, please contact us at
	[contact@Uplo.com]. We maintain the right to investigate such incidents and
	take suitable action</span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<h2 style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
	margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><span
	style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
	"Times New Roman";color:black;mso-bidi-font-weight:normal'><span
	style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:12.0pt;mso-bidi-font-family:
	"Times New Roman";color:black;background:white;mso-bidi-font-weight:normal'>How
	We Use Your Information<o:p></o:p></span></h2>

	<p class=Textbody style='text-align:justify;text-justify:inter-ideograph'><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.25in'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>We may use the above types of information to do
	the following:<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Enable Users to share their activity, information
	and communications with other Users.<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Deliver the purchased products and services to
	Users.<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Manage User accounts and provide customer
	support.<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Monitor and enforce our&nbsp;</span><a
	href="http://www.zuuzs.com/about/terms/"><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>Terms of Service</span></a><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>.</span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Share a User's Content with certain social and
	media networks the User has connected to <span class=SpellE>Uplo</span>
	including, without limitation, Facebook, Twitter, Flickr, <span class=SpellE>Pinterest</span>
	and <span class=SpellE>Tumblr</span> (collectively, the "Social Networks").<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Analyze the usage, popularity and sale of Content
	posted on the Site.<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Communicate with Users about products or services
	they may be interested in.<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Develop and display content and advertising
	tailored to each User's interests.<o:p></o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.75in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
	style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
	Symbol;color:black'><span style='mso-list:Ignore'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Verify your eligibility to use the Site.<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><b style='mso-bidi-font-weight:normal'><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>We
	do not sell, rent, or otherwise provide your Personal Information to any Third
	Parties for marketing purposes.</span></b></p>

	<p class=MsoNoSpacing><span style='font-size:12.0pt;font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><b
	style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman"'><span style='mso-list:Ignore'>3.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b
	style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>Disclosure of Your Information</span></b></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>We
	share Personal Information with our business partners who assist us by
	performing core services (such as Site hosting, payment processing, data
	storage and security) related to our operation of the Site and/or by making
	certain Services available. Those business partners shall be bound to uphold
	the same standards of security and confidentiality that we have promised to you
	in this Privacy Policy, and they will only use your Personal Information to
	carry out their specific business obligations and to provide you with
	Site-related Services. <span class=SpellE>Uplo</span> does not share, sell,
	rent or trade your Personal Information with any Third Parties for their
	promotional purposes. We may also transfer your Personal and Non-Personal
	Information to another company in connection with a merger, sale or acquisition
	by or of <span class=SpellE>Uplo</span>.<span style="mso-spacerun:yes">&nbsp;
	</span>In this event, we will use reasonable efforts to notify you before your
	information is transferred and becomes subject to a different privacy policy. <span
	style='mso-fareast-font-family:"Times New Roman"'>We also reserve the right to
	disclose your Personal and Non-Personal Information as required by law and when
	we believe that disclosure is necessary to protect our rights and/or comply
	with a judicial proceeding, court order, or legal process.</span></p>

	<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:7.5pt;
	margin-left:0in;text-align:justify;text-justify:inter-ideograph;text-indent:
	.5in'><span style='mso-fareast-font-family:"Times New Roman"'>We also reserve
	the right to share non-personally identifiable information (such as anonymous
	usage data, referring/exit pages and URLs, platform types, number of clicks,
	etc.) with interested Third Parties to help them understand the usage patterns
	for certain Services and those of our partners. Non-Personal Information may be
	stored indefinitely.<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>From time to time, we may
	request information about your interests, activities, gender, age, and other
	demographic information, which we may share with advertisers on an anonymous
	basis. <o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><span
	style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:35.45pt'><span
	style='mso-bidi-font-family:"Times New Roman"'>You are aware that<span
	style='color:black;background:white'> certain information you post to <span
	class=SpellE>Uplo</span> may be shared with other Users and posted on publicly
	available portions of <span class=SpellE>Uplo</span>, including without
	limitation, Social Networks (as well as their mobile and other applications)
	and other public forums in which you choose to participate. Please keep in mind
	that if you choose to disclose Personal Information when posting comments or
	other information or content through <span class=SpellE>Uplo</span>, this
	information may become publicly available and may be collected and used by
	others, including people outside of <span class=SpellE>Uplo</span>. We will not
	have any obligations with respect to any information that you post to parts of <span
	class=SpellE>Uplo</span> available to others, and recommend that you use
	caution when giving out Personal Information to others through Social Networks
	or otherwise.</span></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=MsoListParagraph style='margin-left:.25in;text-indent:-.25in;
	mso-list:l2 level1 lfo1'><![if !supportLists]><b><span style='font-size:12.0pt;
	line-height:115%;font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman"'><span
	style='mso-list:Ignore'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span></b><![endif]><b><span style='font-size:12.0pt;line-height:
	115%;font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman"'>Security
	and Data Storage<o:p></o:p></span></b></p>

	<p class=MsoNoSpacing style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.25in;line-height:115%'><span style='font-size:12.0pt;line-height:
	115%;font-family:"Times New Roman"'>The Personal Information we collect is
	stored on a secure, password-protected server and only authorized personnel
	have access to your Information. We use industry-standard encryption
	technologies with respect to the receipt and transfer of Personal Information
	you submit. Nevertheless, despite our best efforts, no transmission over the
	Internet and no data storage method can be guaranteed to be safe 100% of the
	time.</span><span style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman"'> <span class=SpellE>Uplo</span>
	cannot ensure or warrant the security of any information you transmit to <span
	class=SpellE>Uplo</span> or guarantee that your End User data stored on the
	Services may not be accessed, disclosed, altered, or destroyed by breach of any
	of our industry standard physical, technical, or managerial safeguards. When
	you enter sensitive information (such as a credit card number) we encrypt such
	information using secure socket layer technology (SSL). </span><span
	style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman"'>The
	Site is hosted on servers in the United States. Accordingly, if you are located
	outside of the United States, the Personal Information you provide to us will
	be transferred to the United States. By submitting your Personal Information,
	you consent to its transfer and storage in the United States and its use in
	accordance with the purposes for which it was originally collected.</span></p>

	<p class=Textbody style='text-align:justify;text-justify:inter-ideograph'><span
	style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><b
	style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman"'><span style='mso-list:Ignore'>5.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b
	style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-family:"Times New Roman"'>Third
	Party Websites</span></b></p>

	<p class=MsoListParagraph style='margin-bottom:0in;margin-bottom:.0001pt;
	text-align:justify;text-justify:inter-ideograph;line-height:normal'><b
	style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;font-family:
	"Times New Roman"'><o:p>&nbsp;</o:p></span></b></p>

	<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.25in'><span style='mso-fareast-font-family:"Times New Roman"'>The
	Site may contain advertisements and hyperlinks to websites of Third Parties
	with which <span class=SpellE>Uplo</span> has no affiliation. <span
	class=SpellE>Uplo</span> does not share your Personal Information with those
	websites and is not responsible for their privacy practices. <o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><b style='mso-bidi-font-weight:normal'><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'><o:p>&nbsp;</o:p></span></b></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>You may be able to access your
	User Content on Social Networks hosted by Third Parties by way of various
	website and applications. The privacy policies and practices of such Social
	Networks may differ from the practices of <span class=SpellE>Uplo</span>. You
	are therefore advised to review the privacy policies and practices of any
	Social Network from which you access your <span class=SpellE>Uplo</span>
	account and/or User Content.<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>This Privacy Policy does not
	create any rights enforceable by Third Parties, nor does anything contained
	herein require us to disclose any of our Users' Personal Information to any
	Third Parties except if such disclosure is required of us by law. <o:p></o:p></span></p>

	<p class=Textbody style='text-align:justify;text-justify:inter-ideograph'><b
	style='mso-bidi-font-weight:normal'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></b></p>

	<h2 style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
	margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><span
	style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
	"Times New Roman";color:black;mso-bidi-font-weight:normal'><span
	style='mso-list:Ignore'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:12.0pt;mso-bidi-font-family:
	"Times New Roman";color:black;background:white;mso-bidi-font-weight:normal'>Updating
	and Closing User Accounts<o:p></o:p></span></h2>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>Users are responsible for
	updating and maintaining accurate account information. <span class=SpellE>Uplo</span>
	will not be liable for any damages of any kind resulting from your failure to
	maintain accurate account information. <o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>Users may also close their
	account by editing their account settings. Users will be able to reactivate
	their account by following the directions given to them when they close their
	account or by contacting us at [contact@Uplo.com]. If you close your account,
	we may still retain certain information associated with your account for
	analytical purposes and recordkeeping integrity, as well as to prevent fraud,
	collect any fees for Paid Services owed, enforce our Terms of Service, take
	actions we deem necessary to protect the integrity of <span class=SpellE>Uplo</span>
	or our Users, or take other actions otherwise permitted by law<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><b
	style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman"'><span style='mso-list:Ignore'>7.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b
	style='mso-bidi-font-weight:normal'>California Residents</b></p>

	<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.5in'><o:p>&nbsp;</o:p></p>

	<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.5in'>California Civil Code Section 1798.83 permits residents of
	the State of California to request certain information regarding our disclosure
	of Personal Information to Third Parties for their direct marketing purposes.
	To make such a request, please <a
	href="http://www.nickjr.com/home/write_to_us.jhtml"><span style='color:windowtext'>email
	us</span></a> at: <span style='background:yellow'>[<b style='mso-bidi-font-weight:
	normal'>email</b>]</span> or contact us via postal mail at: 140 West 30<sup>th</sup>
	Street, New York, NY 10001.</p>

	<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><o:p>&nbsp;</o:p></p>

	<p class=MsoListParagraph style='margin-left:.25in;text-align:justify;
	text-justify:inter-ideograph;text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><b
	style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
	115%;font-family:"Times New Roman";mso-fareast-font-family:"Times New Roman"'><span
	style='mso-list:Ignore'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span></b><![endif]><b style='mso-bidi-font-weight:normal'><span
	style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman"'>Children
	</span></b></p>

	<p class=MsoNormal style='margin-bottom:.25in;text-align:justify;text-justify:
	inter-ideograph;text-indent:.5in'><span style='mso-fareast-font-family:"Times New Roman"'>Protecting
	the privacy of young children is especially important to us. For that reason, <span
	class=SpellE>Uplo</span> does not knowingly collect or solicit Personal
	Information from anyone under the age of 13</span></p>

	<p class=MsoNoSpacing style='margin-left:.25in;text-align:justify;text-justify:
	inter-ideograph;text-indent:-.25in;line-height:115%;mso-list:l2 level1 lfo1'><![if !supportLists]><b><span
	style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman"'><span style='mso-list:Ignore'>9.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><![endif]><b><span
	style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman"'>Changes
	to our Privacy Policy<o:p></o:p></span></b></p>

	<p class=MsoNoSpacing style='text-align:justify;text-justify:inter-ideograph;
	line-height:115%'><span style='font-size:12.0pt;line-height:115%;font-family:
	"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=MsoNoSpacing style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.25in'><b style='mso-bidi-font-weight:normal'><span
	style='font-size:12.0pt;font-family:"Times New Roman";mso-fareast-font-family:
	"Times New Roman"'>We reserve the right, at any time, to add to, change,
	update, or modify this Privacy Policy. </span></b><b style='mso-bidi-font-weight:
	normal'><span style='font-size:12.0pt;font-family:"Times New Roman";color:black;
	background:white'>Any such changes to this Privacy Policy will be posted here
	on our Site so </span></b><b style='mso-bidi-font-weight:normal'><span
	style='font-size:12.0pt;font-family:"Times New Roman";mso-fareast-font-family:
	"Times New Roman"'>we urge to please visit this page frequently. </span></b><span
	style='font-size:12.0pt;font-family:"Times New Roman";mso-fareast-font-family:
	"Times New Roman"'>In all cases, use of information we collect is subject to
	the Privacy Policy in effect at the time such information is collected.</span></p>

	<p class=MsoNoSpacing style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.25in'><o:p>&nbsp;</o:p></p>

	<h2 style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
	margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
	text-indent:-.25in;mso-list:l2 level1 lfo1'><![if !supportLists]><span
	style='font-size:12.0pt;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
	"Times New Roman";color:black;mso-bidi-font-weight:normal'><span
	style='mso-list:Ignore'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
	style='font-size:12.0pt;mso-bidi-font-family:"Times New Roman";color:black;
	background:white;mso-bidi-font-weight:normal'>Feedback<o:p></o:p></span></h2>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
	text-indent:.25in'><span style='mso-fareast-font-family:"Times New Roman"'>Subject
	to the Privacy Policy, if you submit any feedback aimed at enhancing the Site
	to or request information from <span class=SpellE>Uplo</span> we may use any of
	the information you submit in connection therewith, or any Personal Information
	and Non-Personal Information we have about you when responding.<span
	style="mso-spacerun:yes">&nbsp; </span></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph;text-indent:.25in'><span style='mso-bidi-font-family:
	"Times New Roman";color:black;background:white'>If you have any questions about
	this Privacy Policy or our information-handling practices, please contact us by
	email or postal mail as follows:<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt'><span
	style='mso-bidi-font-family:"Times New Roman";color:black;background:white'>UPLO
	LLC<br>
	</span>140 West 30<sup>th</sup> Street</p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'>New York, NY 10001</p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>[contact@Uplo.com]<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman";
	color:black;background:white'>&nbsp;<o:p></o:p></span></p>

	<p class=Textbody style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify;text-justify:inter-ideograph'><span style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	<p class=Standard style='text-align:justify;text-justify:inter-ideograph'><span
	style='mso-bidi-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

	</div>

	</body>

	</html>
