<style type="text/css">
  h1, h2, h3, p, ul, li {
    line-height: 16px; padding: 10px 0;
  }
  h1 { font-size: 18px; }
  h2 { font-size: 16px; }
  h3 { font-size: 14px; }
</style>
<h1>Uplo Terms of Service</h1>
<p>
  Welcome to Uplo! The following terms and conditions (the "Terms of Service") constitute an agreement between you ("User" or "you") and UPLO LLC and its affiliates, successors and assigns ("Uplo", "us", "our" or "we"), the owner and operator of the www.uplo.com website and all content and features contained therein (collectively, the "Site") as well as the related mobile application, e-mail notifications, newsletters and any other services provided by us (collectively, the "Services"). BY ACESSING THE SITE, UTILIZING ANY OF THE SERVICES AND/OR REGISTERING WITH US, YOU AGREE THAT YOU HAVE READ, UNDERSTAND AND SHALL BE BOUND BY THESE TERMS OF SERVICE, INCLUDING OUR PRIVACY POLICY, WHICH IS INCORPORATED HEREIN BY REFERENCE. We strongly recommend you read the Terms of Service carefully. Use of the Site by you is also subject to any additional terms and conditions of third party content and/or service providers ("Third Party Licensors") as contained on any applicable pages of the Site or through links in this Terms of Service or the Site.
</p>
<h2>1. Our Site and Services</h2>
<p>
  Uplo is a smartphone application and website which operates in real time for Users to buy, sell, post, view and share, among other things, digital images. Users are able to purchase printed, framed, plexi-mounted digital images, which are uploaded by either themselves or other Users. Users are able to upload photographs stored on their smartphone, digital camera or even home computer and share them publicly with other Users or privately with a select group of people (such as "family and friends"). A "Merchant User" is one who offers their photographs to other Users to purchase as part of our Services. If a Merchant User's photograph is purchased by another User, the Merchant User will be paid a percentage of the profit on the sale. Percentage profits due to Merchant Users will be determined pursuant to the
  Terms of Payment.</p>
<h2>2. Modifications</h2>
<p>
  Uplo reserves the right to modify or revise the Terms of Service, the Site and/or the Services at any time at its sole discretion. If we make changes to the Terms of Service, the Site and/or the Services that materially affect your use of the Site or Services we will notify you by sending you an e-mail to the e-mail address that is registered with your account and/or by posting notice of the change on the Site. Any such changes will be effective, unless required by law, statute, regulation or court order, 48 hours after of our dispatch of an e-mail notice to you or our posting of notice of the changes on our Site, provided that, these changes will not apply to purchases made prior to the effective date of such changes. These changes will be effective immediately for new Users of our Site and for all transactions made after the effective date of the change.
</p>
<p>
  We also reserve the right to change or discontinue any aspect or feature of the Site or Services including, but not limited to, requirements for access or use.
</p>
<h2>3. Permitted Uses and Restrictions</h2>
<p>
  All interactions on the Site or through the Services must be lawful and must comply with these Terms of Service. As a condition of your use of our Site and/or Services, you agree:
</p>
<p>a. You are an individual at least 13 years of age;</p>
<p>
  b. You will all times comply with the terms of the Terms of Service;
</p>
<p>
  c. You will not post nude, partially nude or sexually suggestive images;
</p>
<p>
  d. You will not abuse, harass, threaten, impersonate or intimidate other Users;
</p>
<p>
  e. You will not use Uplo for any illegal or unauthorized purpose or in a manner which violates any law or regulation of any state or country, the rights of any person or business, including but not limited to intellectual property rights, copyrights, trademarks, patents, droit moral, rights of privacy, rights of personality or name and likeness;
</p>
<p>
  f. You are solely responsible for your conduct and any data, text, files, information, screen names, images, graphics, photos, profiles, audio and video clips, musical works, works of authorship, links ("Content") that you submit, post, display or publish on or through the Uplo Site or Services;
</p>
<p>
  g. You shall not modify, adapt or hack Uplo or modify another website so as to falsely imply it is associated with Uplo;
</p>
<p>
  h. You shall not upload, distribute or print anything that may be harmful to minors;
</p>
<p>
  i. You shall not post Content that is obscene, profane, sexually explicit, libelous, slanderous, defamatory, harmful, threatening, illegal or knowingly false or which contain expressions of bigotry, racism or hate;
</p>
<p>
  j. You shall not use the Site or Services to generate unsolicited email advertisements, either personal or commercial, or spam;
</p>
<p>
  k. You shall not use scripts or disguised redirects to derive financial benefit from Uplo;
</p>
<p>
  l. You shall not transmit any virus, worm, Trojan horse, or other malicious code to our Site, designed to disrupt, damage, restrict, or provide unauthorized access to any computer software or hardware or telecommunications equipment or in an attempt to overload, "flood," "spam,""mail bomb," or "crash" the Site; and
</p>
<p>
  m. You shall not crawl, scrape, or otherwise cache any content from Uplo including, but not limited to user profiles, information and or photos.
</p>
<p>
  Your violation of any of the Terms set forth above may result in the limitation or termination of your Uplo account, in our sole discretion, as well as the exercise of our right to seek other remedies. While Uplo prohibits such conduct and content, you understand and agree that Uplo cannot be responsible for the Content posted on the Site or Services and you may be exposed to materials you deem objectionable or harmful and that you use Uplo at your own risk.
</p>
<h2>4. User Accounts</h2>
<p>
  You must register as an Uplo User to upload or post Content to the Site or Services. If you elect to create an Uplo account, you may create only one (1) account for your own personal use. You agree that it is your responsibility to safeguard your log-in credentials and supervise the use of your account. You understand and agree that you are solely responsible for any and all use of the Site or Services by yourself or other persons using your log-in credentials. Please notify us immediately if you become aware that your log-in credentials are being used without authorization. You agree to provide only accurate, complete registration information, and you will keep that information up-to-date if it changes.
</p>
<p>
  If you commit fraud or falsify information in connection with your Uplo account, your account will be terminated immediately and we reserve the right to hold you liable for any and all damages that we suffer, to pursue legal action through relevant local and national law enforcement authorities and to notify your Internet Service Provider of any fraudulent activity we associate with you or your use of the Site. We reserve the right to refuse future service to or terminate existing service of any User for any reason at any time.
</p>
<p>
  You may terminate your Uplo account at any time. In addition, we reserve the right to terminate your account for any reason, without notice at any time. We also reserve the right to refuse service to anyone for any reason as well as force the forfeiture of any username that becomes inactive, violates trademark or copyright laws or may mislead other Users. We also have the right to reclaim usernames on behalf of third parties that have a legal right to or trademark ownership of.
</p>
<h2>5. Proprietary Rights in Content</h2>
<p>
  Uplo does not claim any ownership rights in the Content that you post on the Site or through the Services. Uplo will not sell any Content without paying a Commission to the owner or licensee of such Content except as provided in the Terms hereof. By displaying, publishing or posting any Content on or through the Site or Services, you hereby grant to Uplo a non-exclusive, fully paid and royalty-free, worldwide, limited transferrable and assignable license, without the necessity of attribution, to use, modify, delete from, add to, publicly perform, publicly display, reproduce create derivative works of, copy, distribute and/or translate such Content, including without limitation distributing part or all of the Site in any media formats through any media channels, except Content not shared publicly will not be distributed outside the Site or Services.
</p>
<p>
  You acknowledge that commercial advertisement and promotions may be displayed on the Site in conjunction with your Content. Uplo shall determine in its sole discretion where and how to display such advertisement and promotions as Uplo is supported in whole or in part by revenue derived from such advertising and promotions. If the display of your Content with commercial advertisement is objectionable to you, your sole remedy is to notify Uplo of such and request the Content be removed.
</p>
<p>
  By posting content on the Site, you hereby represent and warrant that (i) Uplo's public display of such Content will not violate the rights of any third party, including copyrights, publicity rights, rights of privacy, name and likeness rights, contract rights or intellectual property rights of any nature whatsoever, and you are the sole owner of the Content or have the right to publicly display said Content.&nbsp; You further agree that it is your sole responsibility to pay any and all royalties, fees or any other monies owed any third parties due to your upload of Content to the Site.
</p>
<p>
  The Site and Services contain Content owned by Uplo ("Uplo Content"). Uplo Content is protected by copyright, trademark, patent, trade secret and other laws, and Uplo owns and retains all rights in the Uplo Content and the Uplo Services. Uplo hereby grants you a limited, fully revocable, non-sublicensable license to reproduce and display the Uplo Content (excluding any software code, logos, trademarks, or other intellectual property other than digital images) solely for your personal use in connection with viewing the Site and using the Services.
</p>
<p>
  The Site and Services contain Content of Users and other Uplo licensors. Except as provided within this Agreement, you may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any Content appearing on or through the Site or Services without first complying with the Terms for such.
</p>
<p>
  We reserve the right to perform any technical functions necessary to maintain the functionality of the Site or Services including but not limited to transcoding and/or reformatting Content to allow its use throughout the Site or Services. You acknowledge that the Site or Services may be interrupted from time to time for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment that are beyond our control. Although Uplo will normally only delete Content that violates this Agreement, we reserve the right to delete any Content for any reason, without prior notice. Deleted content may be stored by Uplo in order to comply with certain legal obligations and is not retrievable without a valid court order. We therefore encourage you to maintain your own backup of your Content. We are NOT a backup service and we will not be liable to you for any modification, suspension, or discontinuation of the Site or Services, or the loss of any Content.
</p>
<h2>6. Copyright Infringement</h2>
<h3>A. Written Notification</h3>
<p>
  Uplo will respond to notices of alleged infringement reported pursuant to the requirements of the Site and the Terms, regarding third party material sent pursuant to, and in accordance with, the Digital Millennium Copyright Act ("DMCA"), which may include Uplo removing or disabling access to Third Party material claimed to be the subject of infringement or other activity. Written notification must be submitted to the Designated Agent at the address indentified in Address for Notice section below. All notices sent to Uplo regarding matters other than informing Uplo that a party's copyrighted material may have been infringed as a result of third party materials will not receive a response through this process. In order to be effective, your infringement notification must include the following:
</p>
<ol>
  <li>
    A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
  </li>
  <li>
    Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single web site are covered by a single notification, a representative list of such works at that web site;
  </li>
  <li>
    Identification of the material (i.e., the third party materials) that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Uplo to locate the material;
  </li>
  <li>
    Information reasonably sufficient to permit Uplo to contact the complaining party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;
  </li>
  <li>
    A statement, as follows: "I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law"; and
  </li>
  <li>
    A statement, as follows: "The information in this notification is accurate, and under penalty of perjury, I swear that I am the copyright owner or that I am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."
  </li>
  <li>
    Upon receipt of a valid written notification containing the information as outlined in 1 through 6 above, Uplo shall, (1) remove or disable access to the Content that is alleged to be infringing; (2) forward the written notification to the alleged infringer (the "User"); and (3) take reasonable steps to promptly notify the User that it has removed or disabled access to the Content.
  </li>
</ol>
<h2>7. Paid Services and Billing Policies</h2>
<p>
  Certain Services are only available for a fee ("Paid Services"). In connection with any and all Paid Services that you select to purchase, payment is due and payable to Uplo immediately upon sale and shall be remitted by valid debit or credit card. By providing your debit or credit card information, you hereby authorize Uplo to charge your card for the total cost of your Paid Services, and you agree to be responsible for all associated charges. You represent and warrant that all information you provide in connection with Paid Services will be accurate, current and complete. We hereby expressly reserve the right to alter or amend the fees associated with any and all Paid Services at any time, for any reason, in our sole discretion. All Paid Service purchases are final, and Uplo will not refund any fees, or portions thereof, remitted in connection with any Paid Services under any conditions whatsoever, including upon our termination of the Terms of Service or your User account. Should you ever choose to voluntarily cancel your User account, you will remain responsible for any and all charges incurred prior to such cancellation. Under no circumstances whatsoever will we permit exceptions to this policy. Uplo makes no warranties as to quality of any Content purchased by you.&nbsp; Uplo herby disclaims any Warranties of Merchantability for a particular purpose and makes no representations or warranties as to the quality of the Content.
</p>
<p>
  You waive and release Uplo and its parents, subsidiaries, affiliates, partners, officers, directors, employees and agents from any liabilities arising from or related to any act or omission of a Merchant User in connection with your purchase of the products it provides to you.
</p>
<h2>8. Links</h2>
<p>
  Uplo may contain links to the sites of third-party content providers, partners, blogs, retailers, service providers, affiliated companies, and other parties (collectively, "Third Parties"). Your use of each of the Third Parties websites is subject to the terms and conditions, if any, that each of those sites has posted. Uplo has no control over websites that it does not own or control, and we are not responsible for any content thereon. The links are provided solely as a convenience to you, and do not constitute an endorsement by Uplo of the content of such Third Parties' sites nor of the business practices of those operating such web sites. Uplo is not responsible or liable in any way, for any content, products or services contained on or accessible through such web sites or the business practices of people and entities controlling, or connected directly or indirectly, with such web sites. IN THE EVENT OF A DISPUTE BETWEEN YOU AND A THIRD PARTY, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, YOU RELEASE UPLO, ITS SUBSIDIARIES, AFFILIATES, PARTNERS OR OTHER THIRD PARTIES UNDER CONTRACT WITH UPLO, AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, AND LEGAL REPRESENTATIVES FROM AND AGAINST CLAIMS AND DAMAGES OF ANY KIND AND NATURE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH A DISPUTE.
</p>
<p>
  If you are a California resident, by using the Site, you explicitly waive the rights granted to you under California Civil Code 1542, which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which, if known by him must or her have materially affected his or her settlement with the debtor."
</p>
<h2>9. Disclaimer of Warranties and Limitation of Liability</h2>
<p>
  THE SITE IS PROVIDED BY UPLO ON AN "AS IS" AND ON AN "AS AVAILABLE" BASIS. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UPLO MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE WEBSITE OR THE INFORMATION, CONTENT, GRAPHICS, LINKS, MATERIALS, PRODUCTS, OR SERVICES INCLUDED ON THE WEBSITE, OR THEIR ACCURACY, RELIABILITY, COMPLETENESS, INTEGRITY, SECURITY, TIMELINESS, OR THAT THE WEBSITE OR ANY CONTENT, SEARCH OR LINK THEREIN WILL PROVIDE SPECIFIC RESULTS. IN ADDITION, THIRD PARTIES INCLUDING BUT NOT LIMITED TO MERCHANTS AND PARTNERS PROVIDE SUBSTANTIAL CONTENT AND MATERIALS ON THE WEBSITE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, UPLO SHALL NOT BE RESPONSIBLE FOR ANY SUCH THIRD PARTY MATERIALS, CONTENT OR SERVICE. YOU EXPRESSLY AGREE THAT YOUR USE OF THE WEBSITE OR ANY DECISION OR TRANSACTION RESULTING THEREFROM IS SOLELY AT YOUR OWN RISK. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM UPLO OR THROUGH OR FROM THE WEBSITE SHALL CREATE ANY WARRANTY OF ANY KIND UNLESS EXPRESSLY STATED IN THE TERMS. DATA AND INFORMATION RELATING TO SECURITIES (IF ANY) OR OTHERWISE IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY, AND IS NOT INTENDED FOR TRADING PURPOSES. NEITHER UPLO NOR ANY OF ITS DATA OR CONTENT PROVIDERS SHALL BE LIABLE FOR ANY ERRORS OR DELAYS IN THE CONTENT, OR FOR ANY ACTIONS TAKEN IN RELIANCE THEREON. UPLO DOES NOT GUARANTEE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO THE WEBSITE OR THE SERVICES. OPERATION OF THE WEBSITE MAY BE INTERFERED BY NUMEROUS FACTORS BOTH OUTSIDE AND WITHIN UPLO'S CONTROL.
</p>
<p>
  TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UPLO, ON BEHALF OF ITSELF, ITS OFFICERS, DIRECTORS AND EMPLOYEES, AFFILIATES AND ITS AND THEIR SUCCESSORS AND ASSIGNS AND ITS AND THEIR THRID PARTY CONTENT PROVIDERS AND LICENSORS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE AND NON-INFRINGEMENT OF PROPRIETARY OR THIRD PARTY RIGHTS REGARDING THE WEBSITE OR ANY MATERIAL THEREON. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, UPLO ON BEHALF OF ITSELF, ITS OFFICERS, DIRECTORS AND EMPLOYEES, ITS AFFILIATES AND ITS AND THEIR SUCCESSORS AND ASSIGNS WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THE WEBSITE, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, OR EXEMPLARY (EVEN IF ANY PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), PUNITIVE AND CONSEQUENTIAL DAMAGES, OR ANY DAMAGES RELATED TO LOSS OF BUSINESS OR BUSINESS OPPORTUNITIES. UPLO'S AGGREGATE LIABILITY TO YOU HEREUNDER (WHETHER ARISING IN TORT, CONTRACT OR OTHERWISE AND NOTWITHSTANDING ANY FAULT, NEGLIGENCE (WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY OR STRICT LIABILITY OF UPLO UNDER THIS AGREEMENT SHALL NOT EXCEED $500.
</p>
<p>
  TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UPLO MAKES NO WARRANTIES OR REPRESENTATIONS REGARDING ANY PRODUCTS OR SERVICES REVIEWED ON THE WEBSITE OR BOUGHT AND/OR SOLD USING THE WEBSITE, OR THAT RETAILERS AND SERVICE PROVIDERS WILL PERFORM AT A CERTAIN LEVEL OF COMEPTENCE OR AS PROMISED BY THEM, OR THAT THE WEBSITE, ITS SERVERS, DOWNLOADS, OR E-MAIL SENT FROM UPLO ARE FREE OF VIRUSES, TROJAN HORSES, BUGS, CONTAMINATION, DESTRUCTIVE FEATURES OR OTHER HARMFUL COMPONENTS.
</p>
<h2>10. Limitation of Liability in Certain States</h2>
<p>
  CERTAIN STATE LAWS IN THE UNITED STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS. IN SUCH STATES, OUR LIABILITY AND THAT OF OUR THIRD PARTY CONTENT PROVIDERS AND OUR AND THEIR RESPECTIVE AGENTS SHALL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
</p>
<h2>11. Indemnity</h2>
<p>
  To the maximum extent permitted by applicable law, by accessing and using the Site you agree to defend, indemnify and hold Uplo, its subsidiaries, affiliates, partners, agents, licensors, consultants, experts, directors, officers, employees and other parties with which Uplo is under contract, and their respective officers, directors, employees and agents free and harmless from and against any claims, actions and demands, including, without limitation, any legal and accounting fees resulting from: your use of the Site; your breach of the Agreement; any and all materials you submit to Uplo and/or the Site; any use or alleged use of your accounts or your passwords by any person, whether or not authorized by you; your connection to the Site; and/or your violation of the rights of any other person or entity. Additionally, you shall indemnify, defend and hold harmless Uplo and its affiliates, directors, officers, employees, successors and assigns, from any and all liability, damage, consequences, or expense (including reasonable attorneys' fees) under any claim or suit brought by a third party arising out of any acts, omissions, errors by you or breach, or alleged breach, by you of any of your representations, warranties or obligations contained in this Agreement or otherwise on the Site, including but not limited to (a) any infringement claim asserted by a third party resulting from Uplo's or its affiliate's use of your Intellectual Property and/or materials provided or submitted by you, (b) a claim by any third party that any material that you submitted or posted on Site was created, obtained or provided by any party in violation of any federal, state or local law or regulation, (c) any inaccurate, deceptive, or misleading information provided to Uplo by you, including but not limited to, the information contained in the materials or (d) your refusal to honor terms set forth in this Agreement or otherwise on the Uplo Site.
</p>
<h2>12. Arbitration</h2>
<p>
  Except for disputes arising from an alleged violation of intellectual property rights or breach of confidentiality, for which the injured party may suffer irreparable harm and may seek a restraining order, preliminary injunctive relief, an injunction, specific performance or other equitable relief and/or legal remedies, and actions to enforce the decisions of the arbitrators, for which action may be taken in any court of competent jurisdiction, in New York, New York, all disputes arising out of or related to this Agreement, including the scope, the construction or application of this Agreement, shall be resolved by arbitration in accordance with the commercial arbitration rules of the American Arbitration Association then in force. Any controversy or claim shall be arbitrated on an individual basis and shall not be consolidated in any arbitration with any claim or controversy of any other party, or class action, unless agreed to by Uplo at it sole discretion. The arbitration hearings and all meetings pursuant to this section shall be held in New York, New York, USA, and shall be conducted in English. If the parties cannot agree upon a single arbitrator within twenty (20) calendar days after demand by either of them, each party shall select one arbitrator knowledgeable about Internet commerce in New York, and notify the other of its selection, and such two arbitrators shall select a third from a list of arbitrators (with knowledge of the Internet industry) qualified by the American Arbitration Association in New York. If this procedure for selecting arbitrators fails, then a neutral arbitrator based in New York with knowledge of Internet commerce in New York and the USA generally shall be selected by the American Arbitration Association to resolve the dispute. The arbitrator(s) shall conduct a hearing within sixty (60) days after their selection. A majority of the arbitrators (if there is more than one pursuant to this clause) shall determine the decision/award, which shall be rendered within ten (10) days after the completion of the hearing. The decision of the arbitrator(s) shall be final and binding upon the parties both as to law and to fact, and shall not be appealable to any court in any jurisdiction. The parties shall share the expenses of the arbitrators equally. Nothing in any indemnification provision hereunder shall be construed as having any bearing on the award of attorneys' fees or arbitrators' fees under this section.
</p>
<h2>13. Miscellaneous</h2>
<p>
  If any part of this Agreement is determined to be invalid or unenforceable pursuant to applicable law, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Agreement shall continue in effect. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of such section. The failure by us to enforce any provision of this Agreement shall in no way be construed to be a present or future waiver of such provision nor in any way affect our right to enforce such provision thereafter. All waivers by us must be in writing to be effective. You agree that this Agreement and Privacy Policy and all agreements and notices incorporated herein or with Uplo may be automatically assigned by Uplo, in our sole discretion, to a third party. You may not assign your obligations to any other entity.
</p>
<p>
  All communications and notices to be made or given pursuant to this Agreement shall be in the English language.
</p>
<p>
  Nothing in this Agreement is intended to or does create any type of joint venture, creditor-debtor, escrow, partnership or any employer/employee or fiduciary or franchise relationship between you and us (or any of our affiliates). You understand and acknowledge that we are not certifying nor endorsing, and have no obligation to certify or endorse, any of your work, contributions, Content or other materials developed or submitted by you.
</p>
<p>
  If you authorize, assist, encourage or facilitate another person or entity to take any action related to the subject matter of this Agreement, you shall be deemed to have taken the action yourself.
</p>
<p>
  You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Site or this Agreement must be filed within one (1) year after such claim or cause of action arose or be forever barred. No waiver of any breach of any provision of this agreement shall constitute a waiver of any prior, concurrent or subsequent breach of the same or any other provisions hereof, and no waiver shall be effective unless made in writing and signed by an officer of Uplo.
</p>
<h2>14. Governing Law</h2>
<p>
  These Terms of Service and Privacy Policy will be governed by and construed in accordance with the laws of the State of New York, without regard to principles of conflicts or choice of law. In addition, the application of the United Nations Convention on Contracts for the International Sale of Goods, including any amendments thereto, is expressly excluded hereby.
</p>