#cvv-form.hide
  .wrapper.left
    .container
      .header.left
        .text.black.bold.font12.line18.left Card Verification Value
        .cvv.text.black.font12.line18.left (CVV)
        .close.right
      = image_tag '/assets/cvv.png'
  .tail.left
