development: &development
  app_key: "wbwpuawqf52814w"
  app_secret: "uzms5h4q4v97fuh"
  access_token: "i9awg3wjw38xrlc"
  access_token_secret: "z31ts93uq9sexhg"
  user_id: 85370
  access_type: "app_folder"

test:
  <<: *development
