<div class="not-found">
  <div><%= image_tag("placeholder.jpeg", :alt => "placeholder") %></div>
  <div class="text font14 line18">
    Whoops! This page doesn&rsquo;t exist.<br/>
    <p>We can take you back to the <%= link_to "homepage", root_url, :id => "placeholder-image-link" %> or choose a menu item from the main navigation above.</p>
  </div>
</div>


