<div class="not-found">
  <div><%= image_tag("placeholder.jpeg", :alt => "placeholder") %></div>
  <div class="large-font">
    <h2>We&rsquo;re sorry, but this page was not found.</h2>
    <p>It may have been moved or deleted. You can go back to the <%= link_to "home page", root_url, :id => "placeholder-image-link" %></p>
  </div>
</div>


