<div class="not-found">
  <div><%= image_tag("placeholder.jpeg", :alt => "placeholder") %></div>
  <div class="large-font">
    <h2>We&rsquo;re sorry, but the page tou are looking for has not been found.</h2><br/>
    <p>It may have been moved or deleted. Try checking the URL for errors, then hit the refresh button on your browser.<br/> You can go back to the <%= link_to "Home Page", root_url, :id => "placeholder-image-link" %> and try again.</p>
  </div>
</div>


