/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* HTML */
/*==================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  background-color: #f8f8f8;
  font-size: 12px;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #111111; }

ol, ul {
  list-style: none outside none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

:focus {
  outline: 0 none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #111111; }
  a:link {
    font-weight: bold;
    text-decoration: none; }
  a:visited {
    font-weight: bold;
    text-decoration: none; }
  a:active {
    font-weight: bold;
    text-decoration: none; }
  a:hover {
    font-weight: bold;
    text-decoration: underline; }

p, ul {
  text-align: justify; }

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0; }

* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1; }

.round-box {
  border: 1px solid #cccccc;
  border-radius: 5px; }

.clear {
  clear: both; }

.wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  /*-webkit-box-shadow: rgba(0,0,0,.45) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.45) 0 1px 3px;
  box-shadow: rgba(0,0,0,.45) 0 1px 3px;
  box-shadow: rgba(0,0,0,.45) 0 1px 6px \0/IE9;*/ }

.panel {
  float: left; }

.text {
  word-wrap: break-word; }
  .text.bold {
    color: #111111; }
  .text.normal {
    color: #606060; }

.text {
  text-align: left;
  word-wrap: break-word; }
  .text.center {
    text-align: center; }
  .text .italic {
    font-style: italic; }
  .text.bold {
    font-weight: bold; }
  .text.highlight {
    color: #ED3B03; }
  .text.gray {
    color: #606060; }
  .text.heavy-gray {
    color: #5d5d5d; }
  .text.light-gray {
    color: #a1a1a1; }
  .text.fuzzy-gray {
    color: #b3b3b3 !important; }
  .text.white {
    color: white !important; }
  .text.black {
    color: #111111; }
  .text.font10 {
    font-size: 10px; }
  .text.font11 {
    font-size: 11px; }
  .text.font12 {
    font-size: 12px; }
  .text.font13 {
    font-size: 13px; }
  .text.font14 {
    font-size: 14px; }
  .text.font16 {
    font-size: 16px; }
  .text.font18 {
    font-size: 18px; }
  .text.font20 {
    font-size: 20px; }
  .text.font22 {
    font-size: 22px; }
  .text.font24 {
    font-size: 24px; }
  .text.font32 {
    font-size: 32px; }
  .text.line11 {
    line-height: 11px; }
  .text.line12 {
    line-height: 12px; }
  .text.line16 {
    line-height: 16px; }
  .text.line18 {
    line-height: 18px; }
  .text.line22 {
    line-height: 22px; }
  .text.line24 {
    line-height: 24px; }
  .text.line32 {
    line-height: 32px; }

.icon {
  margin-right: 3px; }
  .icon.edit {
    background: url("/assets/icon-edit.jpg") no-repeat scroll 0 0 transparent;
    height: 9px;
    width: 9px;
    margin-top: 1px; }

.line-separator {
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin: 10px 0; }

.normal {
  font-weight: normal; }

.fuzzy {
  color: #a1a1a1; }

.italic {
  font-style: italic; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

.no-padding-right {
  padding-right: 0 !important;
  margin-right: 0 !important; }

.no-padding-left {
  padding-left: 0 !important;
  margin-left: 0 !important; }

.show {
  display: inline-block; }

.hide {
  display: none; }

.hidden {
  display: none !important; }

.pagination {
  padding-top: 30px;
  text-align: center;
  clear: both; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #EA501F;
    /*
      background-image: url("/assets/menu-item-hightlight-bg.png");
    */
    background-repeat: repeat-x;
    color: white; }
  .pagination a {
    text-decoration: none;
    color: gray; }
  .pagination a, .pagination em, .pagination span {
    border: 1px solid #CCCCCC;
    display: inline-block;
    padding: 0.2em 0.5em;
    vertical-align: middle;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .pagination a:hover {
    border-color: #999999;
    -webkit-box-shadow: 0 0 3px #999999;
    -moz-box-shadow: 0 0 3px #999999;
    box-shadow: 0 0 3px #999999;
    box-shadow: #999999 0 0 3px \0/IE9; }
  .pagination .previous_page, .pagination .next_page {
    width: 10px;
    height: 18px;
    padding: 0.2em 0.5em;
    line-height: 18px; }
  .pagination .previous_page {
    /*
      background: url("/assets/back.png") no-repeat scroll center center transparent;
    */
    margin-right: 10px; }
  .pagination .next_page {
    /*
      background: url("/assets/next.png") no-repeat scroll center center transparent;
    */
    margin-left: 10px; }

.breadcrum {
  line-height: 1.5em;
  font-weight: bold;
  color: #111111;
  font-size: 16px; }
  .breadcrum .current {
    color: gray; }
  .breadcrum .more {
    color: #111111;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 2px; }

.actions {
  font-size: 14px;
  line-height: 2.5em;
  margin-top: 5px; }

.simple_form label {
  float: left;
  width: 140px;
  margin-right: 10px;
  margin-top: 10px; }

.simple_form .input.optional span label {
  float: none;
  vertical-align: middle; }

.simple_form label abbr {
  float: right;
  color: #D4550B; }

.simple_form select {
  width: 165px;
  float: left; }

.simple_form input[type=text],
.simple_form input[type=email],
.simple_form input[type=password] {
  width: 200px;
  padding: 5px;
  background-color: white; }

.simple_form input[type=text],
.simple_form input[type=email],
.simple_form input[type=password],
.simple_form textarea {
  border: 1px solid #CDCDCD;
  height: 15px; }

.simple_form input, .simple_form textarea {
  vertical-align: middle; }

.simple_form textarea {
  padding: 6px; }

.simple_form .input label, .simple_form .input input {
  vertical-align: middle; }

.simple_form .input.clearfix {
  margin: 5px 0; }

.simple_form textarea {
  float: none;
  width: 90%;
  height: 50px;
  margin-top: 5px; }

.simple_form .desc {
  margin-top: 30px; }

.simple_form span.error {
  margin-left: 50px;
  padding-top: 5px;
  color: #EA501F;
  font-size: 12px;
  font-weight: bold;
  clear: both; }

.buttons-container .button {
  width: 32px;
  height: 32px;
  margin: 0 5px; }
  .buttons-container .button.email {
    background: url("/assets/icon-email.png") no-repeat; }
  .buttons-container .button.facebook {
    background: url("/assets/icon-facebook.png") no-repeat; }
  .buttons-container .button.twitter {
    background: url("/assets/icon-twitter.png") no-repeat !important; }
  .buttons-container .button.flickr {
    background: url("/assets/icon-flickr.png") no-repeat; }
  .buttons-container .button.tumblr {
    background: url("/assets/icon-tumblr.png") no-repeat; }
  .buttons-container .button.pinterest {
    background: url("/assets/icon-pinterest.png") no-repeat; }

.post-comment {
  background: url("/assets/btn-post-comment.jpg") no-repeat;
  width: 111px;
  height: 27px; }

.simplemodal-overlay {
  background-color: #a1a1a1; }

/*==================================================================================*/
/* ID */
/*==================================================================================*/
#header {
  height: 55px;
  background: url("/assets/bg-header.png") repeat-x scroll 0 0 transparent;
  box-shadow: 0 0 2px #1b1b1b; }
  #header .wrapper {
    padding-top: 16px;
    background: url("/assets/bg-header.png") repeat-x scroll 0 0 transparent;
    height: 39px; }
  #header .header-menu li {
    float: left;
    padding: 0px 15px; }
    #header .header-menu li a, #header .header-menu li option {
      color: #111111;
      font-size: 12px;
      text-shadow: 1px 0 2px #CECECE; }
  #header .devider {
    margin-top: -10px;
    padding: 0px 5px; }
  #header #user-box {
    color: #333;
    display: inline-block; }

#top {
  width: 100%;
  margin-top: 30px; }
  #top #filter-box .container {
    padding-right: 25px; }
    #top #filter-box .container select {
      height: 26px;
      padding-top: 2px; }
    #top #filter-box .container .label {
      font-size: 13px; }
  #top #search-box .container {
    width: 155px;
    height: 20px;
    vertical-align: middle;
    background-color: white;
    border-width: 1px;
    border-style: solid none none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -moz-border-top-colors: #979797 #dfdfdf white;
    box-shadow: 0 0 2px #dfdfdf; }
    #top #search-box .container #search-keyword {
      border: none;
      margin-left: 10px;
      vertical-align: middle;
      width: 110px; }
      #top #search-box .container #search-keyword:focus {
        outline: 0 none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
    #top #search-box .container .search-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("/assets/search-13x13.png") no-repeat scroll center left transparent;
      vertical-align: middle;
      cursor: pointer; }
    #top #search-box .container .search-right-padding {
      display: inline-block;
      width: 6px; }

#bottom {
  width: 100%; }
  #bottom .line-separator {
    box-shadow: 0 1px 0 white;
    margin-bottom: 10px; }

#left {
  margin-right: 30px;
  width: 292px; }
  #left .biography {
    margin-top: 10px; }
  #left #user-section {
    width: 100%;
    margin-bottom: 10px; }
    #left #user-section .info .main {
      width: 100%; }
    #left #user-section .edit-pane {
      padding: 5px 0;
      width: 100%;
      border-bottom: 1px solid #cccccc; }

#right {
  width: 292px; }
  #right .user-section {
    width: 100%; }
    #right .user-section #btn-follow {
      height: 23px; }
      #right .user-section #btn-follow.follow {
        background: url("/assets/btn-follow.png") no-repeat;
        width: 57px; }
      #right .user-section #btn-follow.unfollow {
        background: url("/assets/btn-unfollow.png") no-repeat;
        width: 68px; }
  #right .line-separator {
    margin: 10px 0; }

#center #order-preview {
  margin-bottom: 30px; }
#center .wrapper.the-app {
  margin-top: -10px; }
#center .intro {
  width: 300px;
  height: auto;
  word-wrap: break-word;
  margin: 20px 15px; }
  #center .intro .header {
    font-size: 21px;
    margin: 20px 0 10px; }
#center .profile-wrapper {
  width: 638px; }
  #center .profile-wrapper #container {
    width: 100%; }
    #center .profile-wrapper #container .main {
      width: 636px; }
  #center .profile-wrapper .container {
    width: 100%;
    margin-top: 30px; }
    #center .profile-wrapper .container .edit-pane {
      margin-top: 7px;
      cursor: pointer; }
    #center .profile-wrapper .container .images-wrapper {
      width: 100%; }
  #center .profile-wrapper .counter {
    background-color: #ebebeb;
    width: 119px;
    border-radius: 5px;
    box-shadow: 0 1px 0 #c9c9c9;
    margin-right: 10px;
    padding: 7px 0 8px; }
    #center .profile-wrapper .counter .number {
      font-size: 35px; }
    #center .profile-wrapper .counter:hover {
      background-color: #111111;
      box-shadow: 0 1px 2px #111111;
      -moz-box-shadow: 0 0 1px #111111; }
      #center .profile-wrapper .counter:hover .text {
        color: white; }

#email-sharing-popup {
  width: 490px;
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 1px -1px 5px #a1a1a1;
  background-color: white; }
  #email-sharing-popup .header {
    width: 470px;
    padding: 10px;
    background: url("/assets/bg-email-popup.png") repeat-x; }
    #email-sharing-popup .header .email-icon {
      background-image: url("/assets/icon-email-24x24.png");
      width: 24px;
      height: 24px; }
    #email-sharing-popup .header .text.bold {
      font-weight: bold;
      margin-left: 10px;
      line-height: 30px; }
  #email-sharing-popup .main {
    padding: 10px; }
    #email-sharing-popup .main .image-container {
      margin-top: 0;
      margin-left: 0; }
    #email-sharing-popup .main #email-details input, #email-sharing-popup .main #email-details textarea {
      width: 285px; }
    #email-sharing-popup .main #email-details textarea {
      height: 100px; }
    #email-sharing-popup .main #email-details #button-container {
      margin-top: 10px; }
    #email-sharing-popup .main #email-details .button {
      height: 27px; }
      #email-sharing-popup .main #email-details .button.cancel {
        background: url("/assets/btn-cancel.png") no-repeat;
        width: 65px; }
      #email-sharing-popup .main #email-details .button.send {
        background: url("/assets/btn-send.png") no-repeat;
        width: 55px;
        margin-right: 10px; }
    #email-sharing-popup .main #info {
      width: 299px;
      margin-left: 10px; }
  #email-sharing-popup .close {
    color: #111111;
    width: 100%; }
    #email-sharing-popup .close .right {
      border: 1px solid #a1a1a1;
      line-height: 13px;
      text-align: center;
      width: 13px; }

#social-sharing {
  width: 286px;
  position: absolute; }
  #social-sharing .main {
    width: 262px;
    height: 100px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 7px #c2c2c2;
    background-color: white; }
    #social-sharing .main .close {
      color: #bfbfbf;
      width: 100%; }
      #social-sharing .main .close .right {
        border: 1px solid #d8d8d8;
        line-height: 14px;
        text-align: center;
        width: 14px; }
    #social-sharing .main .container {
      padding: 8px 10px; }
  #social-sharing .tail {
    width: 100%;
    height: 13px; }
    #social-sharing .tail .icon {
      background: url("/assets/icon-sharing-tail.png") no-repeat;
      width: 23px;
      height: 12px;
      margin-right: 45px; }

#gallery-form-container {
  margin-bottom: 15px; }
  #gallery-form-container #frm-edit-gallery .sections {
    width: 429px; }
  #gallery-form-container #frm-edit-gallery .input {
    margin: 5px 0; }
    #gallery-form-container #frm-edit-gallery .input label {
      width: 100px; }
    #gallery-form-container #frm-edit-gallery .input input, #gallery-form-container #frm-edit-gallery .input textarea {
      width: 305px;
      margin-top: 0; }
  #gallery-form-container #frm-edit-gallery .button {
    height: 23px; }
    #gallery-form-container #frm-edit-gallery .button.cancel {
      background: url("/assets/btn-cancel-57x23.png") no-repeat;
      width: 57px;
      margin-right: 10px; }
    #gallery-form-container #frm-edit-gallery .button.save {
      background: url("/assets/btn-save-changes.jpg") no-repeat;
      width: 96px; }
  #gallery-form-container #frm-edit-gallery #button-container {
    margin: 5px 0 5px 110px; }
  #gallery-form-container #frm-edit-gallery #gallery_permission {
    height: 28px;
    padding-top: 2px; }

#comments-section .header {
  margin: 20px 0; }
#comments-section .line-separator {
  margin: 15px 0; }

#comment-field {
  border: 1px solid #cdcdcd;
  color: #aaaaaa;
  width: 570px;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px; }

#followers-section .user-section, #following-section .user-section {
  width: 208px;
  margin: 0 3px 15px; }
