/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* HTML */
/*==================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  background-color: #f8f8f8;
  font-size: 12px;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #111111; }

ol, ul {
  list-style: none outside none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

:focus {
  outline: 0 none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #111111; }
  a:link {
    font-weight: bold;
    text-decoration: none; }
  a:visited {
    font-weight: bold;
    text-decoration: none; }
  a:active {
    font-weight: bold;
    text-decoration: none; }
  a:hover {
    font-weight: bold;
    text-decoration: underline; }

p, ul {
  text-align: justify; }

input[type=text], input[type=password], textarea {
  border: 1px solid #cdcdcd;
  padding-left: 5px;
  margin: 0;
  resize: none; }

input[type=checkbox] {
  border: none !important;
  padding-left: 0; }

textarea {
  padding-top: 5px; }

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
/*----- BOXES -----*/
.box {
  padding: 8px;
  color: #555;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eee;
  font-size: 12px; }

.box-info {
  padding-left: 32px;
  border-top: 1px solid #B8E2FB;
  border-bottom: 1px solid #B8E2FB;
  background: #e8f6ff url("/assets/information.png") no-repeat 8px 50%; }

.box-warning {
  padding-left: 32px;
  border-top: 1px solid #F2DD8C;
  border-bottom: 1px solid #F2DD8C;
  background: #fff5cc url("/assets/error.png") no-repeat 8px 50%; }

.box-error, .box-alert {
  padding-left: 32px;
  border-top: 1px solid #F8ACAC;
  border-bottom: 1px solid #F8ACAC;
  background: #ffd1d1 url("/assets/exclamation.png") no-repeat 8px 50%; }

.box-error-msg {
  margin-top: -8px;
  background: #FFF1F1;
  border-top: 0 none;
  border-bottom: 1px solid #FDDCDC;
  color: #664B4B;
  padding: 12px; }

.box-error-msg ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal inside none; }

.box-success, .box-notice {
  padding-left: 32px;
  border-top: 1px solid #BBDF8D;
  border-bottom: 1px solid #BBDF8D;
  background: #eaf7d9 url("/assets/accept.png") no-repeat 8px 50%; }

.box a:hover {
  background: transparent !important; }

.box a.close {
  float: right;
  border: 0 none !important;
  font-weight: bold;
  color: #666 !important;
  text-decoration: none !important; }

.box-info a.close {
  color: #395594 !important; }

.box-warning a.close {
  color: #D6A23D !important; }

.box-error a.close {
  color: #CF563D !important; }

.box-success a.close {
  color: #238221 !important; }

.box.column {
  float: left;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #F5F5F5 #E1E1E1 #C4C4C4;
  border-left: 1px solid #E1E1E1;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-right: 1px solid #E1E1E1;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  min-height: 180px;
  padding: 0px;
  font-size: 100%; }

.box.column .header {
  font-weight: bold;
  height: 30px;
  padding-left: 18px;
  padding-top: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#D6D6D6');
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d6d6d6));
  background: -moz-linear-gradient(top, #f2f2f2, #d6d6d6);
  background: -o-linear-gradient(top, #f2f2f2, #d6d6d6); }

.box.column .content {
  padding: 18px; }

/*----- END BOXES -----*/
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0; }

* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1; }

.round-box {
  border: 1px solid #cccccc;
  border-radius: 5px; }

.clear {
  clear: both; }

.wrapper {
  width: 960px;
  height: 100%;
  margin: 0 auto; }

.panel {
  float: left; }

.text {
  word-wrap: break-word; }
  .text.bold {
    color: #111111; }
  .text.normal {
    color: #606060; }

.hidden-uploader {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .hidden-uploader input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: translate(200px, 0pt) scale(3);
    -o-transform: scale(5); }

.frame-fit {
  width: 100%; }

.text {
  text-align: left;
  word-wrap: break-word; }
  .text.center {
    text-align: center; }
  .text.italic {
    font-style: italic; }
  .text.underline {
    text-decoration: underline;
    cursor: pointer; }
  .text.bold {
    font-weight: bold; }
  .text.normal {
    font-weight: normal; }
  .text.highlight {
    color: #ed3b03; }
  .text.gray {
    color: #606060; }
  .text.heavy-gray {
    color: #5d5d5d; }
  .text.light-gray {
    color: #a1a1a1; }
  .text.fuzzy-gray {
    color: #b3b3b3 !important; }
  .text.white {
    color: white !important; }
  .text.black {
    color: #111111; }
  .text.font10 {
    font-size: 10px; }
  .text.font11 {
    font-size: 11px; }
  .text.font12 {
    font-size: 12px; }
  .text.font13 {
    font-size: 13px; }
  .text.font14 {
    font-size: 14px; }
  .text.font16 {
    font-size: 16px; }
  .text.font18 {
    font-size: 18px; }
  .text.font20 {
    font-size: 20px; }
  .text.font22 {
    font-size: 22px; }
  .text.font24 {
    font-size: 24px; }
  .text.font32 {
    font-size: 32px; }
  .text.line11 {
    line-height: 11px; }
  .text.line12 {
    line-height: 12px; }
  .text.line16 {
    line-height: 16px; }
  .text.line18 {
    line-height: 18px; }
  .text.line22 {
    line-height: 22px; }
  .text.line24 {
    line-height: 24px; }
  .text.line32 {
    line-height: 32px; }

.overlay {
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  background-color: white; }

.actions-panel {
  cursor: pointer; }

.icon.edit {
  background: url("/assets/icon-edit.jpg") no-repeat scroll 0 0 transparent;
  height: 9px;
  width: 9px;
  margin-top: 1px;
  margin-right: 3px; }
.icon.check {
  background: url("/assets/icon-check.png") no-repeat scroll 0 0 transparent;
  height: 12px;
  width: 15px;
  margin-right: 3px; }
.icon.loading-small {
  background: url("/assets/loading-small.gif") no-repeat scroll 0 0 transparent;
  height: 32px;
  width: 32px; }

.line-separator {
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin: 10px 0; }

.bubble .wrapper {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px #777; }
  .bubble .wrapper .container {
    margin: 10px; }
    .bubble .wrapper .container .header {
      width: 100%;
      margin-bottom: 10px; }
      .bubble .wrapper .container .header .cvv {
        margin-left: 5px; }
    .bubble .wrapper .container .close {
      background: url("/assets/icon-close.png") no-repeat;
      height: 16px;
      width: 16px; }
.bubble .tail {
  background: url("/assets/icon-cvv-arrow.png") no-repeat;
  width: 34px;
  height: 18px;
  margin-left: 140px; }

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */ }

.popup {
  border-radius: 5px; }
  .popup .header {
    background: url("/assets/bg-popup-header.png") repeat-x;
    height: 45px;
    border-radius: 5px 5px 0 0;
    width: 100%; }
    .popup .header .title {
      padding-left: 20px;
      line-height: 45px; }
    .popup .header .close {
      margin: 10px 10px 0 0;
      cursor: pointer;
      background: url("/assets/icon-close.png") no-repeat;
      width: 16px;
      height: 16px; }
  .popup .container {
    border-radius: 0 0 5px 5px;
    background-color: white;
    width: 100%; }
    .popup .container .main-panel {
      margin: 20px; }
      .popup .container .main-panel input {
        height: 18px; }
      .popup .container .main-panel textarea {
        height: 88px; }
      .popup .container .main-panel .label {
        margin: 5px 20px 5px 0; }
      .popup .container .main-panel .info-line {
        margin: 5px 0;
        width: 100%; }
      .popup .container .main-panel .line-separator {
        margin: 20px 0px; }
      .popup .container .main-panel .button-container {
        width: 100%; }

.normal {
  font-weight: normal; }

.fuzzy {
  color: #a1a1a1; }

.italic {
  font-style: italic; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

.no-padding-right {
  padding-right: 0 !important;
  margin-right: 0 !important; }

.no-padding-left {
  padding-left: 0 !important;
  margin-left: 0 !important; }

.no-padding-top {
  padding-top: 0 !important;
  margin-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; }

.show {
  display: inline-block; }

.hide {
  display: none; }

.hidden {
  display: none !important; }

.pagination {
  padding-top: 30px;
  text-align: center;
  clear: both;
  font-size: 12px; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: transparent;
    color: #ed3b03; }
  .pagination a {
    font-weight: normal;
    text-decoration: none;
    color: #606060; }
  .pagination a, .pagination em, .pagination span {
    margin: 2px 3px; }
  .pagination a:hover {
    font-weight: bold; }
  .pagination .previous_page {
    background: url("/assets/icon-previous-page.png") no-repeat scroll center center transparent;
    margin-right: 10px;
    display: inline-block;
    width: 8px; }
  .pagination .next_page {
    background: url("/assets/icon-next-page.png") no-repeat scroll center center transparent;
    margin-left: 10px;
    display: inline-block;
    width: 8px; }
  .pagination.text {
    padding: 8px 20px; }
    .pagination.text .current {
      color: #ed3b03;
      background-color: transparent; }
  .pagination.comments {
    padding: 0;
    margin-bottom: 10px; }
    .pagination.comments .current {
      color: #ed3b03;
      background-color: transparent; }

.breadcrum {
  line-height: 1.5em;
  font-weight: bold;
  color: #111111;
  font-size: 16px; }
  .breadcrum .current {
    color: gray; }
  .breadcrum .more {
    color: #111111;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 2px; }

.actions {
  font-size: 14px;
  line-height: 2.5em;
  margin-top: 5px; }

.simple_form label {
  float: left;
  width: 140px;
  margin-right: 10px;
  margin-top: 10px; }

.simple_form .input.optional span label {
  float: none;
  vertical-align: middle; }

.simple_form label abbr {
  float: right;
  color: #D4550B; }

.simple_form select {
  width: 165px;
  float: left; }

.simple_form input[type=text],
.simple_form input[type=email],
.simple_form input[type=password] {
  width: 200px;
  padding: 5px;
  background-color: white; }

.simple_form input[type=text],
.simple_form input[type=email],
.simple_form input[type=password],
.simple_form textarea {
  height: 15px; }

.simple_form input, .simple_form textarea {
  vertical-align: middle; }

.simple_form textarea {
  padding: 6px; }

.simple_form .input label, .simple_form .input input {
  vertical-align: middle; }

.simple_form .input.clearfix {
  margin: 5px 0; }

.simple_form textarea {
  float: none;
  width: 90%;
  height: 50px;
  margin-top: 5px; }

.simple_form .desc {
  margin-top: 30px; }

.simple_form span.error {
  margin-left: 50px;
  padding-top: 5px;
  color: #EA501F;
  font-size: 12px;
  font-weight: bold;
  clear: both; }

.button {
  cursor: pointer; }
  .button.add-to-cart {
    background: url("/assets/btn-add-to-cart.jpg") no-repeat scroll 0 0 transparent;
    height: 27px;
    width: 91px; }
  .button.accept {
    background: url("/assets/btn-accept.png") no-repeat;
    width: 59px;
    height: 21px; }
  .button.accept-all {
    background: url("/assets/btn-accept-all.png") no-repeat;
    width: 75px;
    height: 21px; }
  .button.send-invite {
    background: url("/assets/btn-send-invite.png") no-repeat;
    width: 81px;
    height: 21px; }
  .button.signup {
    background: url("/assets/btn-signup.png") no-repeat;
    width: 79px;
    height: 28px; }
  .button.login {
    background: url("/assets/btn-login.png") no-repeat;
    width: 56px;
    height: 27px; }
  .button.app-store {
    background: url("/assets/btn-app-store.png") no-repeat;
    width: 96px;
    height: 27px; }
  .button.request-invite {
    background: url("/assets/btn-request-invite.png") no-repeat;
    width: 126px;
    height: 27px; }
  .button.search {
    background: url("/assets/btn-search.png") no-repeat;
    width: 57px;
    height: 22px; }
  .button.done {
    background: url("/assets/btn-done.png") no-repeat;
    width: 50px;
    height: 21px; }
  .button.edit {
    background: url("/assets/btn-edit.png") no-repeat;
    width: 43px;
    height: 23px; }
  .button.post-comment {
    background: url("/assets/btn-post-comment.jpg") no-repeat;
    width: 111px;
    height: 27px; }
  .button.update-profile {
    background: url("/assets/btn-update-profile.png") no-repeat;
    width: 106px;
    height: 27px; }
  .button.choose-photo {
    background: url("/assets/btn-choose-photo.png") no-repeat;
    width: 171px;
    height: 27px; }
  .button.follow {
    background: url("/assets/btn-follow.png") no-repeat;
    width: 57px;
    height: 23px; }
  .button.follow-small {
    background: url("/assets/btn-follow-small.png") no-repeat;
    width: 50px;
    height: 21px; }
  .button.unfollow {
    background: url("/assets/btn-unfollow.png") no-repeat;
    width: 68px;
    height: 23px; }
  .button.unfollow-small {
    background: url("/assets/btn-unfollow-small.png") no-repeat;
    width: 59px;
    height: 21px; }
  .button.cancel {
    background: url("/assets/btn-cancel-57x23.png") no-repeat;
    width: 57px;
    height: 23px; }
  .button.cancel-big {
    background: url("/assets/btn-cancel.png") no-repeat;
    width: 65px;
    height: 27px; }
  .button.save {
    background: url("/assets/btn-save-changes.jpg") no-repeat;
    width: 96px;
    height: 23px; }
  .button.ok {
    background: url("/assets/btn-ok.png") no-repeat;
    width: 39px;
    height: 23px; }
  .button.dislike-small {
    background: url("/assets/btn-dislike-small.png") no-repeat;
    width: 47px;
    height: 21px; }
  .button.dismiss {
    background: url("/assets/btn-close-photo.png") no-repeat;
    width: 52px;
    height: 23px; }
  .button.submit {
    background: url("/assets/btn-submit-photo.png") no-repeat;
    width: 60px;
    height: 23px; }
  .button.save-grid-changes {
    background: url("/assets/btn-save-changes-big.png") no-repeat;
    width: 108px;
    height: 27px; }
  .button.save-my-changes {
    background: url("/assets/btn-save-my-changes.png") no-repeat;
    width: 128px;
    height: 27px; }
  .button.leave-not-saving {
    background: url("/assets/btn-leave-changes.png") no-repeat;
    width: 148px;
    height: 27px; }
  .button.delete-photo {
    background: url("/assets/btn-delete-photo.png") no-repeat;
    width: 90px;
    height: 23px; }

.buttons-container .button {
  width: 32px;
  height: 32px;
  margin: 0 5px; }
  .buttons-container .button.email {
    background: url("/assets/icon-email.png") no-repeat; }
  .buttons-container .button.facebook {
    background: url("/assets/icon-facebook.png") no-repeat; }
  .buttons-container .button.twitter {
    background: url("/assets/icon-twitter.png") no-repeat !important; }
  .buttons-container .button.flickr {
    background: url("/assets/icon-flickr.png") no-repeat; }
  .buttons-container .button.tumblr {
    background: url("/assets/icon-tumblr.png") no-repeat; }
  .buttons-container .button.pinterest {
    background: url("/assets/icon-pinterest.png") no-repeat; }

.simplemodal-overlay {
  background-color: #b3b3b3; }

.user-container {
  width: 312px;
  height: 67px;
  background-color: #EAEAEA;
  margin: 6px;
  float: left;
  position: relative; }
  .user-container .profile-link {
    display: inline-block;
    width: 67px; }
  .user-container .user-info {
    padding-left: 15px;
    padding-top: 20px; }
  .user-container .username {
    font-size: 15pt;
    padding-bottom: 5px; }
  .user-container .numbers {
    color: #4D4D4D;
    font-size: 11.5px; }
    .user-container .numbers span.separator {
      margin: 0 2px; }
  .user-container a {
    font-weight: normal; }

/* select menu: modify of jquery.ui.theme.css */
.ui-widget {
  font-family: Arial; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #a5a5a5;
  color: #111111; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 3px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 3px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 3px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 3px; }

.ui-selectmenu {
  height: 20px; }
  .ui-selectmenu:hover {
    text-decoration: none; }

.ui-selectmenu-menu {
  vertical-align: top; }

.ui-selectmenu-menu li a, .ui-selectmenu-status {
  font-size: 11px;
  font-weight: normal;
  line-height: 12px;
  padding: 3px 0 3px 10px; }

/*JQUERY MODIFY */
.ui-widget.ui-widget-content.ui-selectmenu-menu-dropdown.ui-corner-bottom li a {
  font-weight: normal;
  color: #606060;
  padding-left: 20px; }
.ui-widget.ui-widget-content.ui-selectmenu-menu-dropdown.ui-corner-bottom .ui-selectmenu-item-focus.ui-state-hover {
  background: url("/assets/bg-dropdown-selection.png") repeat-x; }
  .ui-widget.ui-widget-content.ui-selectmenu-menu-dropdown.ui-corner-bottom .ui-selectmenu-item-focus.ui-state-hover a {
    background: url("/assets/icon-dropdown-selection.png") no-repeat;
    color: white; }

/*==================================================================================*/
/* ID */
/*==================================================================================*/
#flash {
  margin-bottom: 10px; }

#header {
  height: 55px;
  background: url("/assets/bg-header.png") repeat-x scroll 0 0 transparent;
  box-shadow: 0 0 2px #1b1b1b; }
  #header .wrapper {
    padding-top: 16px;
    background: url("/assets/bg-header.png") repeat-x scroll 0 0 transparent;
    height: 39px; }
  #header .header-menu li {
    float: left;
    padding: 0px 15px; }
  #header .devider {
    margin-top: -10px;
    padding: 0px 5px; }
  #header #user-box {
    color: #333;
    display: inline-block; }
  #header #cart-counter {
    color: white;
    padding: 1px 3px 2px 3px;
    background: url("/assets/bg-shopping-cart.jpg") no-repeat;
    background-size: 100%;
    font-size: 12px;
    font-weight: bold; }

#top {
  width: 100%;
  margin-top: 30px; }
  #top select[id='gallery_selector_id'] {
    height: 20px;
    font-size: 11px; }
    #top select[id='gallery_selector_id'] option {
      height: 14px; }
  #top .data-header {
    margin-top: 10px; }
    #top .data-header .result-number {
      color: #898989; }
    #top .data-header #current {
      text-transform: capitalize; }
  #top .top-nav {
    margin-top: 4px; }
    #top .top-nav .actions-panel .separator {
      margin: 0 5px; }
    #top .top-nav .actions-panel #add-files:hover {
      text-decoration: underline; }
    #top .top-nav .actions-panel #add-files input {
      left: -100px;
      top: -7px;
      -moz-transform: translate(-200px, 0pt) scale(3);
      -ms-transform: translate(-200px, 0pt) scale(3);
      -webkit-transform: scale(3);
      -o-transform: scale(5); }
    #top .top-nav.text {
      margin-right: 4px; }
  #top .actions-panel, #top .action-container {
    margin-top: 2px; }
  #top #filter-box .container {
    padding-right: 25px; }
    #top #filter-box .container select {
      height: 26px;
      padding-top: 2px; }
    #top #filter-box .container .label {
      font-size: 13px; }

.search-box .container {
  width: 155px;
  height: 20px;
  vertical-align: middle;
  background-color: white;
  border-width: 1px;
  border-style: solid none none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-top-colors: #979797 #dfdfdf white;
  box-shadow: 0 0 2px #dfdfdf; }
  .search-box .container .search-keyword {
    border: none;
    margin: 3px 6px 0 3px;
    vertical-align: middle;
    width: 120px; }
    .search-box .container .search-keyword:focus {
      outline: 0 none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .search-box .container .inputHintOverlay {
    color: #a1a1a1;
    font-size: 11px;
    float: left;
    z-index: 1; }
  .search-box .container #wrapSearchjqiho {
    margin-top: -5px; }
    .search-box .container #wrapSearchjqiho input[type=text] {
      background: transparent; }
  .search-box .container .search-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/assets/search-13x13.png") no-repeat scroll center left transparent;
    vertical-align: middle;
    cursor: pointer; }

#bottom {
  width: 100%; }
  #bottom .line-separator {
    box-shadow: 0 1px 0 white;
    margin-bottom: 10px; }

#left {
  margin-right: 30px;
  width: 292px; }
  #left .biography {
    margin: 10px 0; }
    #left .biography .span {
      margin-bottom: 5px; }
  #left .follow-section {
    margin: 10px 0px; }
    #left .follow-section .note {
      margin: 5px 0px 5px 10px; }
  #left #user-section {
    width: 100%;
    margin-bottom: 10px; }
    #left #user-section .info .info-pane {
      padding: 15px 0 15px 10px;
      width: 214px;
      height: auto; }
    #left #user-section .info .edit-pane {
      padding-left: 5px;
      width: 219px; }
    #left #user-section .edit-pane {
      cursor: pointer;
      padding: 5px 0;
      width: 100%;
      border-bottom: 1px solid #cccccc;
      background-color: white; }
      #left #user-section .edit-pane .icon.edit {
        margin-left: 1px; }

#right {
  width: 292px; }
  #right .user-section {
    width: 100%; }
    #right .user-section #btn-follow {
      height: 23px; }
      #right .user-section #btn-follow.follow {
        background: url("/assets/btn-follow.png") no-repeat;
        width: 57px; }
      #right .user-section #btn-follow.unfollow {
        background: url("/assets/btn-unfollow.png") no-repeat;
        width: 68px; }
  #right .line-separator {
    margin: 10px 0; }

#center #images-panel .upload-template.container .image-container.thumb {
  border: 1px solid #cdcdcd;
  line-height: 153px; }
  #center #images-panel .upload-template.container .image-container.thumb canvas {
    vertical-align: middle; }
#center #images-panel .info-panel {
  margin-left: 20px; }
  #center #images-panel .info-panel input, #center #images-panel .info-panel textarea {
    width: 241px;
    color: #606060; }
  #center #images-panel .info-panel input[type=checkbox] {
    width: 10px; }
  #center #images-panel .info-panel select {
    width: 100%; }
  #center #images-panel .info-panel .info-line {
    width: 100%;
    margin: 5px 0; }
    #center #images-panel .info-panel .info-line textarea {
      height: 64px; }
    #center #images-panel .info-panel .info-line .label {
      margin: 2px 0px; }
    #center #images-panel .info-panel .info-line .inline {
      margin: 5px 0px; }
    #center #images-panel .info-panel .info-line .half {
      width: 120px; }
    #center #images-panel .info-panel .info-line.progress, #center #images-panel .info-panel .info-line.progress .uploading {
      height: 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      background: transparent; }
    #center #images-panel .info-panel .info-line.progress .uploading {
      width: auto;
      background: url("/assets/progressbar.gif"); }
#center #images-panel .upload-template .info-panel {
  width: 782px; }
  #center #images-panel .upload-template .info-panel .info-line.error {
    color: red; }
  #center #images-panel .upload-template .info-panel .info-line.progress {
    width: 248px; }
#center #images-panel .edit-template .info-panel {
  width: 248px; }
  #center #images-panel .edit-template .info-panel .price {
    margin-left: 5px; }
#center #images-panel .edit-template .line-separator {
  margin: 13px 0px; }
#center #order-preview {
  margin-bottom: 30px;
  overflow: hidden; }
  #center #order-preview #preview-frame {
    width: 100%;
    height: 100%;
    overflow: hidden; }
#center .wrapper.the-app {
  margin-top: -10px; }
#center .container {
  width: 100%; }
#center .intro {
  width: 300px;
  height: auto;
  word-wrap: break-word;
  margin: 20px 15px; }
  #center .intro .header {
    font-size: 21px;
    margin: 20px 0 10px; }
#center .profile-wrapper {
  width: 638px; }
  #center .profile-wrapper #container {
    width: 100%; }
    #center .profile-wrapper #container .label {
      margin-left: 5px; }
    #center .profile-wrapper #container #counter {
      margin-left: 5px; }
    #center .profile-wrapper #container .main {
      width: 636px; }
    #center .profile-wrapper #container .followers-container .user-section, #center .profile-wrapper #container .followings-container .user-section, #center .profile-wrapper #container .likes-container .image-section {
      width: 313px;
      margin: 6px; }
      #center .profile-wrapper #container .followers-container .user-section .info-panel, #center .profile-wrapper #container .followings-container .user-section .info-panel, #center .profile-wrapper #container .likes-container .image-section .info-panel {
        margin-left: 1px;
        padding: 18px 12px;
        width: 221px;
        height: 31px;
        background-color: #ebebeb; }
        #center .profile-wrapper #container .followers-container .user-section .info-panel a, #center .profile-wrapper #container .followings-container .user-section .info-panel a, #center .profile-wrapper #container .likes-container .image-section .info-panel a {
          font-weight: normal;
          cursor: pointer; }
        #center .profile-wrapper #container .followers-container .user-section .info-panel a:hover, #center .profile-wrapper #container .followings-container .user-section .info-panel a:hover, #center .profile-wrapper #container .likes-container .image-section .info-panel a:hover {
          font-weight: bold; }
        #center .profile-wrapper #container .followers-container .user-section .info-panel .name, #center .profile-wrapper #container .followings-container .user-section .info-panel .name, #center .profile-wrapper #container .likes-container .image-section .info-panel .name {
          margin: -2px 0 11px; }
          #center .profile-wrapper #container .followers-container .user-section .info-panel .name a:hover, #center .profile-wrapper #container .followings-container .user-section .info-panel .name a:hover, #center .profile-wrapper #container .likes-container .image-section .info-panel .name a:hover {
            font-weight: normal; }
        #center .profile-wrapper #container .followers-container .user-section .info-panel .button.dislike-small, #center .profile-wrapper #container .followers-container .user-section .info-panel .button.follow-small, #center .profile-wrapper #container .followers-container .user-section .info-panel .button.unfollow-small, #center .profile-wrapper #container .followings-container .user-section .info-panel .button.dislike-small, #center .profile-wrapper #container .followings-container .user-section .info-panel .button.follow-small, #center .profile-wrapper #container .followings-container .user-section .info-panel .button.unfollow-small, #center .profile-wrapper #container .likes-container .image-section .info-panel .button.dislike-small, #center .profile-wrapper #container .likes-container .image-section .info-panel .button.follow-small, #center .profile-wrapper #container .likes-container .image-section .info-panel .button.unfollow-small {
          margin-top: -4px; }
  #center .profile-wrapper .container {
    margin-top: 15px; }
    #center .profile-wrapper .container a.title {
      cursor: pointer; }
    #center .profile-wrapper .container a.edit-pane {
      font-weight: normal; }
    #center .profile-wrapper .container .edit-pane {
      margin-top: 7px;
      cursor: pointer; }
    #center .profile-wrapper .container .list {
      margin-top: 7px; }
    #center .profile-wrapper .container .images-wrapper {
      width: 100%; }
  #center .profile-wrapper .counter {
    width: 119px;
    margin-right: 10px;
    cursor: pointer; }
    #center .profile-wrapper .counter .info {
      background-color: #ebebeb;
      border-radius: 5px;
      box-shadow: 0 1px 0 #c9c9c9;
      padding: 7px 0 8px; }
      #center .profile-wrapper .counter .info .number {
        font-size: 35px; }
      #center .profile-wrapper .counter .info .label {
        text-transform: capitalize; }
    #center .profile-wrapper .counter .tail {
      visibility: hidden;
      background: url("/assets/icon-counter-tail.png") no-repeat;
      width: 23px;
      height: 13px;
      margin: 0 48px; }
    #center .profile-wrapper .counter:hover .info {
      background-color: #111111;
      box-shadow: 0 1px 2px #111111;
      -moz-box-shadow: 0 0 1px #111111; }
      #center .profile-wrapper .counter:hover .info .text {
        color: white; }
    #center .profile-wrapper .counter.current .tail {
      visibility: visible; }
    #center .profile-wrapper .counter.current:hover .tail {
      visibility: hidden; }

#edit-profile-info-popup {
  width: 401px; }
  #edit-profile-info-popup input, #edit-profile-info-popup textarea {
    width: 232px; }
  #edit-profile-info-popup .note {
    width: 100px;
    padding-top: 10px; }
  #edit-profile-info-popup #btn-update {
    margin: 0 10px 0 120px; }

#edit-profile-photo-popup {
  width: 405px; }
  #edit-profile-photo-popup .container .main-panel {
    margin: 10px; }
  #edit-profile-photo-popup .line-separator {
    margin: 10px 0 20px 0; }
  #edit-profile-photo-popup .current-photo {
    width: 96px; }
    #edit-profile-photo-popup .current-photo .text {
      background-color: #ebebeb;
      width: 100%;
      line-height: 25px;
      text-align: center; }
  #edit-profile-photo-popup .uploading {
    width: 269px;
    margin: 10px 0 0 20px; }
    #edit-profile-photo-popup .uploading #add-file {
      margin: 10px 0px; }
      #edit-profile-photo-popup .uploading #add-file input {
        left: -200px;
        -webkit-transform: scale(3);
        -ms-transform: translate(-50px, 0px) scale(3); }
  #edit-profile-photo-popup .held-photos .photos {
    margin-top: 8px; }
    #edit-profile-photo-popup .held-photos .photos .avatar {
      margin: 0 5px;
      border: 1px solid #b3b3b3;
      position: relative; }
      #edit-profile-photo-popup .held-photos .photos .avatar .delete {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        width: 14px;
        line-height: 14px;
        text-align: center;
        font-weight: bold;
        background-color: #b3b3b3; }

#email-sharing-popup {
  width: 490px;
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 1px -1px 5px #a1a1a1;
  background-color: white; }
  #email-sharing-popup .header {
    width: 470px;
    padding: 10px;
    background: url("/assets/bg-popup-header.png") repeat-x; }
    #email-sharing-popup .header .email-icon {
      background-image: url("/assets/icon-email-24x24.png");
      width: 24px;
      height: 24px; }
    #email-sharing-popup .header .text.bold {
      font-weight: bold;
      margin-left: 10px;
      line-height: 30px; }
  #email-sharing-popup .main {
    padding: 10px; }
    #email-sharing-popup .main .image-container {
      margin-top: 0;
      margin-left: 0; }
    #email-sharing-popup .main #email-details input, #email-sharing-popup .main #email-details textarea {
      width: 285px; }
    #email-sharing-popup .main #email-details textarea {
      height: 100px; }
    #email-sharing-popup .main #email-details #button-container {
      margin-top: 10px; }
    #email-sharing-popup .main #email-details .button {
      height: 27px; }
      #email-sharing-popup .main #email-details .button.cancel {
        background: url("/assets/btn-cancel.png") no-repeat;
        width: 65px; }
      #email-sharing-popup .main #email-details .button.send {
        background: url("/assets/btn-send.png") no-repeat;
        width: 55px;
        margin-right: 10px; }
    #email-sharing-popup .main #info {
      width: 299px;
      margin-left: 10px; }
  #email-sharing-popup .close {
    color: #111111;
    width: 100%; }
    #email-sharing-popup .close .right {
      border: 1px solid #a1a1a1;
      line-height: 13px;
      text-align: center;
      width: 13px; }

#social-sharing {
  width: 286px;
  position: absolute; }
  #social-sharing .main {
    width: 262px;
    height: 100px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 7px #c2c2c2;
    background-color: white; }
    #social-sharing .main .close {
      color: #bfbfbf;
      width: 100%; }
      #social-sharing .main .close .right {
        border: 1px solid #d8d8d8;
        line-height: 14px;
        text-align: center;
        width: 14px; }
    #social-sharing .main .container {
      padding: 8px 10px;
      width: 242px; }
  #social-sharing .tail {
    width: 100%;
    height: 13px; }
    #social-sharing .tail .icon {
      background: url("/assets/icon-sharing-tail.png") no-repeat;
      width: 23px;
      height: 12px;
      margin-right: 45px; }

#gallery-form-container {
  margin-bottom: 15px; }
  #gallery-form-container #frm-edit-gallery .sections {
    width: 429px; }
  #gallery-form-container #frm-edit-gallery .input {
    margin: 5px 0; }
    #gallery-form-container #frm-edit-gallery .input label {
      width: 100px; }
    #gallery-form-container #frm-edit-gallery .input input, #gallery-form-container #frm-edit-gallery .input textarea {
      width: 305px;
      margin-top: 0; }
  #gallery-form-container #frm-edit-gallery .button.cancel {
    margin-right: 10px; }
  #gallery-form-container #frm-edit-gallery #button-container {
    margin: 5px 0 5px 110px; }

#comments-section .header {
  margin: 20px 0; }
#comments-section .line-separator {
  margin: 15px 0; }

#frm-comment #comment_description {
  width: 570px;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px; }
#frm-comment .inputHintOverlay {
  color: #aaaaaa; }

#followers-section .user-section, #following-section .user-section {
  width: 208px;
  height: 24px;
  margin: 0 3px 15px; }
  #followers-section .user-section .info-panel, #following-section .user-section .info-panel {
    width: 175px; }

#edit-gallery-popup {
  width: 390px; }
  #edit-gallery-popup .main-panel input, #edit-gallery-popup .main-panel textarea {
    width: 232px; }
  #edit-gallery-popup .main-panel .label {
    width: 89px; }
  #edit-gallery-popup .main-panel .note {
    margin: 6px 0 0 10px; }
  #edit-gallery-popup .main-panel #button-container {
    margin-left: 110px; }
    #edit-gallery-popup .main-panel #button-container #btn-gallery-save {
      margin-right: 10px; }

#delete-confirm-popup {
  width: 300px; }
  #delete-confirm-popup .main-panel {
    width: 260px; }
    #delete-confirm-popup .main-panel #button-container {
      margin: 0; }
      #delete-confirm-popup .main-panel #button-container #btn-ok {
        margin-left: 10px; }
  #delete-confirm-popup.profile-photo {
    width: 340px; }
    #delete-confirm-popup.profile-photo .main-panel {
      width: 300px; }
      #delete-confirm-popup.profile-photo .main-panel #button-container {
        margin: 0 97px; }

#save-confirm-popup {
  width: 326px; }
  #save-confirm-popup .main-panel {
    width: 286px; }
    #save-confirm-popup .main-panel .button.save-my-changes {
      margin-right: 10px; }

#pricing-form {
  width: 262px; }
  #pricing-form .container {
    width: 242px; }
  #pricing-form .icon.loading-small {
    margin: 0 auto; }
  #pricing-form .tail {
    margin-left: 50px; }
  #pricing-form #price-tiers {
    margin-bottom: 10px; }
  #pricing-form .header {
    margin-bottom: 5px;
    margin-top: -5px; }

#frm-pricing .cell {
  width: 43px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  #frm-pricing .cell.header {
    height: 20px;
    line-height: 20px;
    margin: 0;
    background-color: #ebebeb;
    border-bottom: none; }
  #frm-pricing .cell.type {
    width: 65px;
    text-align: left; }
    #frm-pricing .cell.type input[type=radio] {
      padding: 0;
      margin: 0;
      vertical-align: middle; }
    #frm-pricing .cell.type label {
      vertical-align: middle; }
    #frm-pricing .cell.type.header {
      text-align: center; }
  #frm-pricing .cell.last {
    border-right: none; }

/* select button */
#my_links-button {
  height: 20px; }

#my_links-button, #my_links-menu {
  min-width: 110px;
  max-width: 110px; }
  #my_links-button li a, #my_links-button .ui-selectmenu-status, #my_links-menu li a, #my_links-menu .ui-selectmenu-status {
    font-size: 11px;
    padding-top: 4px; }

#gallery_permission-button, #gallery_permission-menu {
  max-width: 120px;
  min-width: 120px; }
  #gallery_permission-button li a, #gallery_permission-button .ui-selectmenu-status, #gallery_permission-menu li a, #gallery_permission-menu .ui-selectmenu-status {
    font-weight: normal; }

#image_gallery_id-button, #image_gallery_id-menu, #image_price-menu, #image_price-button {
  max-width: 248px;
  min-width: 248px;
  height: 22px; }
  #image_gallery_id-button li a, #image_gallery_id-button .ui-selectmenu-status, #image_gallery_id-menu li a, #image_gallery_id-menu .ui-selectmenu-status, #image_price-menu li a, #image_price-menu .ui-selectmenu-status, #image_price-button li a, #image_price-button .ui-selectmenu-status {
    padding-top: 5px; }

#gallery_selector_id-button {
  height: 20px; }

#gallery_selector_id-button, #gallery_selector_id-menu {
  max-width: 160px;
  min-width: 160px; }
  #gallery_selector_id-button li a, #gallery_selector_id-button .ui-selectmenu-status, #gallery_selector_id-menu li a, #gallery_selector_id-menu .ui-selectmenu-status {
    padding-top: 4px; }
  #gallery_selector_id-button .number, #gallery_selector_id-menu .number {
    margin-left: 5px; }

#query_filtered_by-button, #query_sort_by-button {
  height: 20px; }

#query_filtered_by-button, #query_filtered_by-menu {
  max-width: 90px;
  min-width: 90px; }
  #query_filtered_by-button li a, #query_filtered_by-button .ui-selectmenu-status, #query_filtered_by-menu li a, #query_filtered_by-menu .ui-selectmenu-status {
    padding-top: 4px;
    font-size: 11px; }

#query_sort_by-button, #query_sort_by-menu {
  max-width: 108px;
  min-width: 108px; }
  #query_sort_by-button li a, #query_sort_by-button .ui-selectmenu-status, #query_sort_by-menu li a, #query_sort_by-menu .ui-selectmenu-status {
    padding-top: 4px;
    font-size: 11px; }

#line_item_size-button, #line_item_size-menu, #line_item_moulding-button, #line_item_moulding-menu {
  max-width: 125px;
  min-width: 125px; }

#line_item_size-button .ui-selectmenu-status, #line_item_moulding-button .ui-selectmenu-status {
  padding-left: 4px; }

/* end - select button */
#filtering-search-box {
  margin-top: 6px; }
  #filtering-search-box #query {
    width: 230px;
    height: 18px;
    font-size: 12px; }
  #filtering-search-box #filtered_by-button {
    margin: 0 6px; }
  #filtering-search-box #sort_by-button {
    margin-left: 6px; }
  #filtering-search-box .button.search {
    margin-right: 10px; }
  #filtering-search-box .text.sort {
    margin-top: 6px; }

#non-login-container {
  position: relative; }
  #non-login-container #register-panel label, #non-login-container #session-container label {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 0 0 5px 0;
    line-height: 10px; }
  #non-login-container #register-panel input[type=text], #non-login-container #register-panel input[type=password], #non-login-container #session-container input[type=text], #non-login-container #session-container input[type=password] {
    width: 238px;
    border-radius: 0;
    border-width: 1px solid #cccccc;
    height: 22px; }
  #non-login-container #register-panel .header, #non-login-container #session-container .header {
    font-size: 31px;
    line-height: 35px; }
  #non-login-container #register-panel .title, #non-login-container #session-container .title {
    color: #898989;
    margin-top: 14px; }
  #non-login-container #register-panel .line, #non-login-container #session-container .line {
    margin-top: 20px;
    display: inline-block;
    width: 100%; }
  #non-login-container #register-panel {
    background-color: #000000;
    margin: 30px auto 50px auto;
    padding: 40px;
    width: 510px; }
    #non-login-container #register-panel .half {
      width: 245px; }
    #non-login-container #register-panel .term-of-use {
      color: #969696; }
    #non-login-container #register-panel #btn-signup {
      height: 28px;
      border: none; }
    #non-login-container #register-panel #register-form {
      margin-top: 20px; }
  #non-login-container #session-container {
    position: absolute;
    top: 0;
    left: 161px;
    width: 638px;
    z-index: 1001; }
    #non-login-container #session-container #signup-area, #non-login-container #session-container #signin-area {
      width: 319px;
      height: 316px; }
      #non-login-container #session-container #signup-area .main, #non-login-container #session-container #signin-area .main {
        margin: 45px 36px 0 38px; }
    #non-login-container #session-container #signup-area {
      background-color: #000000; }
      #non-login-container #session-container #signup-area #frm-request {
        margin-top: 13px; }
    #non-login-container #session-container #signin-area {
      background-color: rgba(0, 0, 0, 0.5); }
      #non-login-container #session-container #signin-area #btn-login {
        height: 27px;
        margin-right: 20px;
        border: none; }
      #non-login-container #session-container #signin-area a {
        margin-top: 8px;
        text-decoration: underline; }
