/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.banner {
  background: url("/assets/bg-banner.png") repeat-x scroll center left transparent;
  color: #FFFFFF !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  height: 537px; }
  .banner .left .info {
    word-wrap: break-word;
    text-align: left;
    line-height: 24.4px;
    font-size: 16px;
    margin-top: 20px; }

#right {
  width: 234px; }

#banner .main {
  height: 480px; }
  #banner .main .left {
    margin-top: 116px; }
    #banner .main .left .logo {
      background: url("/assets/logo-uplo-banner.png") no-repeat scroll center left transparent;
      width: 157px;
      height: 44px;
      margin-bottom: 12px; }
    #banner .main .left .info {
      height: 97px;
      margin: 30px 0 70px; }
    #banner .main .left.spotlight {
      width: 420px; }
    #banner .main .left.the-app {
      width: 500px; }
  #banner .main .right.spotlight {
    background: url("/assets/banner-devices-spotlight.png") no-repeat scroll center left transparent;
    height: 316px;
    width: 525px;
    margin-top: 104px; }
  #banner .main .right.the-app {
    background: url("/assets/banner-devices-the-app.png") no-repeat scroll center left transparent;
    height: 418px;
    width: 431px;
    margin-top: 100px; }
#banner .sub {
  background: url("/assets/bg-sub-banner.png") repeat-x scroll center left transparent;
  height: 149px; }
  #banner .sub .wrapper {
    height: 140px; }
  #banner .sub .devider {
    padding: 20px 34px; }
  #banner .sub .info {
    width: 273px;
    word-wrap: break-word;
    text-align: justify;
    font-size: 12px;
    margin: 20px 0;
    line-height: 22px; }
    #banner .sub .info .header {
      font-weight: bold;
      font-size: 14px; }
      #banner .sub .info .header .main {
        font-size: 24px; }
    #banner .sub .info .text {
      line-height: 18px;
      margin-top: 7px; }

.the-app .left {
  margin-top: 150px !important; }
  .the-app .left ul {
    margin-top: 7px; }
    .the-app .left ul li {
      padding: 1px 0; }
  .the-app .left .check {
    background: url("/assets/banner-check.png") no-repeat scroll center left transparent;
    height: 20px;
    padding-left: 18px; }
  .the-app .left .info {
    height: 152px;
    margin-top: 5px; }
