/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.main .banner {
  color: #FFFFFF !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100; }
  .main .banner .info {
    word-wrap: break-word;
    text-align: left;
    line-height: 24.4px;
    font-size: 16px; }
.main.the-app {
  height: 475px; }
  .main.the-app .banner {
    background: url("/assets/bg-banner-the-app.png") repeat-x scroll center left transparent;
    height: 530px; }
    .main.the-app .banner .left {
      width: 500px;
      margin-top: 120px; }
      .main.the-app .banner .left ul {
        margin-top: 7px; }
        .main.the-app .banner .left ul li {
          padding: 1px 0; }
      .main.the-app .banner .left .check {
        background: url("/assets/banner-check.png") no-repeat scroll center left transparent;
        height: 20px;
        padding-left: 18px; }
      .main.the-app .banner .left .info {
        height: 152px;
        margin: 30px 0; }
    .main.the-app .banner .right {
      background: url("/assets/img-banner-devices-the-app.png") no-repeat scroll center left transparent;
      height: 418px;
      width: 431px;
      margin-top: 90px; }
.main.spotlight {
  height: 386px; }
  .main.spotlight .banner {
    background: url("/assets/bg-banner-spotlight.png") repeat-x scroll center left transparent;
    height: 441px; }
    .main.spotlight .banner .left {
      width: 435px;
      margin-top: 115px; }
      .main.spotlight .banner .left .info {
        margin: 20px 0; }
    .main.spotlight .banner .right {
      background: url("/assets/img-banner-devices-spotlight.png") no-repeat scroll center left transparent;
      height: 316px;
      width: 525px;
      margin-top: 104px; }

#right {
  width: 234px; }

#banner .main .left .logo {
  background: url("/assets/logo-uplo-banner.png") no-repeat scroll center left transparent;
  width: 157px;
  height: 44px;
  margin-bottom: 10px; }
#banner .sub {
  background: url("/assets/bg-sub-banner.png") repeat-x scroll center left transparent;
  height: 149px; }
  #banner .sub .wrapper {
    height: 140px; }
  #banner .sub .devider {
    padding: 20px 34px; }
  #banner .sub .info {
    width: 273px;
    word-wrap: break-word;
    text-align: justify;
    font-size: 12px;
    margin: 20px 0;
    line-height: 22px; }
    #banner .sub .info .header {
      font-weight: bold;
      font-size: 14px; }
      #banner .sub .info .header .main {
        font-size: 24px; }
    #banner .sub .info .text {
      line-height: 18px;
      margin-top: 7px; }
