/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.banner {
  background: url("/assets/banner-bg.jpg") repeat-x scroll center left transparent;
  height: 399px;
  color: #FFFFFF; }
  .banner .wrapper {
    background: url("/assets/banner-bg.jpg") repeat-x scroll center left transparent;
    height: 399px; }
  .banner .left {
    width: 445px; }
    .banner .left .info {
      word-wrap: break-word;
      text-align: justify;
      line-height: 20px;
      font-size: 13.5px;
      margin-top: 20px; }
  .banner .right {
    width: 500px; }

.spotlight .upper .left {
  margin-top: 82px; }
  .spotlight .upper .left .logo {
    background: url("/assets/banner-logo-broadcast.png") no-repeat scroll center left transparent;
    width: 330px;
    height: 75px;
    margin-top: 10px; }
  .spotlight .upper .left .info {
    height: 97px; }
.spotlight .upper .right {
  background: url("/assets/banner-devices-spotlight.png") no-repeat scroll center left transparent;
  height: 300px;
  width: 498px;
  margin-top: 82px; }
.spotlight .lower {
  background: url("/assets/banner-lower-bg.png") repeat-x scroll center left transparent;
  height: 140px;
  border-bottom: 1px solid #cbcbcb; }
  .spotlight .lower .wrapper {
    background: url("/assets/banner-lower-bg.png") repeat-x scroll center left transparent;
    height: 140px;
    border-bottom: 1px solid #cbcbcb; }
  .spotlight .lower .devider {
    padding: 20px; }
  .spotlight .lower .info {
    width: 292px;
    word-wrap: break-word;
    text-align: justify;
    font-size: 12px;
    margin: 20px 0;
    line-height: 22px; }
    .spotlight .lower .info .header {
      color: black;
      font-weight: bold;
      font-size: 15px; }
      .spotlight .lower .info .header .main {
        font-size: 20px; }
    .spotlight .lower .info .text {
      line-height: 16px;
      margin-top: 7px; }

.the-app .left {
  margin-top: 20px; }
  .the-app .left ul {
    margin-top: 7px; }
    .the-app .left ul li {
      padding: 1px 0; }
  .the-app .left .header {
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
    height: 70px; }
  .the-app .left .check {
    background: url("/assets/banner-check.png") no-repeat scroll center left transparent;
    height: 20px;
    padding-left: 18px; }
  .the-app .left .info {
    height: 152px;
    margin-top: 5px; }
.the-app .right {
  background: url("/assets/banner-devices-the-app.png") no-repeat scroll center left transparent;
  height: 360px;
  width: 350px;
  margin-top: 20px; }
