/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* IDs */
/*==================================================================================*/
#order-details .round-box {
  width: 290px;
  padding: 0; }
#order-details .item {
  margin: 8px 10px;
  width: 125px; }
  #order-details .item input[type='radio'] {
    margin: 0;
    padding: 0;
    vertical-align: middle; }
  #order-details .item label {
    vertical-align: middle;
    float: none;
    margin: 0; }
  #order-details .item #line_item_quantity {
    margin: -5px;
    padding: 0 5px;
    width: 116px;
    height: 20px; }

#order-shippings {
  margin-bottom: 30px; }
  #order-shippings #card_ccv {
    width: 83px; }
  #order-shippings #billing-address #billing_ship_to_billing {
    margin: 6px 5px 0 0;
    width: 10px !important; }
  #order-shippings #shipping-address {
    height: auto;
    min-height: 155px; }
    #order-shippings #shipping-address .edit {
      width: 281px;
      font-size: 11px;
      background-color: #ebebeb;
      border: 1px solid #d8d8d8;
      padding: 15px 10px;
      margin-top: 10px; }
      #order-shippings #shipping-address .edit a {
        text-decoration: underline;
        font-weight: normal; }
  #order-shippings .grand-total {
    margin: 10px 0; }
  #order-shippings .submit {
    background: url("/assets/btn-place-order.jpg") no-repeat;
    width: 94px;
    height: 28px;
    margin: 10px 0; }

#order-summary .solid-block {
  background-color: #e9e9e9;
  padding: 10px;
  margin-top: 10px; }
  #order-summary .solid-block .no-background {
    background-color: white; }
  #order-summary .solid-block .summary {
    padding-right: 10px; }

#cvv-explanation {
  font-size: 9px;
  text-decoration: underline; }

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.cart-details {
  font-size: 11.5px;
  line-height: 22px; }
  .cart-details .cell {
    width: 100px;
    text-align: center; }
    .cart-details .cell.preview {
      width: 360px;
      margin: 0;
      text-align: left; }
    .cart-details .cell.subtotal {
      text-align: right; }
  .cart-details .line {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc; }
    .cart-details .line .cell {
      line-height: 66px; }
    .cart-details .line .preview a:link {
      font-weight: normal;
      margin-left: 3px; }
    .cart-details .line .preview .edit-section {
      margin: 22px 0 10px 10px; }
    .cart-details .line .preview .edit {
      background: url("/assets/icon-edit.jpg") no-repeat scroll 0 0 transparent;
      height: 9px;
      width: 9px;
      margin-top: 4px; }
    .cart-details .line .preview .delete {
      margin-left: 10px; }
    .cart-details .line .preview .name {
      width: 280px; }
  .cart-details .header {
    padding: 10px 0 5px;
    text-shadow: 0 0 1px #c3c3c3;
    border-bottom: 1px solid #cccccc; }
    .cart-details .header .cell {
      margin: 0; }
  .cart-details .footer {
    margin-top: 10px;
    width: 100%; }
    .cart-details .footer .summary {
      margin: 10px 0; }
      .cart-details .footer .summary .cell {
        text-align: right;
        width: 140px; }
    .cart-details .footer .cell {
      margin-top: 0; }

.actions {
  margin: 10px 0 20px 0; }
  .actions .shopping a {
    font-weight: normal;
    text-decoration: underline;
    line-height: 28px; }
  .actions .checkout {
    background: url("/assets/btn-checkout.jpg") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 137px; }

.option {
  margin-bottom: 15px; }
  .option .header {
    line-height: 31px;
    padding-left: 10px;
    background: url("/assets/option-header-bg.png") repeat-x scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .option .line {
    border-top: 1px solid #cccccc;
    width: 100%; }

.add-to-cart {
  background: url("/assets/btn-add-to-cart.jpg") no-repeat scroll 0 0 transparent;
  height: 27px;
  width: 91px; }

.order_summary {
  margin: 20px 30px 0 0;
  width: 300px; }
  .order_summary input {
    width: 200px; }
  .order_summary .header .italic {
    margin-top: 5px; }
  .order_summary .inputs {
    width: 100%; }
    .order_summary .inputs .info {
      margin-top: 10px;
      height: 28px; }
      .order_summary .inputs .info #cvv-explanation a {
        font-weight: normal; }
      .order_summary .inputs .info label {
        width: 88px;
        margin: 8px 10px 8px 0;
        font-size: 11px; }
      .order_summary .inputs .info input {
        width: 190px;
        font-size: 12px; }
      .order_summary .inputs .info select {
        width: 202px !important;
        height: 30px;
        padding: 3px 1px;
        font-size: 12px; }
      .order_summary .inputs .info.expiration-date select {
        width: 96px !important; }
      .order_summary .inputs .info.expiration-date #card_expires_on_2i {
        margin-right: 10px; }
    .order_summary .inputs .simple_form label {
      width: 110px; }
    .order_summary .inputs .simple_form input[type=text], .order_summary .inputs .simple_form input[type=email], .order_summary .inputs .simple_form input[type=password] {
      width: 176px; }
  .order_summary .actions {
    float: left; }

.block {
  width: 100%;
  padding: 10px 0; }
  .block .line {
    padding: 0 10px;
    width: 260px; }
    .block .line.name {
      padding-bottom: 8px; }

.summary .text .right {
  width: 120px;
  text-align: right; }
