/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* IDs */
/*==================================================================================*/
#order-details .round-box {
  width: 298px;
  padding: 0; }
#order-details .item {
  width: 125px;
  line-height: 22px;
  padding: 5px 10px; }
  #order-details .item input[type='radio'] {
    margin: 0;
    padding: 0;
    vertical-align: middle; }
  #order-details .item label {
    vertical-align: middle;
    float: none;
    margin: 0; }

#order-shippings #shipping-address .edit {
  background-color: #EEEEEE;
  border: 1px solid #CBCBCB;
  padding: 10px; }
  #order-shippings #shipping-address .edit a {
    text-decoration: underline; }
#order-shippings .submit {
  background: url("/assets/btn-place-order.jpg") no-repeat;
  width: 94px;
  height: 28px; }

/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.cart-details {
  font-size: 11.5px;
  line-height: 22px; }
  .cart-details .cell {
    width: 100px;
    text-align: center;
    margin-top: 50px; }
    .cart-details .cell.preview {
      width: 360px;
      margin: 0;
      text-align: left; }
    .cart-details .cell.subtotal {
      text-align: right; }
  .cart-details .line {
    height: 100px;
    padding: 10px 0;
    border-bottom: 1px #cbcbcb solid; }
    .cart-details .line .preview img {
      width: 100px;
      height: 100px; }
    .cart-details .line .preview a:link {
      font-weight: normal; }
    .cart-details .line .preview .edit {
      background: url("/assets/icon-edit.jpg") no-repeat scroll 0 0 transparent;
      height: 9px;
      width: 9px;
      margin-top: 6px; }
    .cart-details .line .preview .name {
      color: black;
      font-weight: bold;
      width: 250px;
      word-wrap: break-word;
      padding-left: 10px;
      margin-top: 50px; }
  .cart-details .header {
    padding: 5px 0;
    border-bottom: 1px #cbcbcb solid;
    color: black;
    font-weight: bold;
    height: 20px; }
    .cart-details .header .cell {
      margin: 0; }
  .cart-details .footer .summary {
    font-weight: bold;
    font-size: 13.5px;
    color: black; }
  .cart-details .footer .subtotal {
    width: 140px; }
  .cart-details .footer .cell {
    margin-top: 0; }

.actions {
  font-size: 13.5px;
  line-height: 22px; }
  .actions .shopping a {
    color: black;
    font-weight: normal;
    text-decoration: underline; }
  .actions .checkout {
    background: url("/assets/btn-checkout.jpg") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 137px;
    margin-top: 10px; }

.option {
  margin-bottom: 10px; }
  .option .header {
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 10px;
    background: url("/assets/option-header-bg.png") repeat-x scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .option .line {
    border-top: 1px solid #cbcbcb;
    width: 298px; }

.add-to-cart {
  background: url("/assets/btn-add-to-cart.jpg") no-repeat scroll 0 0 transparent;
  height: 27px;
  width: 91px; }

.order_summary {
  padding-right: 15px;
  width: 310px; }
  .order_summary input {
    width: 200px; }
  .order_summary .header {
    font-weight: bold;
    padding-bottom: 10px; }
  .order_summary .inputs {
    width: 100%; }
    .order_summary .inputs .info {
      padding-bottom: 5px; }
      .order_summary .inputs .info label {
        width: 110px; }
      .order_summary .inputs .info select {
        width: 190px !important; }
      .order_summary .inputs .info.expiration-date select {
        width: 90px !important; }
      .order_summary .inputs .info.expiration-date #card_expires_on_2i {
        margin-right: 10px; }
    .order_summary .inputs .simple_form label {
      width: 110px; }
    .order_summary .inputs .simple_form input[type=text], .order_summary .inputs .simple_form input[type=email], .order_summary .inputs .simple_form input[type=password] {
      width: 176px; }
  .order_summary .actions {
    float: left; }

.block {
  width: 100%;
  padding: 10px 0; }
  .block .text {
    padding: 3px 5px;
    width: 280px; }

.solid-block {
  background-color: #EEEEEE;
  padding: 10px; }
  .solid-block .no-background {
    background-color: white; }
