.mask {
  background-color: #dadada;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%; }
  .mask.display {
    display: block !important; }
  .mask.loading {
    line-height: 50;
    text-align: center;
    vertical-align: middle; }

.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 50; }

.popup {
  display: none;
  z-index: 2000;
  position: absolute;
  padding: 10px; }
  .popup .title {
    font-size: 16.5px;
    font-weight: bold;
    padding-bottom: 2px; }
    .popup .title.non-text {
      height: 15px;
      padding-bottom: 0px; }
  .popup .content {
    width: auto;
    min-width: 200px;
    min-height: 60px;
    background-color: #FFFFFF; }
  .popup .buttons {
    text-align: center;
    padding-top: 5px; }
  .popup.display {
    display: block !important; }

.fixed {
  position: fixed;
  top: 130px;
  left: 0px;
  width: 100%;
  z-index: 2000; }

.notification {
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px 3px #DEDEDE;
  -webkit-box-shadow: 0 0 3px 3px #DEDEDE;
  box-shadow: 0 0 3px 3px #DEDEDE;
  width: 230px; }
  .notification .title {
    font-size: 16.5px;
    font-weight: bold;
    padding-bottom: 2px; }
    .notification .title.non-text {
      height: 15px;
      padding-bottom: 0px; }
  .notification .content {
    width: auto;
    min-width: 200px;
    min-height: 60px;
    background-color: #FFFFFF; }
  .notification .buttons {
    text-align: center;
    padding-top: 5px; }
  .notification.display {
    display: block !important; }
  .notification .header {
    background: url("/assets/bg-popup-header.png") repeat-x;
    height: 45px;
    border-radius: 5px 5px 0 0;
    width: 100%; }
    .notification .header .title {
      padding-left: 20px;
      line-height: 45px; }
    .notification .header #notification_close {
      margin: 10px 10px 0 0;
      cursor: pointer;
      background: url("/assets/icon-close.png") no-repeat;
      width: 16px;
      height: 16px; }
  .notification .container {
    border-radius: 0 0 5px 5px;
    background-color: white;
    width: 100%; }
    .notification .container .main-panel {
      margin: 20px; }
      .notification .container .main-panel input {
        height: 18px; }
      .notification .container .main-panel textarea {
        height: 88px; }
      .notification .container .main-panel .label {
        margin: 5px 20px 5px 0; }
      .notification .container .main-panel .info-line {
        margin: 5px 0;
        width: 100%; }
      .notification .container .main-panel .line-separator {
        margin: 20px 0px; }
      .notification .container .main-panel .button-container {
        width: 100%; }
  .notification .icon_notification {
    background: url("/assets/icon-notification-check.png") no-repeat;
    width: 13px;
    height: 12px;
    margin-right: 5px; }
  .notification .message {
    width: 170px; }
