img {
  width: 100%; }

.notice {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-top: 20px; }

.button {
  color: white;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
  float: left;
  margin: 10px 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 20px; }

.btn-container {
  width: 80%;
  margin: 0 10%;
  margin-top: 20px;
  float: left; }

.clear {
  clear: both; }

a {
  text-decoration: none; }
