/*==================================================================================*/
/* CONSTANT */
/*==================================================================================*/
/*==================================================================================*/
/* CLASS */
/*==================================================================================*/
.image-container {
  display: inline-block;
  float: left;
  height: auto;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle; }
  .image-container img {
    display: inline-block; }
  .image-container.thumb {
    width: 155px;
    height: 155px;
    margin: 0.113em; }
  .image-container.small {
    width: 75px;
    height: 75px;
    margin: 0.113em; }

.image-thumb {
  width: 155px;
  height: 155px; }

.image {
  text-align: center;
  vertical-align: middle; }
  .image.small {
    width: 75px;
    height: 75px; }
  .image.thumb {
    width: 155px;
    height: 155px; }
  .image.medium {
    width: 640px;
    max-height: 640px; }
    .image.medium img {
      max-width: 640px;
      max-height: 640px; }

.entry .preview {
  text-align: center;
  margin-bottom: 5px; }
.entry .name {
  color: #4B4B4B;
  overflow: hidden;
  padding: 0 2px;
  float: left;
  font-weight: normal; }
.entry .price {
  font-weight: bold;
  float: right;
  padding: 0 2px; }
  .entry .price .likes {
    color: #4B4B4B;
    font-style: italic;
    font-size: 14px; }

.sections {
  width: 640px;
  position: relative; }
  .sections .actions {
    width: 100%;
    margin: 10px 0;
    font-size: 13.5px;
    color: #cbcbcb; }
    .sections .actions .left {
      line-height: 27px; }
      .sections .actions .left .times {
        font-weight: bold; }
      .sections .actions .left .icon {
        height: 13px;
        width: 13px;
        margin: 7px 3px 0 0; }
      .sections .actions .left .like {
        margin-right: 20px; }
        .sections .actions .left .like .icon {
          background: url("/assets/icon-like.jpg") no-repeat; }
      .sections .actions .left .comment .icon {
        background: url("/assets/icon-comment.jpg") no-repeat; }
    .sections .actions .right .button {
      margin-left: 5px;
      height: 27px; }
      .sections .actions .right .button.comment {
        background: url("/assets/btn-comment.jpg") no-repeat;
        width: 98px; }
      .sections .actions .right .button.like, .sections .actions .right .button.dislike {
        background: url("/assets/btn-like.jpg") no-repeat;
        width: 65px; }
      .sections .actions .right .button.order {
        background: url("/assets/btn-order.jpg") no-repeat;
        width: 80px; }
      .sections .actions .right .button.share {
        background: url("/assets/btn-share.png") no-repeat;
        width: 77px; }

#spotlight-images {
  width: 710px; }
  #spotlight-images .image-container.thumb {
    width: 172px; }
    #spotlight-images .image-container.thumb img {
      width: 172px; }
