.sale-item {
  height: 150px;
  padding: 5px 0 10px; }
  .sale-item .info {
    margin: 37px 0 37px 8px; }
    .sale-item .info .text {
      max-width: 800px; }
      .sale-item .info .text .bold {
        font-weight: bold; }
    .sale-item .info .details {
      background: url("/assets/btn-more-details.jpg") no-repeat scroll 0 0 transparent;
      height: 23px;
      width: 91px;
      margin-top: 10px; }

.sale-info .header {
  font-weight: bold;
  margin: 10px 0; }
.sale-info .text {
  max-width: 800px; }
.sale-info .user {
  margin-right: 10px;
  margin-bottom: 5px; }
