.sale-chart {
  margin: 30px 0;
  width: 780px; }
  .sale-chart #total-amount {
    width: 100%;
    color: #080808;
    text-align: center; }
  .sale-chart .highcharts-container .highcharts-axis text tspan {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: #080808;
    fill: #080808;
    width: 100%; }

.sales-wrapper {
  margin-top: 10px;
  width: 100%; }

.sale-item {
  width: 100%; }
  .sale-item .info {
    margin: 32px 0 32px 20px; }
    .sale-item .info .name {
      font-size: 21px; }
    .sale-item .info .price {
      margin-top: 8px; }
    .sale-item .info .text {
      max-width: 800px; }
    .sale-item .info .btn-detail {
      background: url("/assets/btn-more-details.jpg") no-repeat scroll 0 0 transparent;
      height: 23px;
      width: 91px;
      margin-top: 20px; }
  .sale-item .line-separator {
    margin: 3px 0; }
  .sale-item.detail {
    margin: 10px 0; }
    .sale-item.detail .info .price {
      margin-top: 2px;
      font-size: 36px;
      line-height: 36px;
      color: #898989; }
    .sale-item.detail .info .quantity {
      margin-top: 10px; }

.round-box {
  width: 147px; }

.option {
  margin-bottom: 15px; }
  .option .header {
    line-height: 31px;
    padding-left: 10px;
    background: url("/assets/option-header-bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .option .content {
    margin: 10px; }

.request_button {
  margin-top: 10px;
  cursor: pointer; }

.sale-info {
  width: 100%; }
  .sale-info .header {
    margin: 20px 0; }
  .sale-info .text {
    max-width: 800px; }
  .sale-info .avatar {
    margin-right: 10px; }
  .sale-info .item {
    width: 100%;
    margin-bottom: 30px; }
