.sale-chart {
  margin: 30px 0; }

.sales-wrapper {
  margin-top: 10px;
  width: 100%; }

.sale-item {
  width: 100%; }
  .sale-item .info {
    margin: 32px 0 32px 20px; }
    .sale-item .info .price {
      margin-top: 8px; }
    .sale-item .info .text {
      max-width: 800px; }
    .sale-item .info .btn-detail {
      background: url("/assets/btn-more-details.jpg") no-repeat scroll 0 0 transparent;
      height: 23px;
      width: 91px;
      margin-top: 20px; }
  .sale-item .line-separator {
    margin: 3px 0; }
  .sale-item.detail {
    margin: 10px 0; }
    .sale-item.detail .info .price {
      margin-top: 2px;
      font-size: 36px;
      line-height: 36px;
      color: #898989; }
    .sale-item.detail .info .quantity {
      margin-top: 10px; }

.sale-info {
  width: 100%; }
  .sale-info .header {
    margin: 20px 0; }
  .sale-info .text {
    max-width: 800px; }
  .sale-info .avatar {
    margin-right: 10px; }
  .sale-info .item {
    width: 100%;
    margin-bottom: 30px; }

.highcharts-axis text tspan {
  font-weight: bold;
  font-size: 18px;
  font-family: Helvetica; }
