.empty-label {
  color: #BBBBBB;
  margin: 40px 0 0 20px; }

.section .group-label {
  width: 100%;
  height: 40px; }
.section .label {
  font-weight: bold;
  font-size: 20px;
  float: left;
  padding: 20px 0 0 5px; }
.section .more {
  float: left;
  font-size: 15px;
  padding: 20px 0 0 5px; }
.section .clear {
  clear: both; }
.section .pagination {
  text-align: center; }
.section .result-counter {
  float: left;
  font-size: 14px;
  padding: 0 0 5px 5px;
  font-style: italic;
  color: #B2B2B2; }

.section.images .wrapper {
  float: left;
  padding: 20px;
  border: 1px solid transparent; }
  .section.images .wrapper:hover {
    border: 1px solid #FFFE7C;
    background-color: #FEFDC3;
    border-radius: 5px; }
  .section.images .wrapper .entry-container {
    padding-left: 20px; }
  .section.images .wrapper .entry .preview {
    height: 180px;
    text-align: center;
    width: 180px; }
  .section.images .wrapper .entry .name {
    color: #4B4B4B;
    overflow: hidden;
    max-height: 30px;
    padding: 0 2px;
    float: left;
    font-weight: normal; }
  .section.images .wrapper .entry .price {
    font-weight: bold;
    float: right;
    padding: 0 2px; }

.section.galleries .wrapper {
  height: 180px;
  width: 100%;
  padding-left: 20px;
  clear: both; }
  .section.galleries .wrapper .preview {
    text-align: center;
    width: 180px; }
  .section.galleries .wrapper .info {
    padding-left: 20px;
    padding-top: 15px;
    float: left;
    width: 700px;
    word-wrap: break-word; }

.section.users .wrapper {
  height: 180px;
  width: 100%; }
  .section.users .wrapper .preview {
    text-align: center;
    width: 180px;
    float: left; }
  .section.users .wrapper .info {
    padding-left: 20px;
    padding-top: 15px;
    float: left;
    width: 700px;
    word-wrap: break-word; }
