<%= render partial: 'admin/admin_menu' %>

<style type="text/css">
  #actions {
    margin-bottom: 30px;
  }

  #actions a {
    background-color: #ddd;
    border: 1px solid #999;
    padding: 10px;
  }
</style>

<div id="actions">
  <%= link_to "Back to Products", admin_products_path %>
  <%= link_to "Add New Tier", new_admin_tier_path %>
</div>

<ul>
  <% Tier.all.each do |tier| %>
    <li><%= link_to tier.name, edit_admin_tier_path(tier) %></li>
  <% end %>
</ul>

