<%= render partial: 'admin/admin_menu' %>

<div id="actions">
  <%= link_to "Back to Products", admin_products_path %>
  <%= link_to "Add New Moulding", new_admin_moulding_path %>
</div>

<ul>
  <% Moulding.all.each do |moulding| %>
    <li><%= link_to moulding.name, edit_admin_moulding_path(moulding) %></li>
  <% end %>
</ul>

