.action-container.clearfix
  %a.float-right#new-gallery{:href => new_gallery_path, :class => "ui-button-container icon-link"}
    %span.round-button= "Add Gallery"

#gallery-form-container.clearfix.round-box.hidden{:style => "display: none"}
  = render(:partial => "form", :locals => {:gallery => gallery})

