.text.black.bold.font12.line18 Are you sure you want to leave this page without saving your changes?
.line-separator.left
#button-container
  .button.save-my-changes.left
  .button.leave-not-saving.left

