#price-tiers.frame-fit.left
  .icon.loading-small
.frame-fit.left
  .text.fuzzy-gray.font10.left Pricing increases for framed and canvas prints.
  .text.fuzzy-gray.font10.line22.left You will receive 25% of sale price
  #btn-done.button.done.right
