/ locals user
.flagged_user_container
  .image_frame
    = image_tag image.data.url, {:width => "155px", :height=> "155px"}
  .user_name
  .contact_link
  .list_image
  %br{:style => "clear:both"}

:erb
  <script type="text/javascript">
  $(document).ready(function(){
    $(".reinstate<%=".button_#{image.id}"%>").click(function(e){
      if($(e.target).is('a')) return;
        $(this).find('a').click();
      event.preventDefault();
    });
    $(".remove<%=".button_#{image.id}"%>").click(function(e){
      if($(e.target).is('a'))
        return;
      $(this).find('a').click();
      event.preventDefault();
    });
  });
  
  </script>