/*---- Global styles -----*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none outside none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

:focus {
  outline: 0 none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
  background-color: #EEEEEE;
  font-size: 1em;
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, Sans-Serif;
  margin: 0;
  padding: 0;
  color: #5A5858;
}

a:link {
  color: #2398C9;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #2398C9;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  color: #2398C9;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #2398C9;
  font-weight: bold;
  text-decoration: underline;
}

p, ul
{
  text-align: justify;
  line-height: 1.5em;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus{
  border: 1px solid #4488CC;
  -moz-box-shadow: inset 0px 0px 3px #4488CC;
  -webkit-box-shadow: inset 0px 0px 3px #4488CC;
  box-shadow: inset 0px 0px 3px #4488CC;
  box-shadow: inset #4488CC 0px 0px 3px \0/IE9;
}

/*---- Layout ---*/

#header
{
  width: 990px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  position: relative;
  color: #ebebeb;
  padding: 0;
  background-repeat: repeat-x;
  background-color: #CEEFF6;
  border: none;
}

#logo{
  display: inline-block;
  margin: 10px 20px;
  width: auto;
  height: auto;
}

#search-box-wrapper {
  float: right;
  margin-right: 10px;
}

.search-container{
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  vertical-align: middle;
  background-color: #ffffff;
  width: 280px;
  height: 28px;
  
  -moz-box-shadow: inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow: inset 0 0 1px #000000;
  box-shadow: inset #0000000 0 0 2px \0/IE9;
}

.search-container .inline_label{
  padding-top: 3.5px;
}

.search-container #search-textbox{
  border: none;
  padding: 3px 3px 3px 0;
  vertical-align: middle;
  width: 230px;
  font-size: 14px;
}

.search-container #search-textbox:focus {
  outline: 0 none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-container .search-icon{
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("/assets/search.png") no-repeat scroll center left transparent;
  vertical-align: middle;
  margin: 3px 0 3px 8px;
  cursor: pointer;
}

.search-container .search-right-padding{
  display: inline-block;
  width: 6px;
}

#wrapper
{
  width: 990px;
  margin: 10px auto;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  -moz-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 6px \0/IE9;
}

#main
{
  background-color: #fff;
  min-height: 400px;
}

#menu {
  font-size: 14px;
}

#menu ul {
  display: inline-block;
  height: 100%;
  position: relative;
}

#menu #menu-items{
  margin-left: 20px;
  height: 40px;
}

#menu li {
  background-image: url("/assets/menu-item-bg.png");
  background-repeat: repeat-x;
  background-color: #E0E0E0;
  display: inline-block;
  border-right: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  height: 39px;
  list-style: none outside none;
  z-index: 1000;
  float: left;
  margin-top: 2px;
}

#menu li.first{
  -webkit-border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
  border-left: 1px solid #cdcdcd;
}

#menu li.last{
  -webkit-border-radius: 0 8px 0 0;
  -moz-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}

#menu li a {
  display: inline-block;
  font-weight: bold;
  padding: 10px 15px 8px;
  text-decoration: none;
}

#menu li.current{
  background-image: url("/assets/menu-item-hightlight-bg.png");
  background-repeat: repeat-x;
  background-color: #EA501F;
  cursor: pointer;
  color: #ffffff;
}

#menu li:hover{
  background-color: #eee;
  opacity: 0.8;
}

#menu li.current a, #menu li.current:hover a{
  color: #ffffff;
}

#menu li.current:hover{
  background: none repeat scroll 0 0 #EA501F;
}

#menu #menu-bottom-padding{
  height: 4px;
  background-color: #EA501F;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#menu .sf-menu{
  position: relative;
}

#menu .sf-menu li a{
  color: #ffffff;
}

#menu .sf-menu li {
  float: left;
  position: relative;
}

#menu .sf-menu .sf-sub-indicator{
  display: inline-block;
  width: 16px;
  height: 16px;
/*
  background: url("/assets/menu-down-grey.png") no-repeat scroll center center transparent;
*/
  margin-left: 2px;
  vertical-align: middle;
}

#menu .current.sf-menu .sf-sub-indicator, #menu .sf-menu.sfHover .sf-sub-indicator{
/*
  background: url("/assets/menu-down.png") no-repeat scroll center center transparent;
*/
}

#menu .sf-menu ul {
  position: absolute;
  width: 5em;
}

#menu .sf-menu li {
/*
  background-image: url("/assets/menu-item-hightlight-bg.png");
*/
  background-repeat: repeat-x;
  background-color: #EA501F;
  cursor: pointer;
  border: none;
/*
  border-bottom: 1px solid #cdcdcd;
*/
  height: 39px;
  width: 100%;
  list-style: none outside none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#menu .sf-menu li:hover{
  background: none repeat scroll 0 0 #EA501F;
}

#menu .sf-menu li.last {
  border-bottom: 1px solid #cdcdcd;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

#flash.round-box{
  background-color: #fff;
  padding: 15px 10px;
}

.content-wrapper{
  line-height: 1.2em;
}

.map-container.content{
  padding: 0;
}

.main.content{ 
  min-height: 400px;
}

.content-wrapper, .content{
  background-color: #fff;
  padding: 15px 10px;
/*
  -webkit-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  -moz-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 6px \0/IE9;
*/
}

.content.round-box{
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#footer
{
  color: #BEE3ED;
  padding: 10px 0;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  min-height: 20px;
  width: 990px;
  border: none;
}

#footer .tpl-project{
  margin-left: 20px;
  display: inline-block;
}

#footer .copy-right{
  display: inline-block;
  float: right;
  height: 61px;
  margin-right: 20px;
  margin-top: 22px;
  text-align: center;
  vertical-align: middle;
}

#footer .tpl-project span{
  display: table-cell;
}

#footer .tpl-project .description{
  font-size: 1.2em;
  height: 61px;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica Narrow, Helvetica, Verdana, Arial, Sans-Serif;
  padding-right: 10px;
}

#user-box{
  color: #333; 
  display: inline-block; 
  float: right;
}

ul#nav{
  float: right;
  list-style: none outside none;
  margin: 5px;
  font-size: 14px;
}

ul#nav li {
  display: inline-block;
  vertical-align: middle;
}

ul#nav a{
  text-decoration: none;
}

ul#nav a:hover{
  text-decoration: underline;
}

/*** Common styles ***/
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; }
* html .clearfix,
*:first-child+html .clearfix { zoom: 1; }

.table-container {width: 100%}
.clear
{
  clear: both;
}

#left{
  width: 645px;
  float: left;
  margin-right: 10px;
}

.left{
  float: left;
  margin-right: 10px;
  width: 450px;
}

#right{
  width: 335px;
  float: left;
}

.right{
  float: left;
  width: 500px;
}

.inline_label {
	color: #AAA;
	font-style: italic;
  border: none;
  background-image: none;
  background-color: none;
  opacity: 0.75;
  position: absolute;
  padding: 3px 3px 3px 0;
  font-size: 13px;
}

.inline-field{ display: inline-block;}

.focus{
  border: 1px solid #4488CC;
  -moz-box-shadow: inset 0px 0px 3px #4488CC;
  -webkit-box-shadow: inset 0px 0px 3px #4488CC;
  box-shadow: inset 0px 0px 3px #4488CC;
  box-shadow: inset #4488CC 0px 0px 3px \0/IE9;
}

.icon{
  display: inline-block;
}

.icon.star{
  width: 12px;
  height: 12px;
  background: url("/assets/star-12.png") no-repeat scroll center left transparent;
}

.icon.inactive-star{
  width: 12px;
  height: 12px;
  background: url("/assets/star-12-inactive.png") no-repeat scroll center left transparent;
}

.social-networks-container{

}

.social-network-icon{
  width: 32px;
  height: 32px;
  background:url("/assets/social-networks.png") no-repeat scroll center center transparent;
}

.social-network-icon:hover{
  opacity: 0.75;
}

.social-network-icon.facebook{
  background-position: 0 0;
}

.social-network-icon.twitter{
  background-position: -32px 0;
}

.round-box{
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.round-box .box-title{  
  background-repeat: repeat-x;
  border-bottom: 1px solid #E7E7E7;
  font-size: 16px;
  font-weight: bold;
  color: #EA501F;
  padding: 5px 10px;
}

.round-box .box-content{
  font-size: 0.9em;
  padding: 5px 10px;
  overflow: hidden;
}

.empty-data{ color: #bbb;}

.pagination{
  margin: 10px 20px;
}

.pagination .current{
  font-style: normal;
  font-weight: bold;
  background-color: #EA501F;
/*
  background-image: url("/assets/menu-item-hightlight-bg.png");
*/
  background-repeat: repeat-x;
  color: #FFFFFF;
}

.pagination a{
  text-decoration: none;
}

.pagination a, .pagination em, .pagination span{
  border: 1px solid #CCCCCC;
  display: inline-block;
  padding: 0.2em 0.5em;
  vertical-align: middle;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.pagination a:hover{
  border-color: #999999;
  -webkit-box-shadow:0 0 3px #999999; 
  -moz-box-shadow:0 0 3px #999999; 
  box-shadow:0 0 3px #999999; 
  box-shadow:#999999 0 0 3px \0/IE9;
}

.pagination .previous_page, .pagination .next_page{
  width: 10px;
  height: 18px;
  padding: 0.2em 0.5em;
}

.pagination .previous_page{
/*
  background: url("/assets/back.png") no-repeat scroll center center transparent;
*/
  margin-right: 10px;
}

.pagination .next_page{
/*
  background: url("/assets/next.png") no-repeat scroll center center transparent;
*/
  margin-left: 10px;
}

.hidden{ display: none !important;}

.shadow{
  -webkit-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  -moz-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 6px \0/IE9;
}

a.icon-link{text-decoration: none;}

.round-button{
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
  width: 110px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  padding: 0 8px;
  text-align: center;
  background-color: #EA501F;
  color: #fff;
/*
  background-image: url("/assets/menu-item-hightlight-bg.png");
*/
  background-repeat: repeat-x;
  cursor: pointer;
}

.round-button:hover{
  opacity: 0.85;
}

.blue-gradient{
  background:#CEEFF6;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#CEEFF6');
	background:-moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(255,255,255) 0%, #CEEFF6 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(0%,rgb(255,255,255)), color-stop(100%,#CEEFF6));
	background:-webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(255,255,255) 0%,#CEEFF6 100%);
	background:-o-linear-gradient(top, rgb(255,255,255) 0%,rgb(255,255,255) 0%,#CEEFF6 100%);
	background:-ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(255,255,255) 0%,#CEEFF6 100%);
}

.blue-gradient-reverse{
  background:#CEEFF6;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CEEFF6',endColorstr='#ffffff');
	background:-moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(255,255,255) 0%, #CEEFF6 100%);
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0%,rgb(255,255,255)), color-stop(0%,rgb(255,255,255)), color-stop(100%,#CEEFF6));
	background:-webkit-linear-gradient(bottom, rgb(255,255,255) 0%,rgb(255,255,255) 0%,#CEEFF6 100%);
	background:-o-linear-gradient(bottom, rgb(255,255,255) 0%,rgb(255,255,255) 0%,#CEEFF6 100%);
	background:-ms-linear-gradient(bottom, rgb(255,255,255) 0%,rgb(255,255,255) 0%,#CEEFF6 100%);
}

.ui-button-container{
  display: table;
  width: 100%;
  height: 100%;
  text-decoration: none;
  vertical-align: middle;
  width: 135px;
  margin: 0 auto;
}
.ui-button-container .round-button{display: inline-block; color: #fff;display: table-cell; vertical-align: middle;}

.action-container {font-size: 13px; margin: 10px;}
.action-container .header{display: inline-block; font-size: 16px;}
.action-container .float-right{text-align: right; float: right;}
.action-container .ui-button-container{width: auto;}
.action-container .icon-link{display: inline-block;}
.action-container a.icon-link:hover{text-decoration: underline;}
.action-container .saparator{vertical-align: middle; margin: 0 2px;}

.simple_form label {float: left; width: 140px; margin-right: 10px; margin-top: 5px}
.simple_form .input.optional span label{float: none; vertical-align: middle;}
.simple_form label abbr {float: right; color: #D4550B;}
.simple_form select {width: 165px; float: left;}

.simple_form input[type=text], 
.simple_form input[type=email], 
.simple_form input[type=password] {
  width: 200px; 
  padding: 6px; 
  background-color: #FFFFFF;
}

.simple_form input[type=text], 
.simple_form input[type=email], 
.simple_form input[type=password],
.simple_form textarea{
  border: 1px solid #CDCDCD; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.simple_form input, .simple_form textarea{
  vertical-align: middle;
}

.simple_form textarea {padding: 6px;}
.simple_form .input label, .simple_form .input input{vertical-align: middle;}
.simple_form .input.clearfix{margin: 5px 0;}
.simple_form textarea { float: none; width: 90%; height: 50px; margin-top: 5px; }
.simple_form .desc {margin-top: 30px;}
.simple_form span.error { margin-left: 50px; padding-top: 5px; color: #EA501F; font-size: 12px; font-weight: bold; clear: both; }

/*----- BOXES -----*/
.box {
  padding: 8px;
  color:#555;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#eee;
  font-size: 12px;
}
.box-info {
  padding-left: 32px;
  border-top:1px solid #B8E2FB;
  border-bottom:1px solid #B8E2FB;
  background:#E8F6FF url("/assets/information.png") no-repeat 8px 50%;
}
.box-warning{
  padding-left: 32px;
  border-top:1px solid #F2DD8C;
  border-bottom:1px solid #F2DD8C;
  background:#FFF5CC url("/assets/error.png") no-repeat 8px 50%;
}
.box-error, .box-alert {
  padding-left: 32px;
  border-top:1px solid #F8ACAC;
  border-bottom:1px solid #F8ACAC;
  background:#FFD1D1 url("/assets/exclamation.png") no-repeat 8px 50%;
}
.box-error-msg{
  margin-top:-8px;
  background:#FFF1F1;
  border-top:0 none;
  border-bottom:1px solid #FDDCDC;
  color:#664B4B;
  padding:12px;
}
.box-error-msg ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal inside none;
}
.box-success, .box-notice {
  padding-left: 32px;
  border-top:1px solid #BBDF8D;
  border-bottom:1px solid #BBDF8D;
  background:#EAF7D9 url("/assets/accept.png") no-repeat 8px 50%;
}

.box a:hover {
  background: transparent !important;
}

.box a.close {
  float: right;
  border: 0 none !important;
  font-weight: bold;
  color: #666 !important;
  text-decoration: none !important;
}
.box-info a.close {
  color: #395594 !important;
}
.box-warning a.close {
  color: #D6A23D !important;
}
.box-error a.close {
  color: #CF563D !important;
}
.box-success a.close {
  color: #238221 !important;
}

.box.column {
  float: left; 
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #F5F5F5 #E1E1E1 #C4C4C4;
  border-left: 1px solid #E1E1E1;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-right: 1px solid #E1E1E1;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  min-height: 180px;
  padding: 0px;
  font-size: 100%
}

.box.column .header {
  font-weight: bold;
  height: 30px;
  padding-left: 18px;
  padding-top: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#D6D6D6');
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#D6D6D6));
  background: -moz-linear-gradient(top, #F2F2F2, #D6D6D6);
  background: -o-linear-gradient(top, #F2F2F2, #D6D6D6);
}

.box.column .content { padding: 18px;}

/*----- END BOXES -----*/

/*** FORM LAYOUT ***/
#session-container .info-link{vertical-align: middle;}
#signup-area {padding-top: 15px}
#signup-area .signup{
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}
  
#signup-area h1{font-size: 24px; text-align: center;}

#signin-area .small{font-size: 12px;}
#signin-area .signin-button{padding: 3px; float: right;}
.signin input[type=text], .signin input[type=email], .signin input[type=password] {width: 310px}
.signup input[type=email], .signup input[type=password] {width: 310px}

/*** HOME ***/
.home #gallery{
  padding: 10px;
  min-width: 950px;
  min-height: 500px;
  -webkit-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  -moz-box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 3px; 
  box-shadow: rgba(0,0,0,.45) 0 1px 6px \0/IE9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.home .home-footer{margin-top: 20px}

/*** BROWSE ***/
.browse .browse-header{text-align: right;}
.image-browse .slideshow-container{width: 100%;}
.image-browse .slideshow-container .left-container{width: 620px; height: 430px;}
.image-browse .slideshow-container .gallery-image{
  cursor: pointer;
  display: table;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.image-browse .slideshow-container .gallery-image .image-content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.image-browse .slideshow-container .gallery-image .image-content img{
  max-height: 610px;
  max-width: 610px;
  vertical-align: middle;
}

.image-browse .simple_form label{width: 110px; margin: 0;}
.image-browse .simple_form span{vertical-align: middle;}
.image.image-browse .left-container{height: auto;}
.image.image-browse .gallery-container{height: 430px; width: 100%;}

/*** GALLERY ***/
.galleries .galleries-wrapper .empty-data{text-align: center;}
.galleries .galleries-wrapper{
  margin-left: 80px;
}

.galleries .gallery-container{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  float: left;
}

.galleries .gallery-container .gallery-image{
  cursor: pointer;
  display: table;
  height: auto;
  text-align: center;
  width: auto;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0 3px 8px; 
  -moz-box-shadow: rgba(0,0,0,0.7) 0 3px 8px; 
  box-shadow: rgba(0,0,0,0.7) 0 3px 8px; 
  box-shadow: rgba(0,0,0,0.7) 0 3px 8px \0/IE9;
}

.galleries .gallery-container .gallery-link.default{
  width: 180px;
  height: 180px;
}

.galleries .gallery-container .gallery-link{display: table-cell;}
.galleries .gallery-container .gallery-image img{vertical-align: middle;}
.galleries .gallery-container .gallery-info{
  display: inline-block;
  margin-top: 10px;
}

.galleries .separator{
  float: left;
  margin-top: 20px;
  width: 100%;
}
.galleries .action-container{
  
}

.galleries #new-gallery{
  float: right;
}

.galleries #new-gallery .round-button,
.account #edit-profile .round-button,
.sales #payment-link .round-button{
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#46B40D',endColorstr='#3CA008');
  background:-moz-linear-gradient(center top , #46B40D, #3CA008) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(#46B40D),to(#3CA008));
	background:-webkit-linear-gradient(top, #46B40D 0%, #3CA008 100%);
	background:-o-linear-gradient(top, #46B40D 0%, #3CA008 100%);
	background:-ms-linear-gradient(top, #46B40D 0%, #3CA008 100%);
  background-color: #3CA008;
}

.galleries .pagination{text-align: center;}
.galleries .gallery-form .name{width: 40%;}
.galleries .gallery-form .description{width: 80%;}
.galleries .gallery-header .gallery-name{display: inline-block;}
.galleries .gallery-header .author-info{font-size: 13px;}
.galleries #gallery-form-container{padding: 10px; margin: 10px 0;}
.galleries .gallery-header .description{font-size: 13px;width: 600px;word-wrap: break-word;}
.galleries .match {background-color:yellow;}

/*** IMAGE ***/
.images .images-wrapper{margin-left: 55px; margin-top: 15px;}
.images .images-wrapper .empty-data{text-align: center;}
.images .gallery-container{width: auto;}
.images .action-container{display: inline-block; float: right;  text-align: right; margin-top: 0;}
.images .image-container{
  display: inline-block;
  padding: 4px;
  margin: 10px;
  float: left;
  width: 180px;
  height: 180px;
}

.images .image-container .gallery-image{
  cursor: pointer;
  display: table;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.images .image-container .image-link.default{
  width: 180px;
  height: 180px;
}

.images .image-container .gallery-image .image-link{display: table-cell;}
.images .image-container .gallery-image img{vertical-align: middle;}
.images .gallery-header{display: inline-block;}
.images .images-list-wrapper table td.name{width: 100px;}
.images .images-list-wrapper .files .name{color:#2D9DD1;font-weight:bold;}
.images .images-list-wrapper .files .preview{width:220px;}
.images .images-list-wrapper .files .description{width: 600px;word-wrap: break-word;padding-top: 5px;}
.images .images-list-wrapper .files .start{margin: 0px 0px 2px 5px;}
.images .images-list-wrapper .files .start button{width:70px;}
.images .images-list-wrapper .files .edit{margin: 0px 0px 2px 5px;}
.images .images-list-wrapper .files .edit button{width:67px;}
.images .images-list-wrapper .files .cancel button{float:right;margin-right:15px;}
.images .images-list-wrapper .files .image-info {width:630px;}
.images .images-list-wrapper .files .progressbar div{margin-top:10px;}
.images .images-list-wrapper table tr{border-top: 1px solid #ddd;}
.images .pagination .load-more{width:300px;}

/*** ACCOUNT ***/
.account .account-info-container{padding: 0 10px;}
.account .actions a{vertical-align: middle; font-size: 13px;}
.account .info-container {padding: 6px;}
.account .info-container span h2{display: inline-block;}
.account .info-container .info-content .info-item{margin-left: 10px;}
