/ locals: text
#selection_container{:style => "height:179px"}
  %div
    =radio_button("post", "category", "rails",:id => "rdbtn_violation")
    =label_tag :rdbtn_violation, "Terms of Use Violation", :target => "violation"
    =radio_button("post", "category", "rails",:id => "rdbtn_copyright")
    =label_tag :rdbtn_copyright, "Copyright", :target => "copyright"
    =radio_button("post", "category", "rails",:id => "rdbtn_nudity")
    =label_tag :rdbtn_nudity, "Nudity",:style => "padding-right:0px", :target => "nudity"
  #violation.form_flag_element{:style => "display:none"}
    .line-separator.left
    Reason for reporting:
    %br
    %br
    =text_area_tag "reason", "", :style => "width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box;"
    %br
    %br{:style => "clear:both"}
    .button.submit.left{:style => "padding-right:10px", :target => ImageFlag::FLAG_TYPE['terms_of_use_violation']}
    .button.cancel.left
  #copyright.form_flag_element{:style => "display:none"}
    .line-separator.left
    Who owns this photo?
    %br
    %br
    =text_area_tag "reason", "", :style => "width: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box;"
    %br
    %br{:style => "clear:both"}
    .button.submit.left{:style => "padding-right:10px", :target => ImageFlag::FLAG_TYPE['copyright']}
    .button.cancel.left
  #nudity.form_flag_element{:style => "display:none"}
    .line-separator.left
    %br
    %br

    .button.submit.left{:style => "padding-right:10px", :target => ImageFlag::FLAG_TYPE['nudity']}
    .button.cancel.left

#thank_form{:style => "display:none"}
  Thanks. We'll review this photo as soon as possible.
  .line-separator.left
  %br
  %br
  .button.dismiss.left

- content_for :js do
  = javascript_tag do
    :erb
      $("#selection_container label").click(function(){
        $(".form_flag_element").hide();
        $("#" + $(this).attr('target')).show();
      });

      $("#selection_container .button.submit").click(function(){
        var desc = $(this).parent().find("textarea").val();
        if (desc == undefined)
          desc = "";
        var type = $(this).attr("target");
        submit_flag(desc, type)
      });

      $("#thank_form .dismiss").click(function(){
       if (history.length){
          window.location.href = document.referrer
        }else{
          window.location = "/browse";
        }
      });

      function show_thank_form(){
        $("#selection_container").hide();
        $("#thank_form").show();
      };
