%div
  %ul#menu-items
    %li
      %a{:href => "/browse"} Browse
    %li
      %a{:href => "/spotlight"} Spotlight
    %li
      %a{:href => "/friends"} Friends
    %li
      %a{:href => "/intro"} The App
