#search-box
  %form.search-form{ :action => action, :method => 'get'}
    .search-container
      .search-icon
      %input#search-textbox{:type => "text", :name => "query", :class => "text",
                            :value => params[:query], :placeHolder => I18n.t("common.search_hint"),
                            :title => "Searching is not supported with these characters: ^, *, _" }
      .search-right-padding

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      $("#search-textbox").inline_label({use_title: true});
      $("#search-textbox").focusin(function(){
        $(".search-container").addClass("focus");
      });

      $("#search-textbox").focusout(function(){
        $(".search-container").removeClass("focus");
      });

      $(".search-icon").click(function(){
        $(".search-form").submit();
      });

      $(".search-form").submit(function(){
        var not_support = ["^", "*", "_"];
        var val = $("#search-textbox").attr('value');
        for(var i=0; i<not_support.length; i++){
          if(val.indexOf(not_support[i]) > -1){
            helper.show_notification("Search can't be performed with these characters: ^, *, _");
            return false;
          }
        }
      });
    });
  </script>
