#total-amount.text.bold
  %span.text.font18 Total Monthly Sales
  %span.text.font24
    = "&nbsp;#{number_to_currency total_sales}".html_safe

#container{:style=>"min-width: 400px; height: 460px; margin: 0 auto"}

= javascript_tag do
  :erb
    $(function () {
        var chart;
        var months = [];
        var month_sales = [];
        <% sales.each do |sale| %>
                months.push("<%= sale[:month] %>");
                month_sales.push(<%= sale[:sales] %>);
        <% end %>

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'column',
                    shadown: false,
                    backgroundColor: '#f8f8f8',
                    style: {
                        fontFamily: 'Arial'
                    }
                },
                navigation:{
                    buttonOptions:{
                        enabled:false
                    }
                },
                title: {
                    text: '<br/>'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: months
                },
                yAxis: {
                    title: {
                        text: 'Gross ($)',
                        style: {
                            fontSize: '18px',
                            fontWeight: 'bold',
                            color: '#080808'
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    useHTML: true,
                    formatter: function() {
                        return '<span class="text gray bold font14">' + this.x + ': </span><span class="text black bold font22">$'+ this.y +'</span></div>';
                    }
                },
                plotOptions: {
                    column: {
                        cursor: 'pointer',
                        color:'#fc7700',
                        pointPadding: 0,
                        borderWidth: 0,
                        shadow: false
                    },
                },
                series: [ {
                    data: month_sales
                }]
            });
        });

    });

= javascript_include_tag '/assets/lib/column_charts/highcharts.js'
