#total-amount.text.bold
  %span.text.font18 Total Monthly Sales
  %span.text.font24
    = "&nbsp;#{number_to_currency total_sales}".html_safe
 
#container

= javascript_tag do
  :erb
    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    $(function () {
        var chart;
        var months = [];
        var month_sales = [];
        <% sales.each do |sale| %>
                months.push("<%= sale[:month] %>");
                month_sales.push(<%= sale[:sales] %>);
        <% end %>

        $(document).ready(function() {
           chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'column',
                    shadown: false,
                    backgroundColor: '#f8f8f8',
                    height: "<%= params[:controller] == 'api/images' && params[:action] == 'sale_chart' ? 212 : 400 %>",
                    width: "<%= params[:controller] == 'api/images' && params[:action] == 'sale_chart' ? 320 : 800 %>",
                    style: {
                        fontFamily: 'Arial'
                    }
                },
                navigation:{
                    buttonOptions:{
                        enabled:false
                    }
                },
                title: {
                    text: '<br/>'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: months
                },
                yAxis: {
                    title: {
                        text: 'Gross ($)',
                        style: {
                            fontSize: '18px',
                            fontWeight: 'bold',
                            color: '#080808'
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    useHTML: true,
                    formatter: function() {
                        return '<span class="text gray bold font14">' + this.x + ': </span><span class="text black bold font22">$'+ addCommas(this.y) +'</span></div>';
                    }
                },
                plotOptions: {
                    column: {
                        color: {
                            linearGradient: [0, 0, 0, 290],
                            stops: [
                                [0, '#ee3c03'],
                                [1, '#ac0d00']
                            ]
                        },
                        cursor: 'pointer',
                        pointPadding: 0,
                        borderWidth: 0,
                        shadow: false
                    },
                },
                series: [ {
                    data: month_sales
                }]
            });
        });

    });
