#social-sharing.hide
  .main.left
    %a.close{:href=>'#'}
      .right{:onclick => "$('#social-sharing').hasClass('hide'); return false;"} &times;
    .container.left
      .text.black.bold.font14.line12.left Share this via:
      .line-separator.left
      .buttons-container.right
        - public_url = public_image_path(params[:id])
        - image_url = "https://www.facebook.com/sharer.php?u=#{browse_image_url(@image)}"
        - twitter_image_url = "https://twitter.com/share?url=#{browse_image_url(@image)}"
        %a.twitter.button.right.share-popup{ :href => twitter_image_url}
        %a.facebook.button.right.share-popup{ :href => image_url}
     
  .tail.left
    .icon.right
