#social-sharing.hide
  .main.left
    %a.close{:href=>'#'}
      .right{:onclick => "$('#social-sharing').hasClass('hide'); return false;"} &times;
    .container.left
      .text.black.bold.font14.line12.left Share this via:
      .line-separator.left
      .buttons-container.right
        - public_url = url_for(:controller => 'images', :action => 'public', :id => params[:id], :only_path => false)
        - flickr_request = url_for(:controller => 'images', :action => 'post_image_to_flickr', :id => params[:id], :only_path => false)
        - if current_user.tumblr_token?
          %a.tumblr.button.right{ :href => '#', :onclick => "showSocialPopup('tumblr');"}
        - if current_user.flickr_token?
          %a.flickr.button.right{ :href => '#', :onclick => "showSocialPopup('flickr');"}
        - if current_user.twitter_token?
          %a.twitter.button.right{ :href => '#', :onclick => "showSocialPopup('twitter');"}
        - if current_user.facebook_token?
          %a.facebook.button.right{ :href => '#', :onclick => "showSocialPopup('facebook');"}

        %a.email.button.right{ :href => '#', :onclick => 'showEmailPopup();' }

  .tail.left
    .icon.right
