#social-sharing.hide
  .main.left
    %a.close{:href=>'#'}
      .right{:onclick => "$('#social-sharing').hasClass('hide'); return false;"} &times;
    .container.left
      .text.black.bold.font14.line12.left Share this via:
      .text.black.font11.line12.right{ :style => 'padding-top:1px;'} Share Preferences
      .line-separator.left
      .buttons-container.right
        - public_url = url_for(:controller => 'images', :action => 'public', :id => params[:id], :only_path => false)
        - flickr_request = url_for(:controller => 'images', :action => 'post_image_to_flickr', :id => params[:id], :only_path => false)
        - if !(@user.tumblr_token.blank?)
          =link_to("", {:controller => :socials, :action => :tumblr_share, :image_id => params[:id]}, :class => "button tumblr right")
        - if !(@user.twitter_token.blank?)
          =link_to("", {:controller => :socials, :action => :twitter_share, :image_id => params[:id]}, :class => "button twitter right")
        - if !(@user.facebook_token.blank?)
          =link_to("", {:controller => :socials, :action => :facebook_share, :image_id => params[:id]}, :class => "button facebook right")
        %a.email.button.right{ :href => '#', :onclick => 'showEmailPopup();' }
        /%a.flickr.button.left{ :href => "#{flickr_request}", :title => "Share on Flickr", :target => "_blank" }
        /%a.pinterest.button.left.no-padding-right{ :href => image_pinterest_share_url(@image, public_url), :target=>"_blank", :title => "Share on Pinterest" }

  .tail.left
    .icon.right
