$('#preview-image').html("<%= j image_tag(@preview_url) %>");
$('#preview-waiting').hide();

var selectedProduct = $('#line_item_product_id').find(':selected').text().toLowerCase();
if(selectedProduct.indexOf('canvas')>-1){
  $('#preview-image').
          append("<br/><br/>Preview").
          append('<div id="canvas-preview"><img id="canvas-actual-image" alt="Canvas" src="' + $('#preview-image').children("img").attr("src") +
                  '"></div><div id="canvas-description">OUR CANVAS COMES WITH A "MIRROR" STYLE WRAP, PRINTED USING<br />ARCHIVAL PIGMENT INKS, AND IS READY TO HANG.</div>');
} else if(selectedProduct.indexOf('plexi')>-1){
  $('#preview-image').
          append("<br/><br/>Preview").
          append('<div id="plexi-preview"><img id="plexi-actual-image" alt="Plexi" src="' + $('#preview-image').children("img").attr("src") +
                  '"></div><div id="plexi-description">1/4" PLEXI-GLASS MOUNTED TO THE FRONT OF DIGITAL C PHOTO<br />PAPER, BACKED WITH 1/8" SINTRA<br />AND A "READY TO HANG" WOODEN BRACE.</div>');
}
