%meta{ property: "og:image", content: @image.url(:medium) }
%meta{ property: "og:url", content: browse_image_url(@image) }
%meta{ name: "twitter:card", content: "photo"}
%meta{ name: "twitter:title", content: "Good Morning"}
%meta{ name: "twitter:image", content: @image.url(:medium)}
