%meta{ property: "fb:app_id", content: ENV["FACEBOOK_KEY"]}
%meta{ property: "og:title", content: image_name_with_default}
%meta{ property: "og:description", content: image_description}
%meta{ property: "og:image", content: @image.url(:medium) }
%meta{ property: "og:url", content: browse_image_url(@image) }
%meta{ property: "og:type", content: facebook_app_name }
%meta{ name: "twitter:title", content: image_name_with_default}

